# Feature Selection Strategy

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
df = pd.read_csv("../data/numeric_feature_table.csv")
df.head()

,id,Year,month,prev_month_sales,prev_3month_sales,avg_prev_3months_sales,min_prev_3months_sales,max_prev_3months_sales,monthly_oilprice_avg,total_month_holidays,...,cluster9,cluster10,cluster11,cluster12,cluster13,cluster14,cluster15,cluster16,cluster17,total_unit_sales
0,1,2013,4,46.0,53.0,58.666667,44.0,86.0,92.021364,5,...,0,0,0,0,1,0,0,0,0,44.0
1,2,2013,5,44.0,86.0,44.666667,44.0,46.0,94.509545,3,...,0,0,0,0,1,0,0,0,0,44.0
2,3,2013,6,44.0,46.0,45.000000,44.0,47.0,95.772500,4,...,0,0,0,0,1,0,0,0,0,47.0
3,4,2013,7,47.0,44.0,40.000000,29.0,47.0,104.670909,4,...,0,0,0,0,1,0,0,0,0,29.0
4,5,2013,8,29.0,44.0,38.000000,29.0,47.0,106.572727,4,...,0,0,0,0,1,0,0,0,0,38.0

In [4]:
#df['rejected'] = df['rejected'].astype('category')
#df['condition'] = df['condition'].astype('category')

df.dtypes

id                                 int64
Year                               int64
month                              int64
prev_month_sales                 float64
prev_3month_sales                float64
avg_prev_3months_sales           float64
min_prev_3months_sales           float64
max_prev_3months_sales           float64
monthly_oilprice_avg             float64
total_month_holidays               int64
total_month_transactions           int64
prev_month_transactions            int64
prev_3month_transactions           int64
avg_prev_3months_transactions    float64
min_prev_3months_transactions      int64
max_prev_3months_transactions      int64
BREAD.BAKERY                       int64
BEVERAGES                          int64
DAIRY                              int64
PERSONAL.CARE                      int64
HOME.CARE                          int64
FROZEN.FOODS                       int64
POULTRY                            int64
GROCERY.II                         int64
X.LIQUOR                           int64
EGGS                               int64
GROCERY.I                          int64
CLEANING                           int64
DELI                               int64
store_typeA                        int64
                                  ...
city_Loja                          int64
city_Machala                       int64
city_Manta                         int64
city_Playas                        int64
city_Puyo                          int64
city_Quevedo                       int64
city_Quito                         int64
city_Riobamba                      int64
city_Salinas                       int64
city_Santo.Domingo                 int64
total_city_sales                 float64
sales_perc                       float64
cluster1                           int64
cluster2                           int64
cluster3                           int64
cluster4                           int64
cluster5                           int64
cluster6                           int64
cluster7                           int64
cluster8                           int64
cluster9                           int64
cluster10                          int64
cluster11                          int64
cluster12                          int64
cluster13                          int64
cluster14                          int64
cluster15                          int64
cluster16                          int64
cluster17                          int64
total_unit_sales                 float64
Length: 76, dtype: object

In [5]:
df.shape

(1608523, 76)

In [6]:
varSel = pd.DataFrame({'Variable': df.columns[1:75]})
varSel

                         Variable
0                            Year
1                           month
2                prev_month_sales
3               prev_3month_sales
4          avg_prev_3months_sales
5          min_prev_3months_sales
6          max_prev_3months_sales
7            monthly_oilprice_avg
8            total_month_holidays
9        total_month_transactions
10        prev_month_transactions
11       prev_3month_transactions
12  avg_prev_3months_transactions
13  min_prev_3months_transactions
14  max_prev_3months_transactions
15                   BREAD.BAKERY
16                      BEVERAGES
17                          DAIRY
18                  PERSONAL.CARE
19                      HOME.CARE
20                   FROZEN.FOODS
21                        POULTRY
22                     GROCERY.II
23                       X.LIQUOR
24                           EGGS
25                      GROCERY.I
26                       CLEANING
27                           DELI
28                    store_typeA
29                    store_typeB
..                            ...
44                  city_Libertad
45                      city_Loja
46                   city_Machala
47                     city_Manta
48                    city_Playas
49                      city_Puyo
50                   city_Quevedo
51                     city_Quito
52                  city_Riobamba
53                   city_Salinas
54             city_Santo.Domingo
55               total_city_sales
56                     sales_perc
57                       cluster1
58                       cluster2
59                       cluster3
60                       cluster4
61                       cluster5
62                       cluster6
63                       cluster7
64                       cluster8
65                       cluster9
66                      cluster10
67                      cluster11
68                      cluster12
69                      cluster13
70                      cluster14
71                      cluster15
72                      cluster16
73                      cluster17

[74 rows x 1 columns]

## Table 1 function

In [6]:
import time
import sys
import os
import numpy as np
from scipy import stats
#from statsmodels.stats import multitest
from statsmodels.formula.api import ols
#import statsmodels.stats.api as sms
from statsmodels.stats.anova import anova_lm
import pandas as pd
from sklearn.preprocessing import normalize
#import matplotlib
### preventing matplotlib to open a graph window when saving...
#matplotlib.use('Agg')
import matplotlib.pyplot as plt
### preventing matplotlib to open a graph window when saving...
plt.ioff()
import seaborn as sns
## dissable the "SettingWithCopyWarning" warning
pd.options.mode.chained_assignment = None  # default='warn'
#import warnings

if(pd.__version__ < '0.21.0'):
    pd.set_option('use_inf_as_null',True)
else:
    pd.set_option('use_inf_as_na',True)

    
def Table1(data=None, x='',y='', rn='', miss=True, catmiss=True, formatted=True, categorize=True, factorVars='', maxcat=6, decimals=1, messages=True, excel=False, excel_file=''):
        data.head()
        print("Begining analysis...")
        table1 = _getTable1(data,x,  y, rn, miss, catmiss, formatted, categorize, factorVars, maxcat, decimals, messages, excel, excel_file)
    #    #self.table1 = self._getTable1(x, data, y, rn, miss, catmiss, formatted, categorize, factorVars, maxcat, decimals, messages, excel, excel_file)
        return(table1)

def _g1(var):
        res = {'mean':np.nanmean(var), 'sd':np.nanstd(var)}
        return(res)

def _g2(var):
        res = {'median':np.nanmedian(var), 'irq_25':np.nanpercentile(var,25), 'irq_75':np.nanpercentile(var,75)}
        return(res)

def _getUniqueCount(data):
        import pandas as pd
        bb = data.columns.tolist()
        cc = {}
        for v in bb:
            cc[v] = len(data.groupby(v).count())
        return(pd.Series(cc))


def _to_categorical(x):
        x = x.astype('category')
        return(x)

def _setFactors(data, factorVars, unq, catmiss, maxcat):
        aa =data.dtypes
        if(len(factorVars) > 0):
            for v in factorVars:
                #print("Variable %s is a %s" % (v,aa[v].name))
                if(aa[v].name!='category'):
                    data.loc[:,v] = _to_categorical(data[v])
                if(catmiss==True):
                    if(data[v].isnull().sum()>0):
                        #print("Adding missing category to %s" % v)
                        data[v] = data[v].cat.add_categories(['Missing'])
                        data.loc[data[v].isnull(),v] = "Missing"

        elif(len(factorVars)==0):
            #factorVars = self._getUniqueCount(data)
            factorVars = unq
            factorVars = factorVars[factorVars <= maxcat]
            for v in factorVars.index:
                if(aa[v].name!="category"):
                    data.loc[:,v] = _to_categorical(data[v])
                if(catmiss==True):
                    if(data[v].isnull().sum()>0):
                        data[v].cat.add_categories(['Missing'])
                        data.loc[data[v].isnull(),v] = "Missing"
        return(data)


def _getSimpleTable(data, x, rn, miss, catmiss, formatted, categorize, factorVars, unq, maxcat, decimals, messages):
        msg=[]
        if (len(rn)==0):
            rn = x
        ln = len(x)
        ### init the progress bar
        sys.stdout.write("[%s]" % ("" * ln))
        sys.stdout.flush()
        sys.stdout.write("\b" * (ln+1)) # return to start of line, after '['
        toolbar_width = 80
        ### define the column names
        tableaaaa = [[0,"Individuals","n",1, len(data)]]
        tablebbbb = [[0,"Individuals","n",1, len(data),'','']]
        q = 0
        n = 0
        ii = 0
        tm = 0
        for v in x:
          time.sleep(0.1) # do real work here
          # update the progress bar
          sys.stdout.write("*")
          sys.stdout.flush()
          ### check if the variable name exists in the dataset
          if({v}.issubset(data.columns)):
            ### check  if there are no values on the variable
            #if(data[v].nunique()==0):
            if(unq[v]==0):
                msg.append("The variable %s has no data... avoided" % v)
            ### define if the actual variable has to be treated as numeric or factor
            aa = data.dtypes
            #if(categorize==True and data[v].nunique() <= maxcat):
            if(categorize==True and (unq[v] <= maxcat)):
                data.loc[:,v] = _to_categorical(data[v])
            ### If date/time, don't show
            if(aa[v].name == 'datetime64[ns]'):
                msg.append("The variable %s is a date. Dates are not allowed in Table1... avoided" % v)
            ### if it is defined as object (not assigned numerical or categorical), ignore
            elif(aa[v].name == 'object'):
                msg.append("The variable %s is not well defined. This data type is not allowed in Table1... avoided" % v)
            ### if it is numeric, show
            elif(aa[v].name == 'float64' or aa[v].name == 'int64'):
                ## report mean and standard deviation
                t_n = _g1(data[v])
                tp = "%s (%s)" % ('{:8,.2f}'.format(round(t_n['mean'],decimals)), '{:8,.2f}'.format(round(t_n['sd'],decimals)))
                tbl1 = [0, rn[q],"Mean (SD)",1, tp]
                tbl2 = [0, rn[q],"Mean (SD)",1, round(t_n['mean'],5),round(t_n['sd'],5),'']
                tableaaaa.append(tbl1)
                tablebbbb.append(tbl2)
                ## report median and Interquartile ranges (25%,75%)
                t_n = _g2(data[[v]])
                tp = "%s (%s-%s)" % ('{:8,.2f}'.format(round(t_n['median'],decimals)), '{:8,.2f}'.format(round(t_n['irq_25'],decimals)), '{:8,.2f}'.format(round(t_n['irq_75'],decimals)))
                tbl1 = [0, rn[q],"Median (IQR)",2, tp]
                tbl2 = [0, rn[q],"Median (IQR)",2, round(t_n['median'],5),round(t_n['irq_25'],5),round(t_n['irq_75'],5)]
                tableaaaa.append(tbl1)
                tablebbbb.append(tbl2)
                ## report number and percent of missing
                if (miss >= 1):
                    if (data[v].isnull().sum()>0):
                        t_n  = len(data)
                        t_m = data[v].isnull().sum()
                        tp = "%s (%s%%)" % ('{:8,.2f}'.format(t_m),'{:8,.2f}'.format(round((t_m/t_n)*100,decimals)))
                        tbl1 = [0,rn[q],"Missing (%)",3, tp]
                        tbl2 = [0,rn[q],"Missing (%)",3, t_m, (t_m/t_n)*100, ]
                    else:
                        tbl1 = [1,rn[q],"Missing (%)",3, " -- "]
                        tbl2 = [1,rn[q],"Missing (%)",3,'' ,'' ,'' ]
                    tableaaaa.append(tbl1)
                    tablebbbb.append(tbl2)
            elif(aa[v].name == "category"):
                #if(data[v].nunique()>8):
                if(len(data.groupby(v).count())>8):
                    tmpcat = pd.Series.value_counts(data[v],dropna=(not catmiss))
                    n = len(tmpcat)
                    if(n > 8):
                        v1 = tmpcat[0:6].values
                        v2 = np.append(v1,tmpcat[7:n].sum())
                        a1 = tmpcat.index[0:6].values.tolist()
                        a2 = a1.extend(['Other'])
                        t_n = pd.Series(v2,a1)
                else:
                    t_n = pd.Series.value_counts(data[v],dropna=(not catmiss))
                ttotal = len(data)
                #nm = data[v].unique()
                nm = t_n.index.values
                for f in range(0,len(nm)):
                    del1 = 0
                    if(len(nm)==2 and (nm[f]=="No" or nm[f]=="no" or nm[f]==0 or nm[f]=="0" or nm[f]=="None" or nm[f]=="none")):
                        del1 = 1
                    tp = t_n.iloc[f] / ttotal * 100
                    pct = "%s (%s%%)" % ('{:8,.2f}'.format(round(t_n.iloc[f],decimals)), '{:8,.2f}'.format(round(tp,decimals)))
                    tbl1 = [del1,rn[q],nm[f],f, pct]             ########### delete rows 0/1 !!!!!!!!!
                    tbl2 = [del1,rn[q],nm[f],f, t_n.iloc[f], tp, ]    ########### delete rows 0/1 !!!!!!!!!
                    tableaaaa.append(tbl1)
                    tablebbbb.append(tbl2)
                if (miss >= 2 and catmiss==False ):
                    if (data[v].isnull().sum()>0):
                      t_n = len(data)
                      t_m = data[v].isnull().sum()
                      tp = "%s (%s%%)" % ('{:8,.2f}'.format(t_m), '{:8,.2f}'.format(round((t_m/t_n)*100,decimals)))
                      tbl1 = [0, rn[q], "Missing (%)", f, tp]
                      tbl2 = [0, rn[q], "Missing (%)", f, t_m, (t_m/t_n)*100, ]
                    else:
                      tbl1 = [1,rn[q],"Missing (%)",f, " -- "]
                      tbl2 = [1,rn[q],"Missing (%)",f,'' ,'' , '']
                    tableaaaa.append(tbl1)
                    tablebbbb.append(tbl2)
            else:
                msg.append("The variable %s doesn't exists in the dataset... avoiding" % v)

            q = q + 1
            ii = ii + 1
            tm = tm + 1
        if(formatted==True):
          ### terminate the progress bar
          sys.stdout.write("\n")
          if(messages==True):
              print(msg)
          return(tableaaaa)
        else:
          ### terminate the progress bar
          sys.stdout.write("\n")
          if(messages==True):
              print(msg)
          return(tablebbbb)


def _pvals(x, y, rn, data, unq, messages):
        msg = []
        ptab = [] #[["Variables","pval", "n"]]
        if (y!=''):
          if ({y}.issubset(data.columns)):
            if (len(rn)==0 or len(rn)<2):
                rn = x
            q = 0
            for v in x:
              #print(v)
              if ({v}.issubset(data.columns) and v != y):
                #factorY = data[y].nunique()
                factorY = unq[y]
                aa = data.dtypes
                if((aa[y].name == 'float64' or aa[y].name == 'int64' or aa[y].name == 'object') and factorY <= maxcat):
                    data.loc[:,y] = to_categorical(data[y])
                elif (aa[y].name == 'float64' or aa[y].name == 'int64'):
                  msg.append("The variable %s is not a factor. Please convert to factor or change the 'categorize' flag to TRUE." % y)
                  pval = []

                #if ((aa[v].name == 'float64' or aa[v].name == 'int64') and (data[y].nunique() > 1)):
                if ((aa[v].name == 'float64' or aa[v].name == 'int64' or aa[v].name == 'float32' or aa[v].name == 'int32') and (unq[y] > 1)):
                  ### first check for homoscedasticity
                    bb = pd.Series({x : y.tolist() for x,y in data[v].groupby(data[y])})
                    if (stats.bartlett(*bb)[1] >= 0.05):
                        formula = "%s ~ %s" % (v,y)
                        model = ols(formula,data=data,missing='drop').fit()
                        aov_table = anova_lm(model, typ=2)
                        pval =round(aov_table['PR(>F)'][0],3)
                    else:
                        prevar = data.loc[-data[v].isnull()]
                        bb = pd.Series({x : y.tolist() for x,y in prevar[v].groupby(prevar[y])})
                        pval = stats.f_oneway(*bb)[1]
                #elif (data[y].nunique()==1):
                elif (unq[y]==1):
                  pval = np.nan
                elif (aa[v].name=="datetime64[ns]"):
                    pval = np.nan
                else:
                    if(pd.crosstab(data[v],data[y]).min().min()>5):
                        pval = stats.chi2_contingency(pd.crosstab(data[v],data[y]))[1]
                    else:
                        ct = pd.crosstab(data[v],data[y])
                        if(ct.min().min()==0):
                        # in cases where there are cells with zero, we use Fisher's exact test
                            if(ct.shape == (2,2)):
                                pval = stats.fisher_exact(ct)[1]
                            else:
                                pval = stats.chi2_contingency(pd.crosstab(data[v],data[y]))[1]
                                msg.append("Unable to calcualte the Fisher exact test for variables %s and %s... The p-value may be incorrect" % (v,y))
                        else:
                            pval = stats.mstats.kruskalwallis(pd.crosstab(data[v],data[y]))[1]
                ptab.append([rn[q],round(pval,3),1])
              q = q + 1
        if(messages==True):
            print(msg)
        return(ptab)

###############################################################################################
####################### Begin analysis
###############################################################################################

def _getTable1(data, x, y, rn, miss, catmiss, formatted, categorize, factorVars, maxcat, decimals, messages, excel, excel_file):
        import time
        init = time.time()

        print("Factorizing... please wait")
        if (x=='' or len(x)==0):
            x = data.columns.tolist()
        if(y!='' and {y}.issubset(x)):
            #print(x)
            x.remove(y)
            #if ({'Unnamed: 0'}.issubset(x)):
            #    x.drop('Unnamed: 0')
        unq = _getUniqueCount(data)
        if ({'Unnamed: 0'}.issubset(unq)):
            unq.drop('Unnamed: 0')
        if (len(factorVars)==0):
            factorVars = unq[unq <= maxcat].index
        #print(data.dtypes)
        data = _setFactors(data=data, factorVars=factorVars, unq=unq, catmiss=catmiss, maxcat=maxcat)
        #print(data.dtypes)
        ##### if y is null then make a simple table
        #print("_getSimpleTable pass 1...")
        tabaaa1 = _getSimpleTable(x=x, rn=rn, data=data, miss=miss, catmiss=catmiss, unq=unq, formatted=formatted, categorize=categorize, factorVars=factorVars, maxcat=maxcat, decimals=decimals, messages=messages)
        if(formatted==True):
            tabaaa1 = pd.DataFrame(tabaaa1,columns=["Del","Variables","Categories","n","Population"])
        else:
            tabaaa1 = pd.DataFrame(tabaaa1,columns=["Del","Variables","Categories","n","val1","val2","val3"])
        #print(tabaaa1)
        ##### if y has two levels, then make a compound comparison
        if (y!=''): #1
            if ({y}.issubset(data.columns)):  #2
                if (data[y].dtype == "category"): #3
                    if (unq[y] > 8): #4
                        if (messages==True): #5
                            print("The dependent variable has more than 8 levels, table too large!")
                    elif(min(pd.Series.value_counts(data[y]))==0): #4
                        print("The dependent variable has one or more levels with no items assigned!")
                    else: # 4
                        data.loc[:,y] = _to_categorical(data[y])
                #if (data[y].nunique() >= 2): #3
                if (unq[y] > 6): #3
                    print("You have selected a Y that has more than six different values...")
                elif (unq[y] >= 2 and unq[y]<=6): #3
                    for lv in data[y].unique(): #4
                        #print("Category %s" % lv)
                        dtsub = data.loc[data[y]==lv]
                        #print("_getSimpleTable Y pass ...")
                        tab = _getSimpleTable(x=dtsub.columns,data=dtsub, rn=rn, miss=miss, unq=unq, catmiss=catmiss, formatted=formatted, categorize=categorize, factorVars=factorVars, maxcat=maxcat, decimals=decimals, messages=False)
                        if(formatted==True): # 5
                            tab1 = pd.DataFrame(tab,columns=["Del","Variables","Categories","n",'Category_%s' % lv])
                        else: #5
                            tab1 = pd.DataFrame(tab,columns=["Del","Variables","Categories","n","Cat_%s_val1" % lv,"Cat_%s_val2" % lv,"Cat_%s_val3" % lv])
                        tab1 = tab1.drop(['n'], axis=1) #5
                        #print(tab)
                        tabaaa1 = pd.merge(tabaaa1, tab1, on=['Del','Variables','Categories'],how='left')
                    #print(tabaaa1)

                    #print("_pvals pass ...")
                    ptab = _pvals(x=x,y=y, rn=rn, data=data, unq=unq, messages=messages)
                    ptab = pd.DataFrame(ptab,columns=["Variables","p_value", "n"])
                    #print(ptab)
                    tabaaa1 = pd.merge(tabaaa1, ptab, on=['Variables','n'],how='left')
                    tabaaa1 = tabaaa1.loc[tabaaa1['Population']!=" -- "]
                    tabaaa1 = tabaaa1.drop('n',1)
                    tabaaa1 = tabaaa1.drop('Del',1)
        #### Save as excel file
        if(excel==True):
            if(excel_file == ''):
                print("Please fill in the <excel_file> parameter with the file name including the path.")
            else:
                writer = pd.ExcelWriter(excel_file)
                tabaaa1.to_excel(writer,'Table1',index=False)
                writer.save()
                print("Excel file written to %s" % excel_file)
        print("------ Finished in % seconds -----" % (time.time() - init))
        return(tabaaa1) #1

In [24]:
!pip install pyMechkar

Requirement already satisfied: pyMechkar in c:\users\guy\anaconda3\lib\site-packages (0.1.5)

In [25]:
from pyMechkar import analysis

In [27]:
tab1 = analysis.Table1(data=df.loc[1:100,])

Begining analysis...
Factorizing... please wait
[************************************************************************************
[]
------ Finished in 11.755769491195679econds -----

In [28]:
tab1

,Del,Variables,Categories,n,Population
0,0,Individuals,n,1,100
1,0,id,Mean (SD),1,51.50 ( 28.90)
2,0,id,Median (IQR),2,51.50 ( 26.80- 76.20)
3,1,id,Missing (%),3,--
4,0,item_nbr,1003679,0,100.00 ( 100.00%)
5,0,store_nbr,1,0,51.00 ( 51.00%)
6,0,store_nbr,10,1,49.00 ( 49.00%)
7,0,Year,2016,0,24.00 ( 24.00%)
8,0,Year,2015,1,24.00 ( 24.00%)
9,0,Year,2014,2,22.00 ( 22.00%)
10,0,Year,2013,3,17.00 ( 17.00%)
11,0,Year,2017,4,13.00 ( 13.00%)
12,0,month,Mean (SD),1,6.60 ( 3.30)
13,0,month,Median (IQR),2,6.50 ( 4.00- 9.00)
14,1,month,Missing (%),3,--
15,0,city,Quito,0,100.00 ( 100.00%)
16,0,state,Pichincha,0,100.00 ( 100.00%)
17,0,store_type,D,0,51.00 ( 51.00%)
18,0,store_type,C,1,49.00 ( 49.00%)
19,0,store_cluster,13,0,51.00 ( 51.00%)
20,0,store_cluster,15,1,49.00 ( 49.00%)
21,0,prev_month_sales,Mean (SD),1,80.00 ( 66.20)
22,0,prev_month_sales,Median (IQR),2,61.00 ( 45.00- 78.20)
23,1,prev_month_sales,Missing (%),3,--
24,0,prev_3month_sales,Mean (SD),1,80.90 ( 66.20)
25,0,prev_3month_sales,Median (IQR),2,62.00 ( 45.00- 83.20)
26,1,prev_3month_sales,Missing (%),3,--
27,0,avg_prev_3months_sales,Mean (SD),1,78.60 ( 34.10)
28,0,avg_prev_3months_sales,Median (IQR),2,72.70 ( 52.90- 96.20)
29,1,avg_prev_3months_sales,Missing (%),3,--
...,...,...,...,...,...
105,0,city_Salinas,0,0,100.00 ( 100.00%)
106,0,city_Santo.Domingo,0,0,100.00 ( 100.00%)
107,0,total_city_sales,Mean (SD),1,"4,242,908.70 (435,124.60)"
108,0,total_city_sales,Median (IQR),2,"4,331,962.20 (3,947,022.40-4,548,325.50)"
109,1,total_city_sales,Missing (%),3,--
110,0,sales_perc,Mean (SD),1,48.30 ( 1.50)
111,0,sales_perc,Median (IQR),2,48.40 ( 47.30- 49.40)
112,1,sales_perc,Missing (%),3,--
113,0,cluster1,0,0,100.00 ( 100.00%)
114,0,cluster2,0,0,100.00 ( 100.00%)
115,0,cluster3,0,0,100.00 ( 100.00%)
116,0,cluster4,0,0,100.00 ( 100.00%)
117,0,cluster5,0,0,100.00 ( 100.00%)
118,0,cluster6,0,0,100.00 ( 100.00%)
119,0,cluster7,0,0,100.00 ( 100.00%)
120,0,cluster8,0,0,100.00 ( 100.00%)
121,0,cluster9,0,0,100.00 ( 100.00%)
122,0,cluster10,0,0,100.00 ( 100.00%)
123,0,cluster11,0,0,100.00 ( 100.00%)
124,0,cluster12,0,0,100.00 ( 100.00%)
125,0,cluster13,1,0,51.00 ( 51.00%)
126,1,cluster13,0,1,49.00 ( 49.00%)
127,0,cluster14,0,0,100.00 ( 100.00%)
128,1,cluster15,0,0,51.00 ( 51.00%)
129,0,cluster15,1,1,49.00 ( 49.00%)
130,0,cluster16,0,0,100.00 ( 100.00%)
131,0,cluster17,0,0,100.00 ( 100.00%)
132,0,total_unit_sales,Mean (SD),1,79.40 ( 66.70)
133,0,total_unit_sales,Median (IQR),2,61.00 ( 45.00- 76.50)
134,1,total_unit_sales,Missing (%),3,--

## Univariable Analysis

In [23]:
tab1 = Table1(x=df.columns[1:83], y="total_unit_sales", data=df)

Begining analysis...
Factorizing... please wait

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [37]:
tab1

,Variables,Categories,Population,Category_1,Category_2,Category_3,p_value
0,Individuals,n,23986,8089,7929,7968,NaN
1,Fz_N100,Mean (SD),-2.60 ( 11.30),-3.30 ( 11.70),-4.50 ( 10.90),0.10 ( 10.80),0.000
2,Fz_N100,Median (IQR),-2.60 ( -8.80- 3.50),-3.30 ( -9.60- 2.50),-4.40 ( -10.50- 1.60),-0.10 ( -5.90- 5.70),0.000
3,Fz_N100,Missing (%),785.00 ( 3.30%),253.00 ( 3.10%),298.00 ( 3.80%),234.00 ( 2.90%),NaN
4,FCz_N100,Mean (SD),-2.70 ( 11.30),-3.30 ( 11.40),-5.00 ( 11.20),0.20 ( 10.70),0.000
5,FCz_N100,Median (IQR),-2.60 ( -9.20- 3.80),-3.20 ( -9.90- 3.00),-4.80 ( -11.40- 1.50),0.10 ( -5.90- 6.30),0.000
6,FCz_N100,Missing (%),785.00 ( 3.30%),253.00 ( 3.10%),298.00 ( 3.80%),234.00 ( 2.90%),NaN
7,Cz_N100,Mean (SD),-2.10 ( 11.10),-2.50 ( 11.10),-4.70 ( 11.10),0.80 ( 10.50),0.000
8,Cz_N100,Median (IQR),-2.00 ( -8.60- 4.40),-2.30 ( -9.00- 3.80),-4.50 ( -11.00- 1.70),0.70 ( -5.40- 6.70),0.000
9,Cz_N100,Missing (%),785.00 ( 3.30%),253.00 ( 3.10%),298.00 ( 3.80%),234.00 ( 2.90%),NaN
10,FC3_N100,Mean (SD),-2.00 ( 10.20),-2.60 ( 10.30),-4.20 ( 10.00),0.70 ( 9.50),0.000
11,FC3_N100,Median (IQR),-2.00 ( -7.60- 3.70),-2.50 ( -8.10- 3.00),-4.20 ( -9.80- 1.50),0.50 ( -4.70- 5.80),0.000
12,FC3_N100,Missing (%),785.00 ( 3.30%),253.00 ( 3.10%),298.00 ( 3.80%),234.00 ( 2.90%),NaN
13,FC4_N100,Mean (SD),-2.30 ( 10.30),-3.00 ( 10.50),-4.20 ( 10.10),0.30 ( 9.60),0.000
14,FC4_N100,Median (IQR),-2.30 ( -8.00- 3.40),-3.00 ( -8.70- 2.60),-4.10 ( -9.80- 1.50),0.10 ( -5.20- 5.70),0.000
15,FC4_N100,Missing (%),785.00 ( 3.30%),253.00 ( 3.10%),298.00 ( 3.80%),234.00 ( 2.90%),NaN
16,C3_N100,Mean (SD),-1.50 ( 9.90),-1.90 ( 9.80),-4.00 ( 9.80),1.40 ( 9.20),0.000
17,C3_N100,Median (IQR),-1.40 ( -7.10- 4.10),-1.80 ( -7.40- 3.60),-4.00 ( -9.50- 1.50),1.30 ( -3.80- 6.50),0.000
18,C3_N100,Missing (%),785.00 ( 3.30%),253.00 ( 3.10%),298.00 ( 3.80%),234.00 ( 2.90%),NaN
19,C4_N100,Mean (SD),-2.00 ( 9.90),-2.50 ( 9.90),-3.90 ( 9.80),0.40 ( 9.40),0.000
20,C4_N100,Median (IQR),-2.00 ( -7.70- 3.60),-2.60 ( -8.20- 3.00),-3.80 ( -9.50- 1.80),0.40 ( -4.90- 5.80),0.000
21,C4_N100,Missing (%),785.00 ( 3.30%),253.00 ( 3.10%),298.00 ( 3.80%),234.00 ( 2.90%),NaN
22,CP3_N100,Mean (SD),-1.10 ( 10.10),-1.50 ( 10.00),-3.40 ( 10.30),1.40 ( 9.50),0.000
23,CP3_N100,Median (IQR),-1.10 ( -6.90- 4.70),-1.50 ( -7.20- 4.30),-3.20 ( -9.00- 2.40),1.30 ( -3.90- 6.70),0.000
24,CP3_N100,Missing (%),785.00 ( 3.30%),253.00 ( 3.10%),298.00 ( 3.80%),234.00 ( 2.90%),NaN
25,CP4_N100,Mean (SD),-1.50 ( 10.30),-1.90 ( 10.50),-3.10 ( 10.30),0.40 ( 9.90),0.000
26,CP4_N100,Median (IQR),-1.60 ( -7.40- 4.30),-2.20 ( -7.80- 4.00),-3.20 ( -8.90- 2.80),0.40 ( -5.20- 6.00),0.000
27,CP4_N100,Missing (%),785.00 ( 3.30%),253.00 ( 3.10%),298.00 ( 3.80%),234.00 ( 2.90%),NaN
28,Fz_P200,Mean (SD),3.00 ( 12.20),3.90 ( 12.90),3.30 ( 11.80),1.70 ( 11.70),0.000
29,Fz_P200,Median (IQR),2.50 ( -3.70- 9.10),3.40 ( -3.00- 10.10),2.90 ( -3.20- 9.50),1.40 ( -4.70- 7.50),0.000
...,...,...,...,...,...,...,...
79,CP4_B0,Mean (SD),0.00 ( 0.10),0.00 ( 0.10),0.00 ( 0.10),0.00 ( 0.10),0.113
80,CP4_B0,Median (IQR),0.00 ( -0.00- 0.00),0.00 ( -0.00- 0.00),0.00 ( -0.00- 0.00),0.00 ( -0.00- 0.00),0.113
81,CP4_B0,Missing (%),785.00 ( 3.30%),253.00 ( 3.10%),298.00 ( 3.80%),234.00 ( 2.90%),NaN
82,Fz_B1,Mean (SD),0.30 ( 13.20),0.60 ( 14.20),0.10 ( 13.10),0.40 ( 12.10),0.065
83,Fz_B1,Median (IQR),0.50 ( -6.20- 7.00),0.70 ( -6.00- 7.40),0.30 ( -6.40- 6.70),0.30 ( -6.20- 6.80),0.065
84,Fz_B1,Missing (%),785.00 ( 3.30%),253.00 ( 3.10%),298.00 ( 3.80%),234.00 ( 2.90%),NaN
85,FCz_B1,Mean (SD),0.60 ( 12.00),0.90 ( 12.20),0.10 ( 12.00),0.90 ( 11.60),0.000
86,FCz_B1,Median (IQR),0.70 ( -6.10- 7.40),1.00 ( -5.90- 7.80),0.20 ( -6.40- 6.80),0.80 ( -5.90- 7.50),0.000
87,FCz_B1,Missing (%),785.00 ( 3.30%),253.00 ( 3.10%),298.00 ( 3.80%),234.00 ( 2.90%),NaN
88,Cz_B1,Mean (SD),0.80 ( 11.40),1.00 ( 11.40),0.20 ( 11.50),1.10 ( 11.30),0.000
89,Cz_B1,Median (IQR),0.80 ( -5.70- 7.50),1.20 ( -5.40- 7.80),0.20 ( -6.30- 6.80),1.10 ( -5.50- 7.70),0.000
90,Cz_B1,Missing (%),785.00 ( 3.30%),253.00 ( 3.10%),298.00 ( 3.80%),234.00 ( 2.90%),NaN
91,FC3_B1,Mean (SD),0.70 ( 11.80),1.10 ( 12.10),0.10 ( 12.10),0.80 ( 11.00),0.000
92,FC3_B1,Median (IQR),0.60 ( -5.30- 6.90),1.20 ( -5.00- 7.50),0.10 ( -5.80- 6.30),0.70 ( -5.20- 6.80),0.000
93,FC3_B1,Missing (%),785.00 ( 3.30%),253.00 ( 3.10%),298.00 ( 3.80%),234.00 ( 2.90%),NaN
94,FC4_B1,Mean (SD),0.40 ( 11.90),0.40 ( 12.10),0.30 ( 12.30),0.40 ( 11.10),0.752
95,FC4_B1,Median (IQR),0.40 ( -5.80- 6.60),0.60 ( -5.60- 6.70),0.40 ( -5.90- 6.60),0.30 ( -5.80- 6.50),0.752
96,FC4_B1,Missing (%),785.00 ( 3.30%),253.00 ( 3.10%),298.00 ( 3.80%),234.00 ( 2.90%),NaN
97,C3_B1,Mean (SD),0.80 ( 10.70),1.10 ( 11.00),0.20 ( 10.80),1.10 ( 10.30),0.000
98,C3_B1,Median (IQR),0.80 ( -5.00- 6.80),1.00 ( -4.60- 7.30),0.30 ( -5.60- 6.30),1.10 ( -4.80- 7.00),0.000
99,C3_B1,Missing (%),785.00 ( 3.30%),253.00 ( 3.10%),298.00 ( 3.80%),234.00 ( 2.90%),NaN
100,C4_B1,Mean (SD),0.40 ( 10.80),0.50 ( 11.00),0.30 ( 10.80),0.40 ( 10.50),0.439
101,C4_B1,Median (IQR),0.40 ( -5.50- 6.50),0.70 ( -5.40- 6.80),0.40 ( -5.60- 6.20),0.30 ( -5.60- 6.30),0.439
102,C4_B1,Missing (%),785.00 ( 3.30%),253.00 ( 3.10%),298.00 ( 3.80%),234.00 ( 2.90%),NaN
103,CP3_B1,Mean (SD),0.60 ( 10.70),0.70 ( 10.80),0.20 ( 10.80),0.90 ( 10.50),0.000
104,CP3_B1,Median (IQR),0.70 ( -5.20- 6.70),0.70 ( -5.00- 6.90),0.30 ( -5.50- 6.40),0.90 ( -4.90- 6.90),0.000
105,CP3_B1,Missing (%),785.00 ( 3.30%),253.00 ( 3.10%),298.00 ( 3.80%),234.00 ( 2.90%),NaN
106,CP4_B1,Mean (SD),0.40 ( 11.30),0.40 ( 11.80),0.40 ( 11.40),0.30 ( 10.60),0.769
107,CP4_B1,Median (IQR),0.50 ( -5.60- 6.50),0.70 ( -5.50- 6.70),0.50 ( -5.60- 6.60),0.30 ( -5.60- 6.20),0.769
108,CP4_B1,Missing (%),785.00 ( 3.30%),253.00 ( 3.10%),298.00 ( 3.80%),234.00 ( 2.90%),NaN

In [40]:
tab1[tab1['p_value']<0.05]

,Variables,Categories,Population,Category_1,Category_2,Category_3,p_value
1,Fz_N100,Mean (SD),-2.60 ( 11.30),-3.30 ( 11.70),-4.50 ( 10.90),0.10 ( 10.80),0.000
2,Fz_N100,Median (IQR),-2.60 ( -8.80- 3.50),-3.30 ( -9.60- 2.50),-4.40 ( -10.50- 1.60),-0.10 ( -5.90- 5.70),0.000
4,FCz_N100,Mean (SD),-2.70 ( 11.30),-3.30 ( 11.40),-5.00 ( 11.20),0.20 ( 10.70),0.000
5,FCz_N100,Median (IQR),-2.60 ( -9.20- 3.80),-3.20 ( -9.90- 3.00),-4.80 ( -11.40- 1.50),0.10 ( -5.90- 6.30),0.000
7,Cz_N100,Mean (SD),-2.10 ( 11.10),-2.50 ( 11.10),-4.70 ( 11.10),0.80 ( 10.50),0.000
8,Cz_N100,Median (IQR),-2.00 ( -8.60- 4.40),-2.30 ( -9.00- 3.80),-4.50 ( -11.00- 1.70),0.70 ( -5.40- 6.70),0.000
10,FC3_N100,Mean (SD),-2.00 ( 10.20),-2.60 ( 10.30),-4.20 ( 10.00),0.70 ( 9.50),0.000
11,FC3_N100,Median (IQR),-2.00 ( -7.60- 3.70),-2.50 ( -8.10- 3.00),-4.20 ( -9.80- 1.50),0.50 ( -4.70- 5.80),0.000
13,FC4_N100,Mean (SD),-2.30 ( 10.30),-3.00 ( 10.50),-4.20 ( 10.10),0.30 ( 9.60),0.000
14,FC4_N100,Median (IQR),-2.30 ( -8.00- 3.40),-3.00 ( -8.70- 2.60),-4.10 ( -9.80- 1.50),0.10 ( -5.20- 5.70),0.000
16,C3_N100,Mean (SD),-1.50 ( 9.90),-1.90 ( 9.80),-4.00 ( 9.80),1.40 ( 9.20),0.000
17,C3_N100,Median (IQR),-1.40 ( -7.10- 4.10),-1.80 ( -7.40- 3.60),-4.00 ( -9.50- 1.50),1.30 ( -3.80- 6.50),0.000
19,C4_N100,Mean (SD),-2.00 ( 9.90),-2.50 ( 9.90),-3.90 ( 9.80),0.40 ( 9.40),0.000
20,C4_N100,Median (IQR),-2.00 ( -7.70- 3.60),-2.60 ( -8.20- 3.00),-3.80 ( -9.50- 1.80),0.40 ( -4.90- 5.80),0.000
22,CP3_N100,Mean (SD),-1.10 ( 10.10),-1.50 ( 10.00),-3.40 ( 10.30),1.40 ( 9.50),0.000
23,CP3_N100,Median (IQR),-1.10 ( -6.90- 4.70),-1.50 ( -7.20- 4.30),-3.20 ( -9.00- 2.40),1.30 ( -3.90- 6.70),0.000
25,CP4_N100,Mean (SD),-1.50 ( 10.30),-1.90 ( 10.50),-3.10 ( 10.30),0.40 ( 9.90),0.000
26,CP4_N100,Median (IQR),-1.60 ( -7.40- 4.30),-2.20 ( -7.80- 4.00),-3.20 ( -8.90- 2.80),0.40 ( -5.20- 6.00),0.000
28,Fz_P200,Mean (SD),3.00 ( 12.20),3.90 ( 12.90),3.30 ( 11.80),1.70 ( 11.70),0.000
29,Fz_P200,Median (IQR),2.50 ( -3.70- 9.10),3.40 ( -3.00- 10.10),2.90 ( -3.20- 9.50),1.40 ( -4.70- 7.50),0.000
31,FCz_P200,Mean (SD),3.60 ( 11.80),4.80 ( 12.20),3.90 ( 11.90),2.10 ( 11.30),0.000
32,FCz_P200,Median (IQR),3.20 ( -3.20- 10.10),4.50 ( -2.30- 11.50),3.60 ( -2.80- 10.40),1.80 ( -4.50- 8.30),0.000
34,Cz_P200,Mean (SD),3.80 ( 11.40),5.00 ( 11.60),3.90 ( 11.60),2.30 ( 10.90),0.000
35,Cz_P200,Median (IQR),3.40 ( -2.90- 10.20),4.70 ( -1.70- 11.60),3.70 ( -2.70- 10.40),1.90 ( -4.10- 8.40),0.000
37,FC3_P200,Mean (SD),3.20 ( 10.80),4.20 ( 11.40),3.20 ( 10.70),2.20 ( 10.30),0.000
38,FC3_P200,Median (IQR),3.00 ( -2.90- 8.90),3.90 ( -2.10- 10.00),2.90 ( -2.70- 8.80),2.00 ( -3.70- 7.70),0.000
40,FC4_P200,Mean (SD),2.70 ( 10.90),3.50 ( 11.40),3.30 ( 10.90),1.50 ( 10.30),0.000
41,FC4_P200,Median (IQR),2.40 ( -3.30- 8.40),3.20 ( -2.70- 9.30),2.90 ( -2.80- 9.10),1.20 ( -4.50- 7.00),0.000
43,C3_P200,Mean (SD),3.40 ( 10.20),4.50 ( 10.60),3.20 ( 10.20),2.50 ( 9.70),0.000
44,C3_P200,Median (IQR),3.20 ( -2.50- 9.10),4.20 ( -1.50- 10.40),3.00 ( -2.70- 8.90),2.30 ( -3.10- 7.80),0.000
46,C4_P200,Mean (SD),2.60 ( 10.20),3.40 ( 10.40),3.20 ( 10.20),1.30 ( 9.70),0.000
47,C4_P200,Median (IQR),2.40 ( -3.30- 8.30),3.40 ( -2.60- 9.10),2.90 ( -2.70- 8.80),1.10 ( -4.40- 6.80),0.000
49,CP3_P200,Mean (SD),2.70 ( 10.30),3.60 ( 10.60),2.70 ( 10.30),1.90 ( 9.80),0.000
50,CP3_P200,Median (IQR),2.50 ( -3.20- 8.40),3.50 ( -2.40- 9.50),2.50 ( -3.20- 8.50),1.70 ( -3.90- 7.40),0.000
52,CP4_P200,Mean (SD),2.10 ( 10.50),2.90 ( 10.80),2.60 ( 10.40),1.00 ( 10.00),0.000
53,CP4_P200,Median (IQR),2.00 ( -3.90- 7.90),2.80 ( -3.20- 8.70),2.40 ( -3.40- 8.40),0.90 ( -4.90- 6.50),0.000
55,Fz_B0,Mean (SD),-0.00 ( 0.10),-0.00 ( 0.10),0.00 ( 0.10),-0.00 ( 0.10),0.000
56,Fz_B0,Median (IQR),-0.00 ( -0.10- 0.00),-0.00 ( -0.10- 0.00),-0.00 ( -0.00- 0.00),-0.00 ( -0.10- 0.00),0.000
58,FCz_B0,Mean (SD),-0.00 ( 0.10),-0.00 ( 0.10),0.00 ( 0.10),-0.00 ( 0.10),0.000
59,FCz_B0,Median (IQR),-0.00 ( -0.10- 0.00),-0.00 ( -0.10- 0.00),0.00 ( -0.10- 0.10),-0.00 ( -0.10- 0.00),0.000
64,FC3_B0,Mean (SD),-0.00 ( 0.10),-0.00 ( 0.10),-0.00 ( 0.10),-0.00 ( 0.10),0.015
65,FC3_B0,Median (IQR),-0.00 ( -0.00- 0.00),-0.00 ( -0.00- 0.00),-0.00 ( -0.00- 0.00),-0.00 ( -0.00- 0.00),0.015
67,FC4_B0,Mean (SD),-0.00 ( 0.10),-0.00 ( 0.10),0.00 ( 0.10),-0.00 ( 0.10),0.023
68,FC4_B0,Median (IQR),-0.00 ( -0.00- 0.00),-0.00 ( -0.00- 0.00),0.00 ( -0.00- 0.00),-0.00 ( -0.00- 0.00),0.023
76,CP3_B0,Mean (SD),0.00 ( 0.10),0.00 ( 0.10),-0.00 ( 0.10),0.00 ( 0.10),0.000
77,CP3_B0,Median (IQR),0.00 ( -0.00- 0.00),0.00 ( -0.00- 0.10),-0.00 ( -0.00- 0.00),0.00 ( -0.00- 0.00),0.000
85,FCz_B1,Mean (SD),0.60 ( 12.00),0.90 ( 12.20),0.10 ( 12.00),0.90 ( 11.60),0.000
86,FCz_B1,Median (IQR),0.70 ( -6.10- 7.40),1.00 ( -5.90- 7.80),0.20 ( -6.40- 6.80),0.80 ( -5.90- 7.50),0.000
88,Cz_B1,Mean (SD),0.80 ( 11.40),1.00 ( 11.40),0.20 ( 11.50),1.10 ( 11.30),0.000
89,Cz_B1,Median (IQR),0.80 ( -5.70- 7.50),1.20 ( -5.40- 7.80),0.20 ( -6.30- 6.80),1.10 ( -5.50- 7.70),0.000
91,FC3_B1,Mean (SD),0.70 ( 11.80),1.10 ( 12.10),0.10 ( 12.10),0.80 ( 11.00),0.000
92,FC3_B1,Median (IQR),0.60 ( -5.30- 6.90),1.20 ( -5.00- 7.50),0.10 ( -5.80- 6.30),0.70 ( -5.20- 6.80),0.000
97,C3_B1,Mean (SD),0.80 ( 10.70),1.10 ( 11.00),0.20 ( 10.80),1.10 ( 10.30),0.000
98,C3_B1,Median (IQR),0.80 ( -5.00- 6.80),1.00 ( -4.60- 7.30),0.30 ( -5.60- 6.30),1.10 ( -4.80- 7.00),0.000
103,CP3_B1,Mean (SD),0.60 ( 10.70),0.70 ( 10.80),0.20 ( 10.80),0.90 ( 10.50),0.000
104,CP3_B1,Median (IQR),0.70 ( -5.20- 6.70),0.70 ( -5.00- 6.90),0.30 ( -5.50- 6.40),0.90 ( -4.90- 6.90),0.000

In [42]:
vn1 = tab1.loc[tab1['p_value']<0.05,'Variables'].unique()
print(len(vn1))
vn1

28

array(['Fz_N100', 'FCz_N100', 'Cz_N100', 'FC3_N100', 'FC4_N100',
       'C3_N100', 'C4_N100', 'CP3_N100', 'CP4_N100', 'Fz_P200',
       'FCz_P200', 'Cz_P200', 'FC3_P200', 'FC4_P200', 'C3_P200',
       'C4_P200', 'CP3_P200', 'CP4_P200', 'Fz_B0', 'FCz_B0', 'FC3_B0',
       'FC4_B0', 'CP3_B0', 'FCz_B1', 'Cz_B1', 'FC3_B1', 'C3_B1', 'CP3_B1'],
      dtype=object)

We will add these variables to our variable selection table

In [48]:
varSel['Univarable'] = 0
varSel.loc[varSel['Variable'].isin(vn1), 'Univarable'] = 1
varSel

    Variable  Univarable
0    Fz_N100           1
1   FCz_N100           1
2    Cz_N100           1
3   FC3_N100           1
4   FC4_N100           1
5    C3_N100           1
6    C4_N100           1
7   CP3_N100           1
8   CP4_N100           1
9    Fz_P200           1
10  FCz_P200           1
11   Cz_P200           1
12  FC3_P200           1
13  FC4_P200           1
14   C3_P200           1
15   C4_P200           1
16  CP3_P200           1
17  CP4_P200           1
18     Fz_B0           1
19    FCz_B0           1
20     Cz_B0           0
21    FC3_B0           1
22    FC4_B0           1
23     C3_B0           0
24     C4_B0           0
25    CP3_B0           1
26    CP4_B0           0
27     Fz_B1           0
28    FCz_B1           1
29     Cz_B1           1
30    FC3_B1           1
31    FC4_B1           0
32     C3_B1           1
33     C4_B1           0
34    CP3_B1           1
35    CP4_B1           0

## Multivariable Analysis

In [7]:
### drop na
##df = df.dropna()

In [4]:
## remove unnecessary vars
X = df.loc[:,df.columns[1:75]]
X.head()

,Year,month,prev_month_sales,prev_3month_sales,avg_prev_3months_sales,min_prev_3months_sales,max_prev_3months_sales,monthly_oilprice_avg,total_month_holidays,total_month_transactions,...,cluster8,cluster9,cluster10,cluster11,cluster12,cluster13,cluster14,cluster15,cluster16,cluster17
0,2013,4,46.0,53.0,58.666667,44.0,86.0,92.021364,5,46740,...,0,0,0,0,0,1,0,0,0,0
1,2013,5,44.0,86.0,44.666667,44.0,46.0,94.509545,3,46286,...,0,0,0,0,0,1,0,0,0,0
2,2013,6,44.0,46.0,45.000000,44.0,47.0,95.772500,4,44876,...,0,0,0,0,0,1,0,0,0,0
3,2013,7,47.0,44.0,40.000000,29.0,47.0,104.670909,4,47874,...,0,0,0,0,0,1,0,0,0,0
4,2013,8,29.0,44.0,38.000000,29.0,47.0,106.572727,4,45789,...,0,0,0,0,0,1,0,0,0,0

In [5]:
 y = df.loc[:,df.columns[75]]
print([X.shape,y.shape])

[(1608523, 74), (1608523,)]

In [6]:
y

0           44.0
1           44.0
2           47.0
3           29.0
4           38.0
5           49.0
6           37.0
7           56.0
8          199.0
9           45.0
10          76.0
11          70.0
12          63.0
13          38.0
14          37.0
15          40.0
16          34.0
17          45.0
18          36.0
19         361.0
20          43.0
21          70.0
22          62.0
23          76.0
24         102.0
25          85.0
26          45.0
27          43.0
28          50.0
29          42.0
           ...
1608493    279.0
1608494    359.0
1608495    403.0
1608496    229.0
1608497    337.0
1608498    286.0
1608499    220.0
1608500      3.0
1608501    163.0
1608502    130.0
1608503    269.0
1608504    238.0
1608505    222.0
1608506    277.0
1608507    219.0
1608508    247.0
1608509     96.0
1608510     97.0
1608511    120.0
1608512    108.0
1608513     97.0
1608514    164.0
1608515    196.0
1608516    165.0
1608517    148.0
1608518    146.0
1608519    180.0
1608520    183.0
1608521    195.0
1608522    128.0
Name: total_unit_sales, Length: 1608523, dtype: float64

### Variable Selection using LASSO (L1 penalization)

In [7]:
from sklearn.linear_model import Lasso
from sklearn.feature_selection import SelectFromModel

lassomod = Lasso(alpha=0.05).fit(X, y)

C:\Users\Guy\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 677048724.5894045, tolerance: 1756160.42076359
  positive)

In [8]:
model = SelectFromModel(lassomod, prefit=True)
model.get_support()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False, False, False,
       False, False, False, False, False, False, False,  True, False,
       False, False, False, False,  True, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [9]:
varSel['Lasso'] = model.get_support().astype('int64')
varSel

                         Variable  Lasso
0                            Year      1
1                           month      1
2                prev_month_sales      1
3               prev_3month_sales      1
4          avg_prev_3months_sales      1
5          min_prev_3months_sales      1
6          max_prev_3months_sales      1
7            monthly_oilprice_avg      1
8            total_month_holidays      1
9        total_month_transactions      1
10        prev_month_transactions      1
11       prev_3month_transactions      1
12  avg_prev_3months_transactions      1
13  min_prev_3months_transactions      1
14  max_prev_3months_transactions      1
15                   BREAD.BAKERY      0
16                      BEVERAGES      0
17                          DAIRY      0
18                  PERSONAL.CARE      0
19                      HOME.CARE      0
20                   FROZEN.FOODS      0
21                        POULTRY      0
22                     GROCERY.II      0
23                       X.LIQUOR      0
24                           EGGS      0
25                      GROCERY.I      1
26                       CLEANING      0
27                           DELI      0
28                    store_typeA      0
29                    store_typeB      0
..                            ...    ...
44                  city_Libertad      0
45                      city_Loja      0
46                   city_Machala      0
47                     city_Manta      0
48                    city_Playas      0
49                      city_Puyo      0
50                   city_Quevedo      0
51                     city_Quito      0
52                  city_Riobamba      0
53                   city_Salinas      0
54             city_Santo.Domingo      0
55               total_city_sales      0
56                     sales_perc      1
57                       cluster1      0
58                       cluster2      0
59                       cluster3      0
60                       cluster4      0
61                       cluster5      0
62                       cluster6      0
63                       cluster7      0
64                       cluster8      0
65                       cluster9      0
66                      cluster10      0
67                      cluster11      0
68                      cluster12      0
69                      cluster13      0
70                      cluster14      0
71                      cluster15      0
72                      cluster16      0
73                      cluster17      0

[74 rows x 2 columns]

### Variable Selection using Random Forest

In [10]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.feature_selection import SelectFromModel

rfmod = RandomForestRegressor().fit(X, y)
#rfmod.feature_importances_

C:\Users\Guy\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [11]:
model = SelectFromModel(rfmod, prefit=True)
model.get_support()

array([False, False,  True, False,  True,  True,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [12]:
varSel['RandomForest'] = model.get_support().astype('int64')
varSel

                         Variable  Lasso  RandomForest
0                            Year      1             0
1                           month      1             0
2                prev_month_sales      1             1
3               prev_3month_sales      1             0
4          avg_prev_3months_sales      1             1
5          min_prev_3months_sales      1             1
6          max_prev_3months_sales      1             1
7            monthly_oilprice_avg      1             0
8            total_month_holidays      1             0
9        total_month_transactions      1             0
10        prev_month_transactions      1             0
11       prev_3month_transactions      1             0
12  avg_prev_3months_transactions      1             0
13  min_prev_3months_transactions      1             0
14  max_prev_3months_transactions      1             0
15                   BREAD.BAKERY      0             0
16                      BEVERAGES      0             0
17                          DAIRY      0             0
18                  PERSONAL.CARE      0             0
19                      HOME.CARE      0             0
20                   FROZEN.FOODS      0             0
21                        POULTRY      0             0
22                     GROCERY.II      0             0
23                       X.LIQUOR      0             0
24                           EGGS      0             0
25                      GROCERY.I      1             0
26                       CLEANING      0             0
27                           DELI      0             0
28                    store_typeA      0             0
29                    store_typeB      0             0
..                            ...    ...           ...
44                  city_Libertad      0             0
45                      city_Loja      0             0
46                   city_Machala      0             0
47                     city_Manta      0             0
48                    city_Playas      0             0
49                      city_Puyo      0             0
50                   city_Quevedo      0             0
51                     city_Quito      0             0
52                  city_Riobamba      0             0
53                   city_Salinas      0             0
54             city_Santo.Domingo      0             0
55               total_city_sales      0             0
56                     sales_perc      1             0
57                       cluster1      0             0
58                       cluster2      0             0
59                       cluster3      0             0
60                       cluster4      0             0
61                       cluster5      0             0
62                       cluster6      0             0
63                       cluster7      0             0
64                       cluster8      0             0
65                       cluster9      0             0
66                      cluster10      0             0
67                      cluster11      0             0
68                      cluster12      0             0
69                      cluster13      0             0
70                      cluster14      0             0
71                      cluster15      0             0
72                      cluster16      0             0
73                      cluster17      0             0

[74 rows x 3 columns]

### Variable Selection using Gradient Boosting classification

In [13]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.feature_selection import SelectFromModel

gbmod = GradientBoostingRegressor().fit(X,y)

In [14]:
model = SelectFromModel(gbmod, prefit=True)
model.get_support()

array([False, False, False, False,  True,  True,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [15]:
varSel['GradientBoost'] = model.get_support().astype('int64')
varSel

                         Variable  Lasso  RandomForest  GradientBoost
0                            Year      1             0              0
1                           month      1             0              0
2                prev_month_sales      1             1              0
3               prev_3month_sales      1             0              0
4          avg_prev_3months_sales      1             1              1
5          min_prev_3months_sales      1             1              1
6          max_prev_3months_sales      1             1              1
7            monthly_oilprice_avg      1             0              0
8            total_month_holidays      1             0              0
9        total_month_transactions      1             0              0
10        prev_month_transactions      1             0              0
11       prev_3month_transactions      1             0              0
12  avg_prev_3months_transactions      1             0              0
13  min_prev_3months_transactions      1             0              0
14  max_prev_3months_transactions      1             0              0
15                   BREAD.BAKERY      0             0              0
16                      BEVERAGES      0             0              0
17                          DAIRY      0             0              0
18                  PERSONAL.CARE      0             0              0
19                      HOME.CARE      0             0              0
20                   FROZEN.FOODS      0             0              0
21                        POULTRY      0             0              0
22                     GROCERY.II      0             0              0
23                       X.LIQUOR      0             0              0
24                           EGGS      0             0              0
25                      GROCERY.I      1             0              0
26                       CLEANING      0             0              0
27                           DELI      0             0              0
28                    store_typeA      0             0              0
29                    store_typeB      0             0              0
..                            ...    ...           ...            ...
44                  city_Libertad      0             0              0
45                      city_Loja      0             0              0
46                   city_Machala      0             0              0
47                     city_Manta      0             0              0
48                    city_Playas      0             0              0
49                      city_Puyo      0             0              0
50                   city_Quevedo      0             0              0
51                     city_Quito      0             0              0
52                  city_Riobamba      0             0              0
53                   city_Salinas      0             0              0
54             city_Santo.Domingo      0             0              0
55               total_city_sales      0             0              0
56                     sales_perc      1             0              0
57                       cluster1      0             0              0
58                       cluster2      0             0              0
59                       cluster3      0             0              0
60                       cluster4      0             0              0
61                       cluster5      0             0              0
62                       cluster6      0             0              0
63                       cluster7      0             0              0
64                       cluster8      0             0              0
65                       cluster9      0             0              0
66                      cluster10      0             0              0
67                      cluster11      0             0              0
68                      cluster12      0             0              0
69                      cluster13      0             0              0
70                      cluster14      0             0              0
71                      cluster15      0             0              0
72                      cluster16      0             0              0
73                      cluster17      0             0              0

[74 rows x 4 columns]

### Variable Selection using SVM classification

In [ ]:
from sklearn import svm
from sklearn.feature_selection import SelectFromModel

svmmod = svm.SVR( C=1, gamma=0.1).fit(X, y)

In [ ]:
model = SelectFromModel(svmmod, prefit=True)
model.get_support()

In [ ]:
varSel['SVM'] = model.get_support().astype('int64')
varSel

# Ada Boost

In [16]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.feature_selection import SelectFromModel

ABRmod = AdaBoostRegressor(random_state=1).fit(X,y)

In [18]:
model = SelectFromModel(ABRmod, prefit=True)
model.get_support()

array([False,  True,  True,  True,  True,  True,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [19]:
varSel['Ada Boost'] = model.get_support().astype('int64')
varSel

,Variable,Lasso,RandomForest,GradientBoost,Ada Boost
0,Year,1,0,0,0
1,month,1,0,0,1
2,prev_month_sales,1,1,0,1
3,prev_3month_sales,1,0,0,1
4,avg_prev_3months_sales,1,1,1,1
5,min_prev_3months_sales,1,1,1,1
6,max_prev_3months_sales,1,1,1,1
7,monthly_oilprice_avg,1,0,0,0
8,total_month_holidays,1,0,0,0
9,total_month_transactions,1,0,0,0
10,prev_month_transactions,1,0,0,0
11,prev_3month_transactions,1,0,0,0
12,avg_prev_3months_transactions,1,0,0,0
13,min_prev_3months_transactions,1,0,0,0
14,max_prev_3months_transactions,1,0,0,0
15,BREAD.BAKERY,0,0,0,0
16,BEVERAGES,0,0,0,0
17,DAIRY,0,0,0,0
18,PERSONAL.CARE,0,0,0,0
19,HOME.CARE,0,0,0,0
20,FROZEN.FOODS,0,0,0,0
21,POULTRY,0,0,0,0
22,GROCERY.II,0,0,0,0
23,X.LIQUOR,0,0,0,0
24,EGGS,0,0,0,0
25,GROCERY.I,1,0,0,0
26,CLEANING,0,0,0,0
27,DELI,0,0,0,0
28,store_typeA,0,0,0,0
29,store_typeB,0,0,0,0
...,...,...,...,...,...
44,city_Libertad,0,0,0,0
45,city_Loja,0,0,0,0
46,city_Machala,0,0,0,0
47,city_Manta,0,0,0,0
48,city_Playas,0,0,0,0
49,city_Puyo,0,0,0,0
50,city_Quevedo,0,0,0,0
51,city_Quito,0,0,0,0
52,city_Riobamba,0,0,0,0
53,city_Salinas,0,0,0,0
54,city_Santo.Domingo,0,0,0,0
55,total_city_sales,0,0,0,0
56,sales_perc,1,0,0,0
57,cluster1,0,0,0,0
58,cluster2,0,0,0,0
59,cluster3,0,0,0,0
60,cluster4,0,0,0,0
61,cluster5,0,0,0,0
62,cluster6,0,0,0,0
63,cluster7,0,0,0,0
64,cluster8,0,0,0,0
65,cluster9,0,0,0,0
66,cluster10,0,0,0,0
67,cluster11,0,0,0,0
68,cluster12,0,0,0,0
69,cluster13,0,0,0,0
70,cluster14,0,0,0,0
71,cluster15,0,0,0,0
72,cluster16,0,0,0,0
73,cluster17,0,0,0,0

## KNN

In [34]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.feature_selection import SelectFromModel
neigh = KNeighborsRegressor(n_neighbors=5).fit(X, y)

In [35]:
from sklearn.feature_selection import SelectFromModel
model = SelectFromModel(neigh, prefit=True)
model.get_support()

ValueError: The underlying estimator KNeighborsRegressor has no `coef_` or `feature_importances_` attribute. Either pass a fitted estimator to SelectFromModel or call fit before calling transform.

In [ ]:
varSel['KNN'] = model.get_support().astype('int64')
varSel

## Ridge L2 regularization

In [36]:
from sklearn.linear_model import Ridge
from sklearn.feature_selection import SelectFromModel
Rdg = Ridge(alpha=0.5).fit(X,y)

C:\Users\Guy\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=8.67136e-20): result may not be accurate.
  overwrite_a=True).T

In [37]:
model = SelectFromModel(Rdg, prefit=True)
model.get_support()

array([False, False, False, False,  True, False, False, False, False,
       False, False, False, False, False, False, False,  True, False,
        True, False, False,  True,  True,  True, False,  True, False,
       False, False, False, False, False, False, False,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True, False,  True,  True, False,  True,
       False, False, False, False, False, False, False, False, False,
        True, False, False, False, False, False, False, False, False,
       False, False])

In [38]:
varSel['Ridge'] = model.get_support().astype('int64')
varSel

,Variable,Lasso,RandomForest,GradientBoost,Ada Boost,Ridge
0,Year,1,0,0,0,0
1,month,1,0,0,1,0
2,prev_month_sales,1,1,0,1,0
3,prev_3month_sales,1,0,0,1,0
4,avg_prev_3months_sales,1,1,1,1,1
5,min_prev_3months_sales,1,1,1,1,0
6,max_prev_3months_sales,1,1,1,1,0
7,monthly_oilprice_avg,1,0,0,0,0
8,total_month_holidays,1,0,0,0,0
9,total_month_transactions,1,0,0,0,0
10,prev_month_transactions,1,0,0,0,0
11,prev_3month_transactions,1,0,0,0,0
12,avg_prev_3months_transactions,1,0,0,0,0
13,min_prev_3months_transactions,1,0,0,0,0
14,max_prev_3months_transactions,1,0,0,0,0
15,BREAD.BAKERY,0,0,0,0,0
16,BEVERAGES,0,0,0,0,1
17,DAIRY,0,0,0,0,0
18,PERSONAL.CARE,0,0,0,0,1
19,HOME.CARE,0,0,0,0,0
20,FROZEN.FOODS,0,0,0,0,0
21,POULTRY,0,0,0,0,1
22,GROCERY.II,0,0,0,0,1
23,X.LIQUOR,0,0,0,0,1
24,EGGS,0,0,0,0,0
25,GROCERY.I,1,0,0,0,1
26,CLEANING,0,0,0,0,0
27,DELI,0,0,0,0,0
28,store_typeA,0,0,0,0,0
29,store_typeB,0,0,0,0,0
...,...,...,...,...,...,...
44,city_Libertad,0,0,0,0,1
45,city_Loja,0,0,0,0,1
46,city_Machala,0,0,0,0,0
47,city_Manta,0,0,0,0,1
48,city_Playas,0,0,0,0,1
49,city_Puyo,0,0,0,0,0
50,city_Quevedo,0,0,0,0,1
51,city_Quito,0,0,0,0,1
52,city_Riobamba,0,0,0,0,0
53,city_Salinas,0,0,0,0,1
54,city_Santo.Domingo,0,0,0,0,0
55,total_city_sales,0,0,0,0,0
56,sales_perc,1,0,0,0,0
57,cluster1,0,0,0,0,0
58,cluster2,0,0,0,0,0
59,cluster3,0,0,0,0,0
60,cluster4,0,0,0,0,0
61,cluster5,0,0,0,0,0
62,cluster6,0,0,0,0,0
63,cluster7,0,0,0,0,1
64,cluster8,0,0,0,0,0
65,cluster9,0,0,0,0,0
66,cluster10,0,0,0,0,0
67,cluster11,0,0,0,0,0
68,cluster12,0,0,0,0,0
69,cluster13,0,0,0,0,0
70,cluster14,0,0,0,0,0
71,cluster15,0,0,0,0,0
72,cluster16,0,0,0,0,0
73,cluster17,0,0,0,0,0

## Decision tree

In [39]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.feature_selection import SelectFromModel
dtree= DecisionTreeRegressor(random_state=2).fit(X,y)

In [40]:
model = SelectFromModel(dtree, prefit=True)
model.get_support()

array([False, False,  True, False,  True,  True,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [41]:
varSel['dtree'] = model.get_support().astype('int64')
varSel

,Variable,Lasso,RandomForest,GradientBoost,Ada Boost,Ridge,dtree
0,Year,1,0,0,0,0,0
1,month,1,0,0,1,0,0
2,prev_month_sales,1,1,0,1,0,1
3,prev_3month_sales,1,0,0,1,0,0
4,avg_prev_3months_sales,1,1,1,1,1,1
5,min_prev_3months_sales,1,1,1,1,0,1
6,max_prev_3months_sales,1,1,1,1,0,1
7,monthly_oilprice_avg,1,0,0,0,0,0
8,total_month_holidays,1,0,0,0,0,0
9,total_month_transactions,1,0,0,0,0,0
10,prev_month_transactions,1,0,0,0,0,0
11,prev_3month_transactions,1,0,0,0,0,0
12,avg_prev_3months_transactions,1,0,0,0,0,0
13,min_prev_3months_transactions,1,0,0,0,0,0
14,max_prev_3months_transactions,1,0,0,0,0,0
15,BREAD.BAKERY,0,0,0,0,0,0
16,BEVERAGES,0,0,0,0,1,0
17,DAIRY,0,0,0,0,0,0
18,PERSONAL.CARE,0,0,0,0,1,0
19,HOME.CARE,0,0,0,0,0,0
20,FROZEN.FOODS,0,0,0,0,0,0
21,POULTRY,0,0,0,0,1,0
22,GROCERY.II,0,0,0,0,1,0
23,X.LIQUOR,0,0,0,0,1,0
24,EGGS,0,0,0,0,0,0
25,GROCERY.I,1,0,0,0,1,0
26,CLEANING,0,0,0,0,0,0
27,DELI,0,0,0,0,0,0
28,store_typeA,0,0,0,0,0,0
29,store_typeB,0,0,0,0,0,0
...,...,...,...,...,...,...,...
44,city_Libertad,0,0,0,0,1,0
45,city_Loja,0,0,0,0,1,0
46,city_Machala,0,0,0,0,0,0
47,city_Manta,0,0,0,0,1,0
48,city_Playas,0,0,0,0,1,0
49,city_Puyo,0,0,0,0,0,0
50,city_Quevedo,0,0,0,0,1,0
51,city_Quito,0,0,0,0,1,0
52,city_Riobamba,0,0,0,0,0,0
53,city_Salinas,0,0,0,0,1,0
54,city_Santo.Domingo,0,0,0,0,0,0
55,total_city_sales,0,0,0,0,0,0
56,sales_perc,1,0,0,0,0,0
57,cluster1,0,0,0,0,0,0
58,cluster2,0,0,0,0,0,0
59,cluster3,0,0,0,0,0,0
60,cluster4,0,0,0,0,0,0
61,cluster5,0,0,0,0,0,0
62,cluster6,0,0,0,0,0,0
63,cluster7,0,0,0,0,1,0
64,cluster8,0,0,0,0,0,0
65,cluster9,0,0,0,0,0,0
66,cluster10,0,0,0,0,0,0
67,cluster11,0,0,0,0,0,0
68,cluster12,0,0,0,0,0,0
69,cluster13,0,0,0,0,0,0
70,cluster14,0,0,0,0,0,0
71,cluster15,0,0,0,0,0,0
72,cluster16,0,0,0,0,0,0
73,cluster17,0,0,0,0,0,0

## XG boost

In [ ]:
from sklearn import svm
from sklearn.feature_selection import SelectFromModel
clf = svm.SVR(C=1, gamma=0.1).fit(X,y)

### Summarization and Selection of Variables

In [1]:
varSel['Sum'] =  np.sum(varSel,axis=1)
varSel

NameError: name 'np' is not defined

In [133]:
varSel.groupby('Sum')['Variable'].count()

Sum
0     3
1     4
2     4
3     8
4    10
5     7
Name: Variable, dtype: int64

We can now decide a threshold for selecting our variables!