# Feature Selection Strategy

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [4]:
df = pd.read_csv("../data/minmaxeng.csv")
df.head()

,id,item_nbr,store_nbr,Year,month,store_cluster,prev_month_sales,prev_3month_sales,avg_prev_3months_sales,min_prev_3months_sales,...,item414353,top5_item,year2016,month7,month5,month6,month4,month8,top5_month,total_unit_sales
0,1,1003679,1,2013,10,13,7.436898e-07,6.427949e-07,7.060924e-07,6.842175e-07,...,0,0,0,0,0,0,0,0,0,6.894849e-07
1,2,1003679,1,2014,6,13,7.924480e-07,8.289726e-07,7.695696e-07,6.894849e-07,...,0,0,0,0,0,1,0,0,1,6.946154e-07
2,3,1003679,1,2015,1,13,1.139009e-06,7.272208e-07,9.598006e-07,6.788059e-07,...,0,0,0,0,0,0,0,0,0,7.184410e-07
3,4,1003679,1,2015,4,13,7.893375e-07,7.184410e-07,8.082575e-07,7.861772e-07,...,0,0,0,0,0,0,1,0,1,8.289726e-07
4,5,1003679,1,2015,9,13,7.184410e-07,8.508061e-07,7.272208e-07,7.139003e-07,...,0,0,0,0,0,0,0,0,0,7.476011e-07

In [5]:
#df['rejected'] = df['rejected'].astype('category')
#df['condition'] = df['condition'].astype('category')

df.dtypes

id                                 int64
item_nbr                           int64
store_nbr                          int64
Year                               int64
month                              int64
store_cluster                      int64
prev_month_sales                 float64
prev_3month_sales                float64
avg_prev_3months_sales           float64
min_prev_3months_sales           float64
max_prev_3months_sales           float64
monthly_oilprice_avg             float64
total_month_holidays             float64
total_month_transactions         float64
prev_month_transactions          float64
prev_3month_transactions         float64
avg_prev_3months_transactions    float64
min_prev_3months_transactions    float64
max_prev_3months_transactions    float64
BREAD.BAKERY                       int64
BEVERAGES                          int64
DAIRY                              int64
PERSONAL.CARE                      int64
HOME.CARE                          int64
FROZEN.FOODS                       int64
POULTRY                            int64
GROCERY.II                         int64
X.LIQUOR                           int64
EGGS                               int64
GROCERY.I                          int64
                                  ...
cluster7                           int64
cluster8                           int64
cluster9                           int64
cluster10                          int64
cluster11                          int64
cluster12                          int64
cluster13                          int64
cluster14                          int64
cluster15                          int64
cluster16                          int64
cluster17                          int64
class1040                          int64
class1122                          int64
class3020                          int64
class1072                          int64
class1016                          int64
item502331                         int64
item273528                         int64
item564533                         int64
item621300                         int64
item414353                         int64
top5_item                          int64
year2016                           int64
month7                             int64
month5                             int64
month6                             int64
month4                             int64
month8                             int64
top5_month                         int64
total_unit_sales                 float64
Length: 97, dtype: object

In [6]:
df.shape

(1734047, 97)

In [7]:
varSel = pd.DataFrame({'Variable': df.columns[1:96]})
varSel

                         Variable
0                        item_nbr
1                       store_nbr
2                            Year
3                           month
4                   store_cluster
5                prev_month_sales
6               prev_3month_sales
7          avg_prev_3months_sales
8          min_prev_3months_sales
9          max_prev_3months_sales
10           monthly_oilprice_avg
11           total_month_holidays
12       total_month_transactions
13        prev_month_transactions
14       prev_3month_transactions
15  avg_prev_3months_transactions
16  min_prev_3months_transactions
17  max_prev_3months_transactions
18                   BREAD.BAKERY
19                      BEVERAGES
20                          DAIRY
21                  PERSONAL.CARE
22                      HOME.CARE
23                   FROZEN.FOODS
24                        POULTRY
25                     GROCERY.II
26                       X.LIQUOR
27                           EGGS
28                      GROCERY.I
29                       CLEANING
..                            ...
65                       cluster6
66                       cluster7
67                       cluster8
68                       cluster9
69                      cluster10
70                      cluster11
71                      cluster12
72                      cluster13
73                      cluster14
74                      cluster15
75                      cluster16
76                      cluster17
77                      class1040
78                      class1122
79                      class3020
80                      class1072
81                      class1016
82                     item502331
83                     item273528
84                     item564533
85                     item621300
86                     item414353
87                      top5_item
88                       year2016
89                         month7
90                         month5
91                         month6
92                         month4
93                         month8
94                     top5_month

[95 rows x 1 columns]

## Multivariable Analysis

In [8]:
### drop na
##df = df.dropna()

In [12]:
## remove unnecessary vars
X = df.loc[:,df.columns[1:96]]
X.head()

,item_nbr,store_nbr,Year,month,store_cluster,prev_month_sales,prev_3month_sales,avg_prev_3months_sales,min_prev_3months_sales,max_prev_3months_sales,...,item621300,item414353,top5_item,year2016,month7,month5,month6,month4,month8,top5_month
0,1003679,1,2013,10,13,7.436898e-07,6.427949e-07,7.060924e-07,6.842175e-07,7.396995e-07,...,0,0,0,0,0,0,0,0,0,0
1,1003679,1,2014,6,13,7.924480e-07,8.289726e-07,7.695696e-07,6.894849e-07,8.101476e-07,...,0,0,0,0,0,0,1,0,0,1
2,1003679,1,2015,1,13,1.139009e-06,7.272208e-07,9.598006e-07,6.788059e-07,1.138474e-06,...,0,0,0,0,0,0,0,0,0,0
3,1003679,1,2015,4,13,7.893375e-07,7.184410e-07,8.082575e-07,7.861772e-07,8.263907e-07,...,0,0,0,0,0,0,0,1,0,1
4,1003679,1,2015,9,13,7.184410e-07,8.508061e-07,7.272208e-07,7.139003e-07,7.436898e-07,...,0,0,0,0,0,0,0,0,0,0

In [13]:
 y = df.loc[:,df.columns[96]]
print([X.shape,y.shape])

[(1734047, 95), (1734047,)]

In [14]:
y

0          6.894849e-07
1          6.946154e-07
2          7.184410e-07
3          8.289726e-07
4          7.476011e-07
5          7.139003e-07
6          8.157117e-07
7          6.788059e-07
8          6.291679e-07
9          7.314686e-07
10         9.484592e-07
11         8.365218e-07
12         8.014960e-07
13         8.184360e-07
14         7.625148e-07
15         9.442114e-07
16         9.354316e-07
17         4.922621e-07
18         9.911272e-07
19         1.010465e-06
20         1.159284e-06
21         9.456375e-07
22         9.484592e-07
23         9.580292e-07
24         7.893375e-07
25         9.442114e-07
26         8.825609e-07
27         8.508061e-07
28         7.730047e-07
29         8.921045e-07
               ...
1734017    8.101476e-07
1734018    6.427949e-07
1734019    8.044221e-07
1734020    6.788059e-07
1734021    8.073056e-07
1734022    7.893375e-07
1734023    8.994206e-07
1734024    6.219848e-07
1734025    8.184360e-07
1734026    8.129492e-07
1734027    6.732417e-07
1734028    8.014960e-07
1734029    8.619680e-07
1734030    8.389754e-07
1734031    1.031786e-06
1734032    1.025248e-06
1734033    9.082005e-07
1734034    9.198713e-07
1734035    7.476011e-07
1734036    7.730047e-07
1734037    8.014960e-07
1734038    9.539844e-07
1734039    9.498550e-07
1734040    1.023340e-06
1734041    9.339296e-07
1734042    8.129492e-07
1734043    8.553468e-07
1734044    9.498550e-07
1734045    8.044221e-07
1734046    7.272208e-07
Name: total_unit_sales, Length: 1734047, dtype: float64

### Variable Selection using LASSO (L1 penalization)

In [15]:
from sklearn.linear_model import Lasso
from sklearn.feature_selection import SelectFromModel

lassomod = Lasso(alpha=0.05).fit(X, y)

In [16]:
model = SelectFromModel(lassomod, prefit=True)
model.get_support()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False])

In [17]:
varSel['Lasso'] = model.get_support().astype('int64')
varSel

                         Variable  Lasso
0                        item_nbr      0
1                       store_nbr      0
2                            Year      0
3                           month      0
4                   store_cluster      0
5                prev_month_sales      0
6               prev_3month_sales      0
7          avg_prev_3months_sales      0
8          min_prev_3months_sales      0
9          max_prev_3months_sales      0
10           monthly_oilprice_avg      0
11           total_month_holidays      0
12       total_month_transactions      0
13        prev_month_transactions      0
14       prev_3month_transactions      0
15  avg_prev_3months_transactions      0
16  min_prev_3months_transactions      0
17  max_prev_3months_transactions      0
18                   BREAD.BAKERY      0
19                      BEVERAGES      0
20                          DAIRY      0
21                  PERSONAL.CARE      0
22                      HOME.CARE      0
23                   FROZEN.FOODS      0
24                        POULTRY      0
25                     GROCERY.II      0
26                       X.LIQUOR      0
27                           EGGS      0
28                      GROCERY.I      0
29                       CLEANING      0
..                            ...    ...
65                       cluster6      0
66                       cluster7      0
67                       cluster8      0
68                       cluster9      0
69                      cluster10      0
70                      cluster11      0
71                      cluster12      0
72                      cluster13      0
73                      cluster14      0
74                      cluster15      0
75                      cluster16      0
76                      cluster17      0
77                      class1040      0
78                      class1122      0
79                      class3020      0
80                      class1072      0
81                      class1016      0
82                     item502331      0
83                     item273528      0
84                     item564533      0
85                     item621300      0
86                     item414353      0
87                      top5_item      0
88                       year2016      0
89                         month7      0
90                         month5      0
91                         month6      0
92                         month4      0
93                         month8      0
94                     top5_month      0

[95 rows x 2 columns]

## Ridge

In [18]:
from sklearn.linear_model import Ridge
from sklearn.feature_selection import SelectFromModel

rdgmod = Ridge(alpha=0.5,normalize=True).fit(X,y)

In [19]:
model = SelectFromModel(rdgmod, prefit=True)
model.get_support()

array([False, False, False, False, False,  True,  True,  True,  True,
        True, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False])

In [20]:
varSel['Ridge'] = model.get_support().astype('int64')
varSel

                         Variable  Lasso  Ridge
0                        item_nbr      0      0
1                       store_nbr      0      0
2                            Year      0      0
3                           month      0      0
4                   store_cluster      0      0
5                prev_month_sales      0      1
6               prev_3month_sales      0      1
7          avg_prev_3months_sales      0      1
8          min_prev_3months_sales      0      1
9          max_prev_3months_sales      0      1
10           monthly_oilprice_avg      0      0
11           total_month_holidays      0      0
12       total_month_transactions      0      0
13        prev_month_transactions      0      0
14       prev_3month_transactions      0      0
15  avg_prev_3months_transactions      0      0
16  min_prev_3months_transactions      0      0
17  max_prev_3months_transactions      0      0
18                   BREAD.BAKERY      0      0
19                      BEVERAGES      0      0
20                          DAIRY      0      0
21                  PERSONAL.CARE      0      0
22                      HOME.CARE      0      0
23                   FROZEN.FOODS      0      0
24                        POULTRY      0      0
25                     GROCERY.II      0      0
26                       X.LIQUOR      0      0
27                           EGGS      0      0
28                      GROCERY.I      0      0
29                       CLEANING      0      0
..                            ...    ...    ...
65                       cluster6      0      0
66                       cluster7      0      0
67                       cluster8      0      0
68                       cluster9      0      0
69                      cluster10      0      0
70                      cluster11      0      0
71                      cluster12      0      0
72                      cluster13      0      0
73                      cluster14      0      0
74                      cluster15      0      0
75                      cluster16      0      0
76                      cluster17      0      0
77                      class1040      0      0
78                      class1122      0      0
79                      class3020      0      0
80                      class1072      0      0
81                      class1016      0      0
82                     item502331      0      0
83                     item273528      0      0
84                     item564533      0      0
85                     item621300      0      0
86                     item414353      0      0
87                      top5_item      0      0
88                       year2016      0      0
89                         month7      0      0
90                         month5      0      0
91                         month6      0      0
92                         month4      0      0
93                         month8      0      0
94                     top5_month      0      0

[95 rows x 3 columns]

### Variable Selection using Random Forest

In [21]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.feature_selection import SelectFromModel

rfmod = RandomForestRegressor().fit(X, y)
#rfmod.feature_importances_

C:\Users\Guy\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [22]:
model = SelectFromModel(rfmod, prefit=True)
model.get_support()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

In [23]:
varSel['RandomForest'] = model.get_support().astype('int64')
varSel

                         Variable  Lasso  Ridge  RandomForest
0                        item_nbr      0      0             1
1                       store_nbr      0      0             1
2                            Year      0      0             1
3                           month      0      0             1
4                   store_cluster      0      0             1
5                prev_month_sales      0      1             1
6               prev_3month_sales      0      1             1
7          avg_prev_3months_sales      0      1             1
8          min_prev_3months_sales      0      1             1
9          max_prev_3months_sales      0      1             1
10           monthly_oilprice_avg      0      0             1
11           total_month_holidays      0      0             1
12       total_month_transactions      0      0             1
13        prev_month_transactions      0      0             1
14       prev_3month_transactions      0      0             1
15  avg_prev_3months_transactions      0      0             1
16  min_prev_3months_transactions      0      0             1
17  max_prev_3months_transactions      0      0             1
18                   BREAD.BAKERY      0      0             1
19                      BEVERAGES      0      0             1
20                          DAIRY      0      0             1
21                  PERSONAL.CARE      0      0             1
22                      HOME.CARE      0      0             1
23                   FROZEN.FOODS      0      0             1
24                        POULTRY      0      0             1
25                     GROCERY.II      0      0             1
26                       X.LIQUOR      0      0             1
27                           EGGS      0      0             1
28                      GROCERY.I      0      0             1
29                       CLEANING      0      0             1
..                            ...    ...    ...           ...
65                       cluster6      0      0             1
66                       cluster7      0      0             1
67                       cluster8      0      0             1
68                       cluster9      0      0             1
69                      cluster10      0      0             1
70                      cluster11      0      0             1
71                      cluster12      0      0             1
72                      cluster13      0      0             1
73                      cluster14      0      0             1
74                      cluster15      0      0             1
75                      cluster16      0      0             1
76                      cluster17      0      0             1
77                      class1040      0      0             1
78                      class1122      0      0             1
79                      class3020      0      0             1
80                      class1072      0      0             1
81                      class1016      0      0             1
82                     item502331      0      0             1
83                     item273528      0      0             1
84                     item564533      0      0             1
85                     item621300      0      0             1
86                     item414353      0      0             1
87                      top5_item      0      0             1
88                       year2016      0      0             1
89                         month7      0      0             1
90                         month5      0      0             1
91                         month6      0      0             1
92                         month4      0      0             1
93                         month8      0      0             1
94                     top5_month      0      0             1

[95 rows x 4 columns]

### Variable Selection using Gradient Boosting classification

In [24]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.feature_selection import SelectFromModel

gbmod = GradientBoostingRegressor().fit(X,y)

In [25]:
model = SelectFromModel(gbmod, prefit=True)
model.get_support()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

In [26]:
varSel['GradientBoost'] = model.get_support().astype('int64')
varSel

                         Variable  Lasso  Ridge  RandomForest  GradientBoost
0                        item_nbr      0      0             1              1
1                       store_nbr      0      0             1              1
2                            Year      0      0             1              1
3                           month      0      0             1              1
4                   store_cluster      0      0             1              1
5                prev_month_sales      0      1             1              1
6               prev_3month_sales      0      1             1              1
7          avg_prev_3months_sales      0      1             1              1
8          min_prev_3months_sales      0      1             1              1
9          max_prev_3months_sales      0      1             1              1
10           monthly_oilprice_avg      0      0             1              1
11           total_month_holidays      0      0             1              1
12       total_month_transactions      0      0             1              1
13        prev_month_transactions      0      0             1              1
14       prev_3month_transactions      0      0             1              1
15  avg_prev_3months_transactions      0      0             1              1
16  min_prev_3months_transactions      0      0             1              1
17  max_prev_3months_transactions      0      0             1              1
18                   BREAD.BAKERY      0      0             1              1
19                      BEVERAGES      0      0             1              1
20                          DAIRY      0      0             1              1
21                  PERSONAL.CARE      0      0             1              1
22                      HOME.CARE      0      0             1              1
23                   FROZEN.FOODS      0      0             1              1
24                        POULTRY      0      0             1              1
25                     GROCERY.II      0      0             1              1
26                       X.LIQUOR      0      0             1              1
27                           EGGS      0      0             1              1
28                      GROCERY.I      0      0             1              1
29                       CLEANING      0      0             1              1
..                            ...    ...    ...           ...            ...
65                       cluster6      0      0             1              1
66                       cluster7      0      0             1              1
67                       cluster8      0      0             1              1
68                       cluster9      0      0             1              1
69                      cluster10      0      0             1              1
70                      cluster11      0      0             1              1
71                      cluster12      0      0             1              1
72                      cluster13      0      0             1              1
73                      cluster14      0      0             1              1
74                      cluster15      0      0             1              1
75                      cluster16      0      0             1              1
76                      cluster17      0      0             1              1
77                      class1040      0      0             1              1
78                      class1122      0      0             1              1
79                      class3020      0      0             1              1
80                      class1072      0      0             1              1
81                      class1016      0      0             1              1
82                     item502331      0      0             1              1
83                     item273528      0      0             1              1
84                     item564533      0      0             1              1
85                     item621300      0      0             1              1
86                     item414353      0      0             1              1
87                      top5_item      0      0             1              1
88                       year2016      0      0             1              1
89                         month7      0      0             1              1
90                         month5      0      0             1              1
91                         month6      0      0             1              1
92                         month4      0      0             1              1
93                         month8      0      0             1              1
94                     top5_month      0      0             1              1

[95 rows x 5 columns]

### Variable Selection using Linear Regression

In [27]:
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import SelectFromModel

lrmod = LinearRegression().fit(X,y)

In [28]:
model = SelectFromModel(lrmod, prefit=True)
model.get_support()

array([False, False, False, False, False,  True,  True,  True,  True,
        True, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False])

In [29]:
varSel['Linear Regression'] = model.get_support().astype('int64')
varSel

,Variable,Lasso,Ridge,RandomForest,GradientBoost,Linear Regression
0,item_nbr,0,0,1,1,0
1,store_nbr,0,0,1,1,0
2,Year,0,0,1,1,0
3,month,0,0,1,1,0
4,store_cluster,0,0,1,1,0
5,prev_month_sales,0,1,1,1,1
6,prev_3month_sales,0,1,1,1,1
7,avg_prev_3months_sales,0,1,1,1,1
8,min_prev_3months_sales,0,1,1,1,1
9,max_prev_3months_sales,0,1,1,1,1
10,monthly_oilprice_avg,0,0,1,1,0
11,total_month_holidays,0,0,1,1,0
12,total_month_transactions,0,0,1,1,0
13,prev_month_transactions,0,0,1,1,0
14,prev_3month_transactions,0,0,1,1,0
15,avg_prev_3months_transactions,0,0,1,1,0
16,min_prev_3months_transactions,0,0,1,1,0
17,max_prev_3months_transactions,0,0,1,1,0
18,BREAD.BAKERY,0,0,1,1,0
19,BEVERAGES,0,0,1,1,0
20,DAIRY,0,0,1,1,0
21,PERSONAL.CARE,0,0,1,1,0
22,HOME.CARE,0,0,1,1,0
23,FROZEN.FOODS,0,0,1,1,0
24,POULTRY,0,0,1,1,0
25,GROCERY.II,0,0,1,1,0
26,X.LIQUOR,0,0,1,1,0
27,EGGS,0,0,1,1,0
28,GROCERY.I,0,0,1,1,0
29,CLEANING,0,0,1,1,0
...,...,...,...,...,...,...
65,cluster6,0,0,1,1,0
66,cluster7,0,0,1,1,0
67,cluster8,0,0,1,1,0
68,cluster9,0,0,1,1,0
69,cluster10,0,0,1,1,0
70,cluster11,0,0,1,1,0
71,cluster12,0,0,1,1,0
72,cluster13,0,0,1,1,0
73,cluster14,0,0,1,1,0
74,cluster15,0,0,1,1,0
75,cluster16,0,0,1,1,0
76,cluster17,0,0,1,1,0
77,class1040,0,0,1,1,0
78,class1122,0,0,1,1,0
79,class3020,0,0,1,1,0
80,class1072,0,0,1,1,0
81,class1016,0,0,1,1,0
82,item502331,0,0,1,1,0
83,item273528,0,0,1,1,0
84,item564533,0,0,1,1,0
85,item621300,0,0,1,1,0
86,item414353,0,0,1,1,0
87,top5_item,0,0,1,1,0
88,year2016,0,0,1,1,0
89,month7,0,0,1,1,0
90,month5,0,0,1,1,0
91,month6,0,0,1,1,0
92,month4,0,0,1,1,0
93,month8,0,0,1,1,0
94,top5_month,0,0,1,1,0

# Ada Boost

In [30]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.feature_selection import SelectFromModel

ABRmod = AdaBoostRegressor(random_state=1).fit(X,y)

In [31]:
model = SelectFromModel(ABRmod, prefit=True)
model.get_support()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

In [32]:
varSel['Ada Boost'] = model.get_support().astype('int64')
varSel

,Variable,Lasso,Ridge,RandomForest,GradientBoost,Linear Regression,Ada Boost
0,item_nbr,0,0,1,1,0,1
1,store_nbr,0,0,1,1,0,1
2,Year,0,0,1,1,0,1
3,month,0,0,1,1,0,1
4,store_cluster,0,0,1,1,0,1
5,prev_month_sales,0,1,1,1,1,1
6,prev_3month_sales,0,1,1,1,1,1
7,avg_prev_3months_sales,0,1,1,1,1,1
8,min_prev_3months_sales,0,1,1,1,1,1
9,max_prev_3months_sales,0,1,1,1,1,1
10,monthly_oilprice_avg,0,0,1,1,0,1
11,total_month_holidays,0,0,1,1,0,1
12,total_month_transactions,0,0,1,1,0,1
13,prev_month_transactions,0,0,1,1,0,1
14,prev_3month_transactions,0,0,1,1,0,1
15,avg_prev_3months_transactions,0,0,1,1,0,1
16,min_prev_3months_transactions,0,0,1,1,0,1
17,max_prev_3months_transactions,0,0,1,1,0,1
18,BREAD.BAKERY,0,0,1,1,0,1
19,BEVERAGES,0,0,1,1,0,1
20,DAIRY,0,0,1,1,0,1
21,PERSONAL.CARE,0,0,1,1,0,1
22,HOME.CARE,0,0,1,1,0,1
23,FROZEN.FOODS,0,0,1,1,0,1
24,POULTRY,0,0,1,1,0,1
25,GROCERY.II,0,0,1,1,0,1
26,X.LIQUOR,0,0,1,1,0,1
27,EGGS,0,0,1,1,0,1
28,GROCERY.I,0,0,1,1,0,1
29,CLEANING,0,0,1,1,0,1
...,...,...,...,...,...,...,...
65,cluster6,0,0,1,1,0,1
66,cluster7,0,0,1,1,0,1
67,cluster8,0,0,1,1,0,1
68,cluster9,0,0,1,1,0,1
69,cluster10,0,0,1,1,0,1
70,cluster11,0,0,1,1,0,1
71,cluster12,0,0,1,1,0,1
72,cluster13,0,0,1,1,0,1
73,cluster14,0,0,1,1,0,1
74,cluster15,0,0,1,1,0,1
75,cluster16,0,0,1,1,0,1
76,cluster17,0,0,1,1,0,1
77,class1040,0,0,1,1,0,1
78,class1122,0,0,1,1,0,1
79,class3020,0,0,1,1,0,1
80,class1072,0,0,1,1,0,1
81,class1016,0,0,1,1,0,1
82,item502331,0,0,1,1,0,1
83,item273528,0,0,1,1,0,1
84,item564533,0,0,1,1,0,1
85,item621300,0,0,1,1,0,1
86,item414353,0,0,1,1,0,1
87,top5_item,0,0,1,1,0,1
88,year2016,0,0,1,1,0,1
89,month7,0,0,1,1,0,1
90,month5,0,0,1,1,0,1
91,month6,0,0,1,1,0,1
92,month4,0,0,1,1,0,1
93,month8,0,0,1,1,0,1
94,top5_month,0,0,1,1,0,1

## KNN

In [34]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.feature_selection import SelectFromModel
neigh = KNeighborsRegressor(n_neighbors=5).fit(X, y)

In [35]:
from sklearn.feature_selection import SelectFromModel
model = SelectFromModel(neigh, prefit=True)
model.get_support()

ValueError: The underlying estimator KNeighborsRegressor has no `coef_` or `feature_importances_` attribute. Either pass a fitted estimator to SelectFromModel or call fit before calling transform.

In [ ]:
varSel['KNN'] = model.get_support().astype('int64')
varSel

## Ridge L2 regularization

In [36]:
from sklearn.linear_model import Ridge
from sklearn.feature_selection import SelectFromModel
Rdg = Ridge(alpha=0.5).fit(X,y)

C:\Users\Guy\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=8.67136e-20): result may not be accurate.
  overwrite_a=True).T

In [37]:
model = SelectFromModel(Rdg, prefit=True)
model.get_support()

array([False, False, False, False,  True, False, False, False, False,
       False, False, False, False, False, False, False,  True, False,
        True, False, False,  True,  True,  True, False,  True, False,
       False, False, False, False, False, False, False,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True, False,  True,  True, False,  True,
       False, False, False, False, False, False, False, False, False,
        True, False, False, False, False, False, False, False, False,
       False, False])

In [38]:
varSel['Ridge'] = model.get_support().astype('int64')
varSel

,Variable,Lasso,RandomForest,GradientBoost,Ada Boost,Ridge
0,Year,1,0,0,0,0
1,month,1,0,0,1,0
2,prev_month_sales,1,1,0,1,0
3,prev_3month_sales,1,0,0,1,0
4,avg_prev_3months_sales,1,1,1,1,1
5,min_prev_3months_sales,1,1,1,1,0
6,max_prev_3months_sales,1,1,1,1,0
7,monthly_oilprice_avg,1,0,0,0,0
8,total_month_holidays,1,0,0,0,0
9,total_month_transactions,1,0,0,0,0
10,prev_month_transactions,1,0,0,0,0
11,prev_3month_transactions,1,0,0,0,0
12,avg_prev_3months_transactions,1,0,0,0,0
13,min_prev_3months_transactions,1,0,0,0,0
14,max_prev_3months_transactions,1,0,0,0,0
15,BREAD.BAKERY,0,0,0,0,0
16,BEVERAGES,0,0,0,0,1
17,DAIRY,0,0,0,0,0
18,PERSONAL.CARE,0,0,0,0,1
19,HOME.CARE,0,0,0,0,0
20,FROZEN.FOODS,0,0,0,0,0
21,POULTRY,0,0,0,0,1
22,GROCERY.II,0,0,0,0,1
23,X.LIQUOR,0,0,0,0,1
24,EGGS,0,0,0,0,0
25,GROCERY.I,1,0,0,0,1
26,CLEANING,0,0,0,0,0
27,DELI,0,0,0,0,0
28,store_typeA,0,0,0,0,0
29,store_typeB,0,0,0,0,0
...,...,...,...,...,...,...
44,city_Libertad,0,0,0,0,1
45,city_Loja,0,0,0,0,1
46,city_Machala,0,0,0,0,0
47,city_Manta,0,0,0,0,1
48,city_Playas,0,0,0,0,1
49,city_Puyo,0,0,0,0,0
50,city_Quevedo,0,0,0,0,1
51,city_Quito,0,0,0,0,1
52,city_Riobamba,0,0,0,0,0
53,city_Salinas,0,0,0,0,1
54,city_Santo.Domingo,0,0,0,0,0
55,total_city_sales,0,0,0,0,0
56,sales_perc,1,0,0,0,0
57,cluster1,0,0,0,0,0
58,cluster2,0,0,0,0,0
59,cluster3,0,0,0,0,0
60,cluster4,0,0,0,0,0
61,cluster5,0,0,0,0,0
62,cluster6,0,0,0,0,0
63,cluster7,0,0,0,0,1
64,cluster8,0,0,0,0,0
65,cluster9,0,0,0,0,0
66,cluster10,0,0,0,0,0
67,cluster11,0,0,0,0,0
68,cluster12,0,0,0,0,0
69,cluster13,0,0,0,0,0
70,cluster14,0,0,0,0,0
71,cluster15,0,0,0,0,0
72,cluster16,0,0,0,0,0
73,cluster17,0,0,0,0,0

## Decision tree

In [41]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.feature_selection import SelectFromModel
dtree= DecisionTreeRegressor(random_state=2).fit(X,y)

In [40]:
model = SelectFromModel(dtree, prefit=True)
model.get_support()

array([False, False,  True, False,  True,  True,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [41]:
varSel['dtree'] = model.get_support().astype('int64')
varSel

,Variable,Lasso,RandomForest,GradientBoost,Ada Boost,Ridge,dtree
0,Year,1,0,0,0,0,0
1,month,1,0,0,1,0,0
2,prev_month_sales,1,1,0,1,0,1
3,prev_3month_sales,1,0,0,1,0,0
4,avg_prev_3months_sales,1,1,1,1,1,1
5,min_prev_3months_sales,1,1,1,1,0,1
6,max_prev_3months_sales,1,1,1,1,0,1
7,monthly_oilprice_avg,1,0,0,0,0,0
8,total_month_holidays,1,0,0,0,0,0
9,total_month_transactions,1,0,0,0,0,0
10,prev_month_transactions,1,0,0,0,0,0
11,prev_3month_transactions,1,0,0,0,0,0
12,avg_prev_3months_transactions,1,0,0,0,0,0
13,min_prev_3months_transactions,1,0,0,0,0,0
14,max_prev_3months_transactions,1,0,0,0,0,0
15,BREAD.BAKERY,0,0,0,0,0,0
16,BEVERAGES,0,0,0,0,1,0
17,DAIRY,0,0,0,0,0,0
18,PERSONAL.CARE,0,0,0,0,1,0
19,HOME.CARE,0,0,0,0,0,0
20,FROZEN.FOODS,0,0,0,0,0,0
21,POULTRY,0,0,0,0,1,0
22,GROCERY.II,0,0,0,0,1,0
23,X.LIQUOR,0,0,0,0,1,0
24,EGGS,0,0,0,0,0,0
25,GROCERY.I,1,0,0,0,1,0
26,CLEANING,0,0,0,0,0,0
27,DELI,0,0,0,0,0,0
28,store_typeA,0,0,0,0,0,0
29,store_typeB,0,0,0,0,0,0
...,...,...,...,...,...,...,...
44,city_Libertad,0,0,0,0,1,0
45,city_Loja,0,0,0,0,1,0
46,city_Machala,0,0,0,0,0,0
47,city_Manta,0,0,0,0,1,0
48,city_Playas,0,0,0,0,1,0
49,city_Puyo,0,0,0,0,0,0
50,city_Quevedo,0,0,0,0,1,0
51,city_Quito,0,0,0,0,1,0
52,city_Riobamba,0,0,0,0,0,0
53,city_Salinas,0,0,0,0,1,0
54,city_Santo.Domingo,0,0,0,0,0,0
55,total_city_sales,0,0,0,0,0,0
56,sales_perc,1,0,0,0,0,0
57,cluster1,0,0,0,0,0,0
58,cluster2,0,0,0,0,0,0
59,cluster3,0,0,0,0,0,0
60,cluster4,0,0,0,0,0,0
61,cluster5,0,0,0,0,0,0
62,cluster6,0,0,0,0,0,0
63,cluster7,0,0,0,0,1,0
64,cluster8,0,0,0,0,0,0
65,cluster9,0,0,0,0,0,0
66,cluster10,0,0,0,0,0,0
67,cluster11,0,0,0,0,0,0
68,cluster12,0,0,0,0,0,0
69,cluster13,0,0,0,0,0,0
70,cluster14,0,0,0,0,0,0
71,cluster15,0,0,0,0,0,0
72,cluster16,0,0,0,0,0,0
73,cluster17,0,0,0,0,0,0

## XG boost

In [ ]:
from sklearn import svm
from sklearn.feature_selection import SelectFromModel
clf = svm.SVR(C=1, gamma=0.1).fit(X,y)

### Summarization and Selection of Variables

In [1]:
varSel['Sum'] =  np.sum(varSel,axis=1)
varSel

NameError: name 'np' is not defined

In [133]:
varSel.groupby('Sum')['Variable'].count()

Sum
0     3
1     4
2     4
3     8
4    10
5     7
Name: Variable, dtype: int64

We can now decide a threshold for selecting our variables!