# Feature Selection Strategy

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [8]:
df = pd.read_csv("../data/minmaxeng2.csv")
df.head()

,id,monthly_oilprice_avg,total_month_holidays,perishable,BREAD.BAKERY,BEVERAGES,DAIRY,PERSONAL.CARE,HOME.CARE,FROZEN.FOODS,...,month6,month7,month8,month9,month10,month11,month12,item_per,store_per,total_unit_sales
0,1,0.809162,0.666667,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.001346,0.022585,3.806662
1,2,0.841794,0.333333,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.001346,0.022585,3.806662
2,3,0.858357,0.500000,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0.001346,0.022585,3.871201
3,4,0.975058,0.500000,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0.001346,0.022585,3.401197
4,5,1.000000,0.500000,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0.001346,0.022585,3.663562

In [9]:
#df['rejected'] = df['rejected'].astype('category')
#df['condition'] = df['condition'].astype('category')

df.dtypes

id                        int64
monthly_oilprice_avg    float64
total_month_holidays    float64
perishable                int64
BREAD.BAKERY              int64
BEVERAGES                 int64
DAIRY                     int64
PERSONAL.CARE             int64
HOME.CARE                 int64
FROZEN.FOODS              int64
POULTRY                   int64
GROCERY.II                int64
X.LIQUOR                  int64
EGGS                      int64
GROCERY.I                 int64
CLEANING                  int64
DELI                      int64
store_typeA               int64
store_typeB               int64
store_typeC               int64
store_typeD               int64
store_typeE               int64
city_Ambato               int64
city_Babahoyo             int64
city_Cayambe              int64
city_Cuenca               int64
city_Daule                int64
city_El.Carmen            int64
city_Esmeraldas           int64
city_Guaranda             int64
                         ...
item564533                int64
item621300                int64
item414353                int64
top5_item                 int64
class1040                 int64
class1122                 int64
class3020                 int64
class1072                 int64
class1016                 int64
top5_month                int64
year2013                  int64
year2014                  int64
year2015                  int64
year2016                  int64
year2017                  int64
month1                    int64
month2                    int64
month3                    int64
month4                    int64
month5                    int64
month6                    int64
month7                    int64
month8                    int64
month9                    int64
month10                   int64
month11                   int64
month12                   int64
item_per                float64
store_per               float64
total_unit_sales        float64
Length: 96, dtype: object

In [10]:
df.shape

(1737726, 96)

In [12]:
varSel = pd.DataFrame({'Variable': df.columns[1:95]})
varSel

                Variable
0   monthly_oilprice_avg
1   total_month_holidays
2             perishable
3           BREAD.BAKERY
4              BEVERAGES
5                  DAIRY
6          PERSONAL.CARE
7              HOME.CARE
8           FROZEN.FOODS
9                POULTRY
10            GROCERY.II
11              X.LIQUOR
12                  EGGS
13             GROCERY.I
14              CLEANING
15                  DELI
16           store_typeA
17           store_typeB
18           store_typeC
19           store_typeD
20           store_typeE
21           city_Ambato
22         city_Babahoyo
23          city_Cayambe
24           city_Cuenca
25            city_Daule
26        city_El.Carmen
27       city_Esmeraldas
28         city_Guaranda
29        city_Guayaquil
..                   ...
64            item273528
65            item564533
66            item621300
67            item414353
68             top5_item
69             class1040
70             class1122
71             class3020
72             class1072
73             class1016
74            top5_month
75              year2013
76              year2014
77              year2015
78              year2016
79              year2017
80                month1
81                month2
82                month3
83                month4
84                month5
85                month6
86                month7
87                month8
88                month9
89               month10
90               month11
91               month12
92              item_per
93             store_per

[94 rows x 1 columns]

## Multivariable Analysis

In [8]:
### drop na
##df = df.dropna()

In [13]:
## remove unnecessary vars
X = df.loc[:,df.columns[1:95]]
X.head()

,monthly_oilprice_avg,total_month_holidays,perishable,BREAD.BAKERY,BEVERAGES,DAIRY,PERSONAL.CARE,HOME.CARE,FROZEN.FOODS,POULTRY,...,month5,month6,month7,month8,month9,month10,month11,month12,item_per,store_per
0,0.809162,0.666667,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.001346,0.022585
1,0.841794,0.333333,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0.001346,0.022585
2,0.858357,0.500000,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0.001346,0.022585
3,0.975058,0.500000,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0.001346,0.022585
4,1.000000,0.500000,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0.001346,0.022585

In [14]:
 y = df.loc[:,df.columns[95]]
print([X.shape,y.shape])

[(1737726, 94), (1737726,)]

In [15]:
y

0          3.806662
1          3.806662
2          3.871201
3          3.401197
4          3.663562
5          3.912023
6          3.637586
7          4.043051
8          5.298317
9          3.828641
10         4.343805
11         4.262680
12         4.158883
13         3.663562
14         3.637586
15         3.713572
16         3.555348
17         3.828641
18         3.610918
19         5.913503
20         3.784190
21         4.262680
22         4.143135
23         4.343805
24         4.634729
25         4.454347
26         3.828641
27         3.784190
28         3.931826
29         3.761200
             ...
1737696    5.666427
1737697    5.710427
1737698    5.755742
1737699    5.332719
1737700    5.634790
1737701    5.886104
1737702    6.001415
1737703    5.438079
1737704    5.823046
1737705    5.659482
1737706    5.398163
1737707    5.476464
1737708    5.407172
1737709    5.627621
1737710    5.393628
1737711    5.513429
1737712    4.574711
1737713    4.584967
1737714    4.795791
1737715    4.691348
1737716    4.584967
1737717    5.105945
1737718    5.283204
1737719    5.111988
1737720    5.003946
1737721    4.990433
1737722    5.198497
1737723    5.214936
1737724    5.278115
1737725    4.859812
Name: total_unit_sales, Length: 1737726, dtype: float64

### Variable Selection using LASSO (L1 penalization)

In [16]:
from sklearn.linear_model import Lasso
from sklearn.feature_selection import SelectFromModel

lassomod = Lasso(alpha=0.05).fit(X, y)

In [17]:
model = SelectFromModel(lassomod, prefit=True)
model.get_support()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False,  True, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False])

In [18]:
varSel['Lasso'] = model.get_support().astype('int64')
varSel

                Variable  Lasso
0   monthly_oilprice_avg      0
1   total_month_holidays      0
2             perishable      0
3           BREAD.BAKERY      0
4              BEVERAGES      0
5                  DAIRY      0
6          PERSONAL.CARE      0
7              HOME.CARE      0
8           FROZEN.FOODS      0
9                POULTRY      0
10            GROCERY.II      0
11              X.LIQUOR      0
12                  EGGS      0
13             GROCERY.I      0
14              CLEANING      0
15                  DELI      0
16           store_typeA      0
17           store_typeB      0
18           store_typeC      1
19           store_typeD      0
20           store_typeE      0
21           city_Ambato      0
22         city_Babahoyo      0
23          city_Cayambe      0
24           city_Cuenca      0
25            city_Daule      0
26        city_El.Carmen      0
27       city_Esmeraldas      0
28         city_Guaranda      0
29        city_Guayaquil      0
..                   ...    ...
64            item273528      0
65            item564533      0
66            item621300      0
67            item414353      0
68             top5_item      0
69             class1040      0
70             class1122      0
71             class3020      0
72             class1072      0
73             class1016      0
74            top5_month      0
75              year2013      0
76              year2014      0
77              year2015      0
78              year2016      0
79              year2017      0
80                month1      0
81                month2      0
82                month3      0
83                month4      0
84                month5      0
85                month6      0
86                month7      0
87                month8      0
88                month9      0
89               month10      0
90               month11      0
91               month12      0
92              item_per      0
93             store_per      0

[94 rows x 2 columns]

## Ridge

In [19]:
from sklearn.linear_model import Ridge

rdgmod = Ridge(alpha=0.5,normalize=True).fit(X,y)

In [20]:
model = SelectFromModel(rdgmod, prefit=True)
model.get_support()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True,  True])

In [21]:
varSel['Ridge'] = model.get_support().astype('int64')
varSel

                Variable  Lasso  Ridge
0   monthly_oilprice_avg      0      0
1   total_month_holidays      0      0
2             perishable      0      0
3           BREAD.BAKERY      0      0
4              BEVERAGES      0      0
5                  DAIRY      0      0
6          PERSONAL.CARE      0      0
7              HOME.CARE      0      0
8           FROZEN.FOODS      0      0
9                POULTRY      0      0
10            GROCERY.II      0      0
11              X.LIQUOR      0      0
12                  EGGS      0      0
13             GROCERY.I      0      0
14              CLEANING      0      0
15                  DELI      0      0
16           store_typeA      0      0
17           store_typeB      0      0
18           store_typeC      1      0
19           store_typeD      0      0
20           store_typeE      0      0
21           city_Ambato      0      0
22         city_Babahoyo      0      0
23          city_Cayambe      0      0
24           city_Cuenca      0      0
25            city_Daule      0      0
26        city_El.Carmen      0      0
27       city_Esmeraldas      0      0
28         city_Guaranda      0      0
29        city_Guayaquil      0      0
..                   ...    ...    ...
64            item273528      0      0
65            item564533      0      0
66            item621300      0      0
67            item414353      0      0
68             top5_item      0      0
69             class1040      0      0
70             class1122      0      0
71             class3020      0      0
72             class1072      0      0
73             class1016      0      0
74            top5_month      0      0
75              year2013      0      0
76              year2014      0      0
77              year2015      0      0
78              year2016      0      0
79              year2017      0      0
80                month1      0      0
81                month2      0      0
82                month3      0      0
83                month4      0      0
84                month5      0      0
85                month6      0      0
86                month7      0      0
87                month8      0      0
88                month9      0      0
89               month10      0      0
90               month11      0      0
91               month12      0      0
92              item_per      0      1
93             store_per      0      1

[94 rows x 3 columns]

### Variable Selection using Random Forest

In [22]:
from sklearn.ensemble import RandomForestRegressor

rfmod = RandomForestRegressor().fit(X, y)
#rfmod.feature_importances_

C:\Users\Guy\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [23]:
model = SelectFromModel(rfmod, prefit=True)
model.get_support()

array([ True, False, False, False,  True, False, False, False, False,
       False, False, False, False,  True,  True, False,  True, False,
       False,  True, False, False, False, False, False, False, False,
       False, False,  True, False, False, False, False, False, False,
       False, False, False, False, False, False, False,  True,  True,
       False, False, False, False, False, False, False, False,  True,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False,  True,  True, False, False,
        True, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True,  True])

In [24]:
varSel['RandomForest'] = model.get_support().astype('int64')
varSel

                Variable  Lasso  Ridge  RandomForest
0   monthly_oilprice_avg      0      0             1
1   total_month_holidays      0      0             0
2             perishable      0      0             0
3           BREAD.BAKERY      0      0             0
4              BEVERAGES      0      0             1
5                  DAIRY      0      0             0
6          PERSONAL.CARE      0      0             0
7              HOME.CARE      0      0             0
8           FROZEN.FOODS      0      0             0
9                POULTRY      0      0             0
10            GROCERY.II      0      0             0
11              X.LIQUOR      0      0             0
12                  EGGS      0      0             0
13             GROCERY.I      0      0             1
14              CLEANING      0      0             1
15                  DELI      0      0             0
16           store_typeA      0      0             1
17           store_typeB      0      0             0
18           store_typeC      1      0             0
19           store_typeD      0      0             1
20           store_typeE      0      0             0
21           city_Ambato      0      0             0
22         city_Babahoyo      0      0             0
23          city_Cayambe      0      0             0
24           city_Cuenca      0      0             0
25            city_Daule      0      0             0
26        city_El.Carmen      0      0             0
27       city_Esmeraldas      0      0             0
28         city_Guaranda      0      0             0
29        city_Guayaquil      0      0             1
..                   ...    ...    ...           ...
64            item273528      0      0             0
65            item564533      0      0             0
66            item621300      0      0             0
67            item414353      0      0             0
68             top5_item      0      0             1
69             class1040      0      0             1
70             class1122      0      0             0
71             class3020      0      0             0
72             class1072      0      0             1
73             class1016      0      0             0
74            top5_month      0      0             0
75              year2013      0      0             0
76              year2014      0      0             0
77              year2015      0      0             0
78              year2016      0      0             0
79              year2017      0      0             0
80                month1      0      0             0
81                month2      0      0             0
82                month3      0      0             0
83                month4      0      0             0
84                month5      0      0             0
85                month6      0      0             0
86                month7      0      0             0
87                month8      0      0             0
88                month9      0      0             0
89               month10      0      0             0
90               month11      0      0             0
91               month12      0      0             0
92              item_per      0      1             1
93             store_per      0      1             1

[94 rows x 4 columns]

### Variable Selection using Gradient Boosting classification

In [25]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.feature_selection import SelectFromModel

gbmod = GradientBoostingRegressor().fit(X,y)

In [26]:
model = SelectFromModel(gbmod, prefit=True)
model.get_support()

array([False, False,  True, False,  True, False, False, False, False,
        True, False, False, False, False,  True,  True,  True, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False,  True,  True,
       False, False, False, False, False, False, False, False,  True,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False,  True,  True,  True, False,
        True, False, False, False, False, False, False,  True, False,
       False, False, False, False, False, False,  True, False, False,
       False, False,  True,  True])

In [27]:
varSel['GradientBoost'] = model.get_support().astype('int64')
varSel

                Variable  Lasso  Ridge  RandomForest  GradientBoost
0   monthly_oilprice_avg      0      0             1              0
1   total_month_holidays      0      0             0              0
2             perishable      0      0             0              1
3           BREAD.BAKERY      0      0             0              0
4              BEVERAGES      0      0             1              1
5                  DAIRY      0      0             0              0
6          PERSONAL.CARE      0      0             0              0
7              HOME.CARE      0      0             0              0
8           FROZEN.FOODS      0      0             0              0
9                POULTRY      0      0             0              1
10            GROCERY.II      0      0             0              0
11              X.LIQUOR      0      0             0              0
12                  EGGS      0      0             0              0
13             GROCERY.I      0      0             1              0
14              CLEANING      0      0             1              1
15                  DELI      0      0             0              1
16           store_typeA      0      0             1              1
17           store_typeB      0      0             0              0
18           store_typeC      1      0             0              0
19           store_typeD      0      0             1              0
20           store_typeE      0      0             0              0
21           city_Ambato      0      0             0              0
22         city_Babahoyo      0      0             0              0
23          city_Cayambe      0      0             0              0
24           city_Cuenca      0      0             0              0
25            city_Daule      0      0             0              0
26        city_El.Carmen      0      0             0              0
27       city_Esmeraldas      0      0             0              0
28         city_Guaranda      0      0             0              0
29        city_Guayaquil      0      0             1              0
..                   ...    ...    ...           ...            ...
64            item273528      0      0             0              0
65            item564533      0      0             0              0
66            item621300      0      0             0              0
67            item414353      0      0             0              0
68             top5_item      0      0             1              1
69             class1040      0      0             1              1
70             class1122      0      0             0              1
71             class3020      0      0             0              0
72             class1072      0      0             1              1
73             class1016      0      0             0              0
74            top5_month      0      0             0              0
75              year2013      0      0             0              0
76              year2014      0      0             0              0
77              year2015      0      0             0              0
78              year2016      0      0             0              0
79              year2017      0      0             0              1
80                month1      0      0             0              0
81                month2      0      0             0              0
82                month3      0      0             0              0
83                month4      0      0             0              0
84                month5      0      0             0              0
85                month6      0      0             0              0
86                month7      0      0             0              0
87                month8      0      0             0              1
88                month9      0      0             0              0
89               month10      0      0             0              0
90               month11      0      0             0              0
91               month12      0      0             0              0
92              item_per      0      1             1              1
93             store_per      0      1             1              1

[94 rows x 5 columns]

### Variable Selection using Linear Regression

In [28]:
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import SelectFromModel

lrmod = LinearRegression().fit(X,y)

In [29]:
model = SelectFromModel(lrmod, prefit=True)
model.get_support()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False,  True,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False,  True, False, False,  True, False, False, False, False,
       False,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False, False, False,
       False, False,  True, False, False, False, False, False, False,
       False, False,  True,  True,  True,  True,  True, False, False,
       False, False, False, False])

In [30]:
varSel['Linear Regression'] = model.get_support().astype('int64')
varSel

,Variable,Lasso,Ridge,RandomForest,GradientBoost,Linear Regression
0,monthly_oilprice_avg,0,0,1,0,0
1,total_month_holidays,0,0,0,0,0
2,perishable,0,0,0,1,0
3,BREAD.BAKERY,0,0,0,0,0
4,BEVERAGES,0,0,1,1,0
5,DAIRY,0,0,0,0,0
6,PERSONAL.CARE,0,0,0,0,0
7,HOME.CARE,0,0,0,0,0
8,FROZEN.FOODS,0,0,0,0,0
9,POULTRY,0,0,0,1,0
10,GROCERY.II,0,0,0,0,0
11,X.LIQUOR,0,0,0,0,0
12,EGGS,0,0,0,0,0
13,GROCERY.I,0,0,1,0,0
14,CLEANING,0,0,1,1,0
15,DELI,0,0,0,1,0
16,store_typeA,0,0,1,1,0
17,store_typeB,0,0,0,0,1
18,store_typeC,1,0,0,0,0
19,store_typeD,0,0,1,0,0
20,store_typeE,0,0,0,0,0
21,city_Ambato,0,0,0,0,0
22,city_Babahoyo,0,0,0,0,0
23,city_Cayambe,0,0,0,0,0
24,city_Cuenca,0,0,0,0,0
25,city_Daule,0,0,0,0,0
26,city_El.Carmen,0,0,0,0,0
27,city_Esmeraldas,0,0,0,0,0
28,city_Guaranda,0,0,0,0,0
29,city_Guayaquil,0,0,1,0,0
...,...,...,...,...,...,...
64,item273528,0,0,0,0,1
65,item564533,0,0,0,0,1
66,item621300,0,0,0,0,1
67,item414353,0,0,0,0,1
68,top5_item,0,0,1,1,1
69,class1040,0,0,1,1,0
70,class1122,0,0,0,1,0
71,class3020,0,0,0,0,0
72,class1072,0,0,1,1,0
73,class1016,0,0,0,0,0
74,top5_month,0,0,0,0,1
75,year2013,0,0,0,0,0
76,year2014,0,0,0,0,0
77,year2015,0,0,0,0,0
78,year2016,0,0,0,0,0
79,year2017,0,0,0,1,0
80,month1,0,0,0,0,0
81,month2,0,0,0,0,0
82,month3,0,0,0,0,0
83,month4,0,0,0,0,1
84,month5,0,0,0,0,1
85,month6,0,0,0,0,1
86,month7,0,0,0,0,1
87,month8,0,0,0,1,1
88,month9,0,0,0,0,0
89,month10,0,0,0,0,0
90,month11,0,0,0,0,0
91,month12,0,0,0,0,0
92,item_per,0,1,1,1,0
93,store_per,0,1,1,1,0

# Ada Boost

In [31]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.feature_selection import SelectFromModel

ABRmod = AdaBoostRegressor(random_state=1).fit(X,y)

In [32]:
model = SelectFromModel(ABRmod, prefit=True)
model.get_support()

array([False, False, False, False,  True, False, False, False,  True,
        True, False, False, False, False,  True, False,  True, False,
       False,  True, False, False, False,  True, False, False, False,
       False, False,  True, False, False, False, False, False, False,
       False, False, False, False, False, False, False,  True,  True,
       False, False, False, False, False, False, False, False,  True,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False,  True,  True, False, False,
        True, False, False, False, False, False, False,  True, False,
       False, False, False, False, False, False,  True, False, False,
       False, False,  True,  True])

In [33]:
varSel['Ada Boost'] = model.get_support().astype('int64')
varSel

,Variable,Lasso,Ridge,RandomForest,GradientBoost,Linear Regression,Ada Boost
0,monthly_oilprice_avg,0,0,1,0,0,0
1,total_month_holidays,0,0,0,0,0,0
2,perishable,0,0,0,1,0,0
3,BREAD.BAKERY,0,0,0,0,0,0
4,BEVERAGES,0,0,1,1,0,1
5,DAIRY,0,0,0,0,0,0
6,PERSONAL.CARE,0,0,0,0,0,0
7,HOME.CARE,0,0,0,0,0,0
8,FROZEN.FOODS,0,0,0,0,0,1
9,POULTRY,0,0,0,1,0,1
10,GROCERY.II,0,0,0,0,0,0
11,X.LIQUOR,0,0,0,0,0,0
12,EGGS,0,0,0,0,0,0
13,GROCERY.I,0,0,1,0,0,0
14,CLEANING,0,0,1,1,0,1
15,DELI,0,0,0,1,0,0
16,store_typeA,0,0,1,1,0,1
17,store_typeB,0,0,0,0,1,0
18,store_typeC,1,0,0,0,0,0
19,store_typeD,0,0,1,0,0,1
20,store_typeE,0,0,0,0,0,0
21,city_Ambato,0,0,0,0,0,0
22,city_Babahoyo,0,0,0,0,0,0
23,city_Cayambe,0,0,0,0,0,1
24,city_Cuenca,0,0,0,0,0,0
25,city_Daule,0,0,0,0,0,0
26,city_El.Carmen,0,0,0,0,0,0
27,city_Esmeraldas,0,0,0,0,0,0
28,city_Guaranda,0,0,0,0,0,0
29,city_Guayaquil,0,0,1,0,0,1
...,...,...,...,...,...,...,...
64,item273528,0,0,0,0,1,0
65,item564533,0,0,0,0,1,0
66,item621300,0,0,0,0,1,0
67,item414353,0,0,0,0,1,0
68,top5_item,0,0,1,1,1,1
69,class1040,0,0,1,1,0,1
70,class1122,0,0,0,1,0,0
71,class3020,0,0,0,0,0,0
72,class1072,0,0,1,1,0,1
73,class1016,0,0,0,0,0,0
74,top5_month,0,0,0,0,1,0
75,year2013,0,0,0,0,0,0
76,year2014,0,0,0,0,0,0
77,year2015,0,0,0,0,0,0
78,year2016,0,0,0,0,0,0
79,year2017,0,0,0,1,0,1
80,month1,0,0,0,0,0,0
81,month2,0,0,0,0,0,0
82,month3,0,0,0,0,0,0
83,month4,0,0,0,0,1,0
84,month5,0,0,0,0,1,0
85,month6,0,0,0,0,1,0
86,month7,0,0,0,0,1,0
87,month8,0,0,0,1,1,1
88,month9,0,0,0,0,0,0
89,month10,0,0,0,0,0,0
90,month11,0,0,0,0,0,0
91,month12,0,0,0,0,0,0
92,item_per,0,1,1,1,0,1
93,store_per,0,1,1,1,0,1

## Decision tree

In [34]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.feature_selection import SelectFromModel
dtree= DecisionTreeRegressor(random_state=2).fit(X,y)

In [35]:
model = SelectFromModel(dtree, prefit=True)
model.get_support()

array([ True, False, False, False,  True, False, False, False, False,
       False, False, False, False,  True,  True, False,  True, False,
       False,  True, False, False, False, False, False, False, False,
       False, False,  True, False, False, False, False, False, False,
       False, False, False, False, False, False, False,  True,  True,
       False, False, False, False, False, False, False, False,  True,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False,  True,  True, False, False,
        True, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True,  True])

In [36]:
varSel['dtree'] = model.get_support().astype('int64')
varSel

,Variable,Lasso,Ridge,RandomForest,GradientBoost,Linear Regression,Ada Boost,dtree
0,monthly_oilprice_avg,0,0,1,0,0,0,1
1,total_month_holidays,0,0,0,0,0,0,0
2,perishable,0,0,0,1,0,0,0
3,BREAD.BAKERY,0,0,0,0,0,0,0
4,BEVERAGES,0,0,1,1,0,1,1
5,DAIRY,0,0,0,0,0,0,0
6,PERSONAL.CARE,0,0,0,0,0,0,0
7,HOME.CARE,0,0,0,0,0,0,0
8,FROZEN.FOODS,0,0,0,0,0,1,0
9,POULTRY,0,0,0,1,0,1,0
10,GROCERY.II,0,0,0,0,0,0,0
11,X.LIQUOR,0,0,0,0,0,0,0
12,EGGS,0,0,0,0,0,0,0
13,GROCERY.I,0,0,1,0,0,0,1
14,CLEANING,0,0,1,1,0,1,1
15,DELI,0,0,0,1,0,0,0
16,store_typeA,0,0,1,1,0,1,1
17,store_typeB,0,0,0,0,1,0,0
18,store_typeC,1,0,0,0,0,0,0
19,store_typeD,0,0,1,0,0,1,1
20,store_typeE,0,0,0,0,0,0,0
21,city_Ambato,0,0,0,0,0,0,0
22,city_Babahoyo,0,0,0,0,0,0,0
23,city_Cayambe,0,0,0,0,0,1,0
24,city_Cuenca,0,0,0,0,0,0,0
25,city_Daule,0,0,0,0,0,0,0
26,city_El.Carmen,0,0,0,0,0,0,0
27,city_Esmeraldas,0,0,0,0,0,0,0
28,city_Guaranda,0,0,0,0,0,0,0
29,city_Guayaquil,0,0,1,0,0,1,1
...,...,...,...,...,...,...,...,...
64,item273528,0,0,0,0,1,0,0
65,item564533,0,0,0,0,1,0,0
66,item621300,0,0,0,0,1,0,0
67,item414353,0,0,0,0,1,0,0
68,top5_item,0,0,1,1,1,1,1
69,class1040,0,0,1,1,0,1,1
70,class1122,0,0,0,1,0,0,0
71,class3020,0,0,0,0,0,0,0
72,class1072,0,0,1,1,0,1,1
73,class1016,0,0,0,0,0,0,0
74,top5_month,0,0,0,0,1,0,0
75,year2013,0,0,0,0,0,0,0
76,year2014,0,0,0,0,0,0,0
77,year2015,0,0,0,0,0,0,0
78,year2016,0,0,0,0,0,0,0
79,year2017,0,0,0,1,0,1,0
80,month1,0,0,0,0,0,0,0
81,month2,0,0,0,0,0,0,0
82,month3,0,0,0,0,0,0,0
83,month4,0,0,0,0,1,0,0
84,month5,0,0,0,0,1,0,0
85,month6,0,0,0,0,1,0,0
86,month7,0,0,0,0,1,0,0
87,month8,0,0,0,1,1,1,0
88,month9,0,0,0,0,0,0,0
89,month10,0,0,0,0,0,0,0
90,month11,0,0,0,0,0,0,0
91,month12,0,0,0,0,0,0,0
92,item_per,0,1,1,1,0,1,1
93,store_per,0,1,1,1,0,1,1

### Summarization and Selection of Variables

In [37]:
varSel['Sum'] =  np.sum(varSel,axis=1)
varSel

,Variable,Lasso,Ridge,RandomForest,GradientBoost,Linear Regression,Ada Boost,dtree,Sum
0,monthly_oilprice_avg,0,0,1,0,0,0,1,2
1,total_month_holidays,0,0,0,0,0,0,0,0
2,perishable,0,0,0,1,0,0,0,1
3,BREAD.BAKERY,0,0,0,0,0,0,0,0
4,BEVERAGES,0,0,1,1,0,1,1,4
5,DAIRY,0,0,0,0,0,0,0,0
6,PERSONAL.CARE,0,0,0,0,0,0,0,0
7,HOME.CARE,0,0,0,0,0,0,0,0
8,FROZEN.FOODS,0,0,0,0,0,1,0,1
9,POULTRY,0,0,0,1,0,1,0,2
10,GROCERY.II,0,0,0,0,0,0,0,0
11,X.LIQUOR,0,0,0,0,0,0,0,0
12,EGGS,0,0,0,0,0,0,0,0
13,GROCERY.I,0,0,1,0,0,0,1,2
14,CLEANING,0,0,1,1,0,1,1,4
15,DELI,0,0,0,1,0,0,0,1
16,store_typeA,0,0,1,1,0,1,1,4
17,store_typeB,0,0,0,0,1,0,0,1
18,store_typeC,1,0,0,0,0,0,0,1
19,store_typeD,0,0,1,0,0,1,1,3
20,store_typeE,0,0,0,0,0,0,0,0
21,city_Ambato,0,0,0,0,0,0,0,0
22,city_Babahoyo,0,0,0,0,0,0,0,0
23,city_Cayambe,0,0,0,0,0,1,0,1
24,city_Cuenca,0,0,0,0,0,0,0,0
25,city_Daule,0,0,0,0,0,0,0,0
26,city_El.Carmen,0,0,0,0,0,0,0,0
27,city_Esmeraldas,0,0,0,0,0,0,0,0
28,city_Guaranda,0,0,0,0,0,0,0,0
29,city_Guayaquil,0,0,1,0,0,1,1,3
...,...,...,...,...,...,...,...,...,...
64,item273528,0,0,0,0,1,0,0,1
65,item564533,0,0,0,0,1,0,0,1
66,item621300,0,0,0,0,1,0,0,1
67,item414353,0,0,0,0,1,0,0,1
68,top5_item,0,0,1,1,1,1,1,5
69,class1040,0,0,1,1,0,1,1,4
70,class1122,0,0,0,1,0,0,0,1
71,class3020,0,0,0,0,0,0,0,0
72,class1072,0,0,1,1,0,1,1,4
73,class1016,0,0,0,0,0,0,0,0
74,top5_month,0,0,0,0,1,0,0,1
75,year2013,0,0,0,0,0,0,0,0
76,year2014,0,0,0,0,0,0,0,0
77,year2015,0,0,0,0,0,0,0,0
78,year2016,0,0,0,0,0,0,0,0
79,year2017,0,0,0,1,0,1,0,2
80,month1,0,0,0,0,0,0,0,0
81,month2,0,0,0,0,0,0,0,0
82,month3,0,0,0,0,0,0,0,0
83,month4,0,0,0,0,1,0,0,1
84,month5,0,0,0,0,1,0,0,1
85,month6,0,0,0,0,1,0,0,1
86,month7,0,0,0,0,1,0,0,1
87,month8,0,0,0,1,1,1,0,3
88,month9,0,0,0,0,0,0,0,0
89,month10,0,0,0,0,0,0,0,0
90,month11,0,0,0,0,0,0,0,0
91,month12,0,0,0,0,0,0,0,0
92,item_per,0,1,1,1,0,1,1,5
93,store_per,0,1,1,1,0,1,1,5

In [38]:
varSel.groupby('Sum')['Variable'].count()

Sum
0    41
1    35
2     4
3     3
4     7
5     4
Name: Variable, dtype: int64

In [41]:
varSel.loc[(varSel['Sum']>=2)]

,Variable,Lasso,Ridge,RandomForest,GradientBoost,Linear Regression,Ada Boost,dtree,Sum
0,monthly_oilprice_avg,0,0,1,0,0,0,1,2
4,BEVERAGES,0,0,1,1,0,1,1,4
9,POULTRY,0,0,0,1,0,1,0,2
13,GROCERY.I,0,0,1,0,0,0,1,2
14,CLEANING,0,0,1,1,0,1,1,4
16,store_typeA,0,0,1,1,0,1,1,4
19,store_typeD,0,0,1,0,0,1,1,3
29,city_Guayaquil,0,0,1,0,0,1,1,3
43,total_city_sales.x,0,0,1,1,0,1,1,4
44,sales_perc.x,0,0,1,1,0,1,1,4
53,cluster8,0,0,1,1,1,1,1,5
68,top5_item,0,0,1,1,1,1,1,5
69,class1040,0,0,1,1,0,1,1,4
72,class1072,0,0,1,1,0,1,1,4
79,year2017,0,0,0,1,0,1,0,2
87,month8,0,0,0,1,1,1,0,3
92,item_per,0,1,1,1,0,1,1,5
93,store_per,0,1,1,1,0,1,1,5

In [42]:
varSel.loc[(varSel['Sum']>=3)]

,Variable,Lasso,Ridge,RandomForest,GradientBoost,Linear Regression,Ada Boost,dtree,Sum
4,BEVERAGES,0,0,1,1,0,1,1,4
14,CLEANING,0,0,1,1,0,1,1,4
16,store_typeA,0,0,1,1,0,1,1,4
19,store_typeD,0,0,1,0,0,1,1,3
29,city_Guayaquil,0,0,1,0,0,1,1,3
43,total_city_sales.x,0,0,1,1,0,1,1,4
44,sales_perc.x,0,0,1,1,0,1,1,4
53,cluster8,0,0,1,1,1,1,1,5
68,top5_item,0,0,1,1,1,1,1,5
69,class1040,0,0,1,1,0,1,1,4
72,class1072,0,0,1,1,0,1,1,4
87,month8,0,0,0,1,1,1,0,3
92,item_per,0,1,1,1,0,1,1,5
93,store_per,0,1,1,1,0,1,1,5

In [43]:
varSel.loc[(varSel['Sum']>=4)]

,Variable,Lasso,Ridge,RandomForest,GradientBoost,Linear Regression,Ada Boost,dtree,Sum
4,BEVERAGES,0,0,1,1,0,1,1,4
14,CLEANING,0,0,1,1,0,1,1,4
16,store_typeA,0,0,1,1,0,1,1,4
43,total_city_sales.x,0,0,1,1,0,1,1,4
44,sales_perc.x,0,0,1,1,0,1,1,4
53,cluster8,0,0,1,1,1,1,1,5
68,top5_item,0,0,1,1,1,1,1,5
69,class1040,0,0,1,1,0,1,1,4
72,class1072,0,0,1,1,0,1,1,4
92,item_per,0,1,1,1,0,1,1,5
93,store_per,0,1,1,1,0,1,1,5

In [73]:
l=list()
varSel.loc[(varSel['Sum']>=3)]['Variable']
varSel[('Lasso','Ridge')]

KeyError: ('Lasso', 'Ridge')

In [44]:
l=varSel.loc[(varSel['Sum']>=3)]['Variable'].tolist()

In [46]:
df.loc[:,l]

,BEVERAGES,CLEANING,store_typeA,store_typeD,city_Guayaquil,total_city_sales.x,sales_perc.x,cluster8,top5_item,class1040,class1072,month8,item_per,store_per
0,0,0,0,1,0,0.735766,0.504859,0,0,0,0,0,0.001346,0.022585
1,0,0,0,1,0,0.746302,0.487145,0,0,0,0,0,0.001346,0.022585
2,0,0,0,1,0,0.758742,0.494210,0,0,0,0,0,0.001346,0.022585
3,0,0,0,1,0,0.707916,0.480951,0,0,0,0,0,0.001346,0.022585
4,0,0,0,1,0,0.720423,0.468696,0,0,0,0,1,0.001346,0.022585
5,0,0,0,1,0,0.768171,0.497406,0,0,0,0,0,0.001346,0.022585
6,0,0,0,1,0,0.754731,0.495428,0,0,0,0,0,0.001346,0.022585
7,0,0,0,1,0,0.800121,0.507967,0,0,0,0,0,0.001346,0.022585
8,0,0,0,1,0,0.911430,0.485479,0,0,0,0,0,0.001346,0.022585
9,0,0,0,1,0,0.856373,0.493120,0,0,0,0,0,0.001346,0.022585
10,0,0,0,1,0,0.924564,0.492727,0,0,0,0,0,0.001346,0.022585
11,0,0,0,1,0,0.841237,0.513177,0,0,0,0,0,0.001346,0.022585
12,0,0,0,1,0,0.855275,0.506752,0,0,0,0,0,0.001346,0.022585
13,0,0,0,1,0,0.843750,0.502152,0,0,0,0,0,0.001346,0.022585
14,0,0,0,1,0,0.858392,0.484502,0,0,0,0,0,0.001346,0.022585
15,0,0,0,1,0,0.846148,0.493799,0,0,0,0,1,0.001346,0.022585
16,0,0,0,1,0,0.904300,0.503664,0,0,0,0,0,0.001346,0.022585
17,0,0,0,1,0,0.902293,0.495543,0,0,0,0,0,0.001346,0.022585
18,0,0,0,1,0,0.915668,0.492773,0,0,0,0,0,0.001346,0.022585
19,0,0,0,1,0,1.000000,0.469316,0,0,0,0,0,0.001346,0.022585
20,0,0,0,1,0,0.866210,0.490651,0,0,0,0,0,0.001346,0.022585
21,0,0,0,1,0,0.779034,0.478646,0,0,0,0,0,0.001346,0.022585
22,0,0,0,1,0,0.907323,0.496496,0,0,0,0,0,0.001346,0.022585
23,0,0,0,1,0,0.868792,0.497482,0,0,0,0,0,0.001346,0.022585
24,0,0,0,1,0,0.954358,0.492046,0,0,0,0,0,0.001346,0.022585
25,0,0,0,1,0,0.876196,0.482579,0,0,0,0,0,0.001346,0.022585
26,0,0,0,1,0,0.871057,0.470743,0,0,0,0,0,0.001346,0.022585
27,0,0,0,1,0,0.898099,0.463545,0,0,0,0,1,0.001346,0.022585
28,0,0,0,1,0,0.923141,0.477285,0,0,0,0,0,0.001346,0.022585
29,0,0,0,1,0,0.885446,0.471846,0,0,0,0,0,0.001346,0.022585
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1737696,0,1,0,0,0,0.841237,0.513177,0,0,0,0,0,0.001270,0.022969
1737697,0,1,0,0,0,1.000000,0.469316,0,0,0,0,0,0.001270,0.022969
1737698,0,1,0,0,0,0.866210,0.490651,0,0,0,0,0,0.001270,0.022969
1737699,0,1,0,0,0,0.779034,0.478646,0,0,0,0,0,0.001270,0.022969
1737700,0,1,0,0,0,0.907323,0.496496,0,0,0,0,0,0.001270,0.022969
1737701,0,1,0,0,0,0.868792,0.497482,0,0,0,0,0,0.001270,0.022969
1737702,0,1,0,0,0,0.954358,0.492046,0,0,0,0,0,0.001270,0.022969
1737703,0,1,0,0,0,0.876196,0.482579,0,0,0,0,0,0.001270,0.022969
1737704,0,1,0,0,0,0.871057,0.470743,0,0,0,0,0,0.001270,0.022969
1737705,0,1,0,0,0,0.898099,0.463545,0,0,0,0,1,0.001270,0.022969
1737706,0,1,0,0,0,0.923141,0.477285,0,0,0,0,0,0.001270,0.022969
1737707,0,1,0,0,0,0.777362,0.471952,0,0,0,0,0,0.001270,0.022969
1737708,0,1,0,0,0,0.810781,0.476405,0,0,0,0,0,0.001270,0.022969
1737709,0,1,0,0,0,0.988490,0.499353,0,0,0,0,0,0.001270,0.022969
1737710,0,1,0,0,0,0.851985,0.474025,0,0,0,0,0,0.001270,0.022969
1737711,0,1,0,0,0,0.737691,0.473527,0,0,0,0,0,0.001270,0.022969
1737712,0,1,0,0,0,0.780152,0.466031,0,0,0,0,0,0.001270,0.022969
1737713,0,1,0,0,0,0.742184,0.456807,0,0,0,0,1,0.001270,0.022969
1737714,0,1,0,0,0,0.755669,0.477852,0,0,0,0,0,0.001270,0.022969
1737715,0,1,0,0,0,0.801854,0.483059,0,0,0,0,0,0.001270,0.022969
1737716,0,1,0,0,0,0.855237,0.484743,0,0,0,0,0,0.001270,0.022969
1737717,0,1,0,0,0,0.958049,0.470372,0,0,0,0,0,0.001270,0.022969
1737718,0,1,0,0,0,0.858397,0.487247,0,0,0,0,0,0.001270,0.022969
1737719,0,1,0,0,0,0.743875,0.478712,0,0,0,0,0,0.001270,0.022969
1737720,0,1,0,0,0,0.868771,0.483735,0,0,0,0,0,0.001270,0.022969
1737721,0,1,0,0,0,0.809946,0.473401,0,0,0,0,0,0.001270,0.022969
1737722,0,1,0,0,0,0.808270,0.452587,0,0,0,0,0,0.001270,0.022969
1737723,0,1,0,0,0,0.780850,0.466544,0,0,0,0,0,0.001270,0.022969
1737724,0,1,0,0,0,0.799129,0.454476,0,0,0,0,0,0.001270,0.022969
1737725,0,1,0,0,0,0.354116,0.435217,0,0,0,0,1,0.001270,0.022969

In [47]:
varSel.to_csv("c:/Users/Guy/Documents/DataScience/Data/varSel.csv")

We can now decide a threshold for selecting our variables!