# training the selected XGB model to the final prediction

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import sklearn.metrics as metrics

In [2]:
train = pd.read_csv("../data/trainp.csv")
dev = pd.read_csv("../data/devp.csv")
test= pd.read_csv("../data/testp.csv")

In [3]:
varsel = pd.read_csv("../data/varsel.csv")

In [9]:
varsel.head()

,Unnamed: 0,Variable,Lasso,Ridge,RandomForest,GradientBoost,Linear Regression,Ada Boost,dtree,Sum
0,0,monthly_oilprice_avg,0,0,1,0,0,0,1,2
1,1,total_month_holidays,0,0,0,0,0,0,0,0
2,2,perishable,0,0,0,1,0,0,0,1
3,3,BREAD.BAKERY,0,0,0,0,0,0,0,0
4,4,BEVERAGES,0,0,1,1,0,1,1,4

In [13]:
train.head()

,id,monthly_oilprice_avg,BEVERAGES,POULTRY,GROCERY.I,CLEANING,store_typeA,store_typeD,city_Guayaquil,total_city_sales.x,sales_perc.x,cluster8,top5_item,class1040,class1072,year2017,month8,item_per,store_per,total_unit_sales
0,1474241,0.201154,0,0,0,0,0,0,0,0.083314,0.048508,0,0,0,0,0,0,0.001325,0.023096,3.688879
1,973784,0.229517,0,0,1,0,0,0,0,0.021197,0.012943,0,0,0,0,0,0,0.001186,0.020886,3.891820
2,1458848,0.269875,0,0,0,0,0,0,1,0.228751,0.124626,0,0,0,0,0,0,0.001323,0.022468,3.258097
3,185972,0.942353,0,0,0,1,0,1,0,0.028841,0.018528,0,0,0,0,0,0,0.001161,0.022039,5.023881
4,483059,0.229517,0,0,0,0,0,0,0,0.021197,0.012943,0,0,0,0,0,0,0.000969,0.020886,4.852030

In [10]:
v2 = varsel.loc[varsel['Sum']>=2]['Variable'].tolist()
v3 = varsel.loc[varsel['Sum']>=3]['Variable'].tolist()
v4 = varsel.loc[varsel['Sum']>=4]['Variable'].tolist()

In [11]:
v2

['monthly_oilprice_avg',
 'BEVERAGES',
 'POULTRY',
 'GROCERY.I',
 'CLEANING',
 'store_typeA',
 'store_typeD',
 'city_Guayaquil',
 'total_city_sales.x',
 'sales_perc.x',
 'cluster8',
 'top5_item',
 'class1040',
 'class1072',
 'year2017',
 'month8',
 'item_per',
 'store_per']

In [20]:
Xtrain= train.loc[:, v2]
y = train.loc[:,'total_unit_sales']

In [14]:
Xdev= dev.loc[:, v2]
ydev = dev.loc[:,'total_unit_sales']

In [15]:
Xtest= test.loc[:, v2]
ytest = test.loc[:,'total_unit_sales']

### XGboost

In [16]:
from xgboost.sklearn import XGBRegressor

## Running the base model

In [17]:
params = {'objective':'reg:linear', 'max_depth':6, 'learning_rate':1,
         'n_estimators':5}

In [21]:
xgb = XGBRegressor(**params).fit(Xtrain,y)

[20:31:21] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.1.0/src/objective/regression_obj.cu:168: reg:linear is now deprecated in favor of reg:squarederror.
[20:31:34] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.1.0/src/objective/regression_obj.cu:168: reg:linear is now deprecated in favor of reg:squarederror.

In [22]:
y_hat= xgb.predict(Xtrain)

In [24]:

print('RMSE= %f' % np.sqrt(metrics.mean_squared_error(y,y_hat)))

RMSE= 0.858874

In [25]:
ydev_hat= xgb.predict(Xdev)

In [27]:
print('RMSE= %f' % np.sqrt(metrics.mean_squared_error(ydev,ydev_hat)))

RMSE= 0.861525

In [28]:
ytest_hat= xgb.predict(Xtest)

In [29]:
print('RMSE= %f' % np.sqrt(metrics.mean_squared_error(ytest,ytest_hat)))

RMSE= 0.855770

## Running the xgb model with the selectd parameters after fine tunning

In [30]:
params1 = {'n_estimators': 971,
 'min_samples_split': 5,
 'min_samples_leaf': 1,
 'max_features': 'auto',
 'max_depth': None,
 'bootstrap': False}

In [32]:
xgb1 = XGBRegressor(**params1).fit(Xtrain,y)

[20:36:14] WARNING: C:\Users\Administrator\workspace\xgboost-win64_release_1.1.0\src\learner.cc:480:
Parameters: { bootstrap, max_features, min_samples_leaf, min_samples_split } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.

In [34]:
y_hat= xgb1.predict(Xtrain)

In [35]:
ydev_hat= xgb1.predict(Xdev)

In [37]:
ytest_hat= xgb1.predict(Xtest)

In [36]:
print('RMSE= %f' % np.sqrt(metrics.mean_squared_error(y,y_hat)))

RMSE= 0.568114

In [38]:
print('RMSE= %f' % np.sqrt(metrics.mean_squared_error(ydev,ydev_hat)))

RMSE= 0.583763

In [39]:
print('RMSE= %f' % np.sqrt(metrics.mean_squared_error(ytest,ytest_hat)))

RMSE= 0.580874

In [44]:
np.sqrt(metrics.mean_squared_error(ytest,ytest_hat))

0.5808741728768898

# Table of the final model scores

In [7]:
final_scores = pd.DataFrame(columns= ['Model','RMSE train','RMSE dev','RMSE test'])

In [5]:
add_row = pd.Series(['XGB regressor base mode',0.858874,0.861525,0.855770],index=['Model','RMSE train','RMSE dev','RMSE test'])

In [9]:
final_scores = final_scores.append(add_row, ignore_index=True)

In [11]:
add_row1 = pd.Series(['XGB regressor fine tuned mode',0.568114,0.583763,0.580874],index=['Model','RMSE train','RMSE dev','RMSE test'])

In [12]:
final_scores = final_scores.append(add_row1, ignore_index=True)

In [13]:
final_scores

                           Model  RMSE train  RMSE dev  RMSE test
0        XGB regressor base mode    0.858874  0.861525   0.855770
1  XGB regressor fine tuned mode    0.568114  0.583763   0.580874

In [53]:
test['predicted_sales'] = ytest_hat

In [74]:
final = test.loc[:,['total_unit_sales','predicted_sales']]

In [75]:
final['sales_reverse_log'] = 10**final['total_unit_sales'] - 1

In [77]:
final['predicted_sales_reverse_log'] = 10**final['predicted_sales'] - 1

In [78]:
final

,total_unit_sales,predicted_sales,sales_reverse_log,predicted_sales_reverse_log
0,4.043051,4.385918,1.104109e+04,24316.457031
1,3.784190,4.431681,6.083006e+03,27018.708984
2,4.262680,4.335666,1.830864e+04,21659.361328
3,3.806662,4.383003,6.406115e+03,24153.789062
4,5.659482,4.672786,4.565426e+05,47073.554688
5,3.850148,4.256692,7.080864e+03,18057.925781
6,4.828314,4.229294,6.734530e+04,16953.845703
7,4.584967,4.184513,3.845530e+04,15292.718750
8,4.204693,4.132079,1.602011e+04,13553.363281
9,5.793014,4.679325,6.208875e+05,47787.636719
10,4.110874,4.195626,1.290744e+04,15689.120117
11,4.143135,4.120163,1.390284e+04,13186.514648
12,3.970292,4.049061,9.337818e+03,11194.946289
13,5.164786,4.951677,1.461447e+05,89468.976562
14,5.129899,4.959013,1.348638e+05,90993.148438
15,5.236442,4.869314,1.723612e+05,74013.054688
16,5.680173,4.806102,4.788194e+05,63987.480469
17,4.584967,4.294180,3.845530e+04,19686.017578
18,5.641907,4.424384,4.384359e+05,26568.544922
19,5.214936,4.281289,1.640337e+05,19110.250000
20,4.510860,4.416030,3.242247e+04,26062.359375
21,4.653960,4.391683,4.507655e+04,24641.378906
22,4.779123,4.295497,6.013347e+04,19745.832031
23,4.219508,4.126040,1.657607e+04,13366.170898
24,4.465908,4.234702,2.923434e+04,17166.304688
25,4.174387,4.134657,1.494026e+04,13634.055664
26,4.262680,4.124946,1.830864e+04,13332.544922
27,5.700444,4.798108,5.016984e+05,62820.472656
28,4.276666,4.584910,1.890789e+04,38450.203125
29,4.736198,4.416715,5.447415e+04,26103.457031
...,...,...,...,...
173743,4.158883,4.220208,1.441627e+04,16602.806641
173744,4.290459,4.228791,1.951808e+04,16934.236328
173745,4.330733,4.122578,2.141475e+04,13260.042969
173746,5.181784,4.954486,1.519780e+05,90049.453125
173747,4.644391,4.386027,4.409416e+04,24322.570312
173748,4.836282,4.394752,6.859233e+04,24816.128906
173749,4.394449,4.583144,2.479886e+04,38294.144531
173750,4.663439,4.567137,4.607122e+04,36908.382812
173751,4.744932,4.535099,5.558074e+04,34283.593750
173752,4.744932,4.616018,5.558074e+04,41305.445312
173753,4.605170,4.527595,4.028649e+04,33696.296875
173754,4.718499,4.402524,5.229866e+04,25264.300781
173755,4.795791,4.531672,6.248613e+04,34014.082031
173756,4.094345,3.844661,1.242538e+04,6991.959473
173757,5.455321,5.472579,2.853117e+05,296878.000000
173758,5.693732,5.404304,4.940049e+05,253689.390625
173759,5.375278,5.377712,2.372884e+05,238621.968750
173760,5.293305,5.251115,1.964729e+05,178284.015625
173761,5.673323,5.253303,4.713270e+05,179184.375000
173762,5.973810,5.234190,9.414758e+05,171469.921875
173763,6.228511,5.503841,1.692430e+06,319036.250000
173764,6.423247,5.488580,2.650006e+06,308019.937500
173765,7.032624,5.059134,1.078014e+07,114585.773438
173766,6.703188,5.283096,5.048798e+06,191908.218750
173767,6.682109,5.531476,4.809595e+06,339997.093750
173768,6.951772,5.430822,8.948951e+06,269662.625000
173769,6.190315,5.084728,1.549941e+06,121541.390625
173770,6.021023,5.266392,1.049598e+06,184667.250000
173771,5.529429,5.528579,3.383980e+05,337736.468750
173772,6.001415,5.421824,1.003262e+06,264132.812500

In [79]:
final.to_csv("c:/Users/Guy/Documents/DataScience/project/predictXGboost.csv")

We can now decide a threshold for selecting our variables!