# Feature Selection Strategy

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
df = pd.read_csv("../data/cluster.csv")
df.head()

,id,item_nbr,store_nbr,prev_month_sales,prev_3month_sales,avg_prev_3months_sales,min_prev_3months_sales,max_prev_3months_sales,monthly_oilprice_avg,total_month_holidays,...,month9,month10,month11,month12,item_per,store_per,Year_per,kmeans_cl,PCA,total_unit_sales
0,1,1003679,1,0.345911,0.254901,0.306831,0.346063,0.297293,0.920859,0.166667,...,0,1,0,0,0.001345,0.022525,0.142962,2,-0.014302,0.318578
1,2,1003679,1,0.388910,0.419162,0.363857,0.350456,0.362066,0.989791,0.500000,...,0,0,0,0,0.001345,0.022525,0.196628,2,-0.019425,0.322870
2,3,1003679,1,0.694539,0.329388,0.534752,0.341551,0.663942,0.221588,0.000000,...,0,0,0,0,0.001345,0.022525,0.237730,2,0.033640,0.342801
3,4,1003679,1,0.386167,0.321642,0.398612,0.431088,0.377000,0.316458,0.666667,...,0,0,0,0,0.001345,0.022525,0.237730,2,0.015091,0.435264
4,5,1003679,1,0.323644,0.438425,0.325812,0.370816,0.300962,0.198775,0.000000,...,1,0,0,0,0.001345,0.022525,0.237730,2,-0.010832,0.367194

In [10]:
df.loc[:, ['id', 'total_unit_sales']]

              id  total_unit_sales
0              1          0.318578
1              2          0.322870
2              3          0.342801
3              4          0.435264
4              5          0.367194
5              6          0.339002
6              7          0.424171
7              8          0.309644
8              9          0.268120
9             10          0.353699
10            11          0.535219
11            12          0.441579
12            13          0.412279
13            14          0.426450
14            15          0.379670
15            16          0.531666
16            17          0.524321
17            18          0.153594
18            19          0.570912
19            20          0.587089
20            21          0.711582
21            22          0.532859
22            23          0.535219
23            24          0.543225
24            25          0.402108
25            26          0.531666
26            27          0.480093
27            28          0.453529
28            29          0.388445
29            30          0.488076
...          ...               ...
1734017  1975213          0.419516
1734018  1975214          0.279520
1734019  1975215          0.414727
1734020  1975216          0.309644
1734021  1975217          0.417139
1734022  1975218          0.402108
1734023  1975219          0.494197
1734024  1975220          0.262112
1734025  1975221          0.426450
1734026  1975222          0.421860
1734027  1975223          0.304990
1734028  1975224          0.412279
1734029  1975225          0.462866
1734030  1975226          0.443632
1734031  1975227          0.604925
1734032  1975228          0.599456
1734033  1975229          0.501541
1734034  1975230          0.511304
1734035  1975231          0.367194
1734036  1975232          0.388445
1734037  1975233          0.412279
1734038  1975234          0.539841
1734039  1975235          0.536387
1734040  1975236          0.597859
1734041  1975237          0.523064
1734042  1975238          0.421860
1734043  1975239          0.457327
1734044  1975240          0.536387
1734045  1975241          0.414727
1734046  1975242          0.350145

[1734047 rows x 2 columns]

In [11]:
df.shape

(1734047, 110)

In [12]:
#df['rejected'] = df['rejected'].astype('category')
#df['condition'] = df['condition'].astype('category')

df.dtypes

id                                 int64
item_nbr                           int64
store_nbr                          int64
prev_month_sales                 float64
prev_3month_sales                float64
avg_prev_3months_sales           float64
min_prev_3months_sales           float64
max_prev_3months_sales           float64
monthly_oilprice_avg             float64
total_month_holidays             float64
total_month_transactions         float64
prev_month_transactions          float64
prev_3month_transactions         float64
avg_prev_3months_transactions    float64
min_prev_3months_transactions    float64
max_prev_3months_transactions    float64
BREAD.BAKERY                       int64
BEVERAGES                          int64
DAIRY                              int64
PERSONAL.CARE                      int64
HOME.CARE                          int64
FROZEN.FOODS                       int64
POULTRY                            int64
GROCERY.II                         int64
X.LIQUOR                           int64
EGGS                               int64
GROCERY.I                          int64
CLEANING                           int64
DELI                               int64
store_typeA                        int64
                                  ...
item502331                         int64
item273528                         int64
item564533                         int64
item621300                         int64
item414353                         int64
top5_item                          int64
top5_month                         int64
year2013                           int64
year2014                           int64
year2015                           int64
year2016                           int64
year2017                           int64
month1                             int64
month2                             int64
month3                             int64
month4                             int64
month5                             int64
month6                             int64
month7                             int64
month8                             int64
month9                             int64
month10                            int64
month11                            int64
month12                            int64
item_per                         float64
store_per                        float64
Year_per                         float64
kmeans_cl                          int64
PCA                              float64
total_unit_sales                 float64
Length: 110, dtype: object

In [13]:
df.shape

(1734047, 110)

In [14]:
varSel = pd.DataFrame({'Variable': df.columns[3:109]})
varSel

                          Variable
0                 prev_month_sales
1                prev_3month_sales
2           avg_prev_3months_sales
3           min_prev_3months_sales
4           max_prev_3months_sales
5             monthly_oilprice_avg
6             total_month_holidays
7         total_month_transactions
8          prev_month_transactions
9         prev_3month_transactions
10   avg_prev_3months_transactions
11   min_prev_3months_transactions
12   max_prev_3months_transactions
13                    BREAD.BAKERY
14                       BEVERAGES
15                           DAIRY
16                   PERSONAL.CARE
17                       HOME.CARE
18                    FROZEN.FOODS
19                         POULTRY
20                      GROCERY.II
21                        X.LIQUOR
22                            EGGS
23                       GROCERY.I
24                        CLEANING
25                            DELI
26                     store_typeA
27                     store_typeB
28                     store_typeC
29                     store_typeD
..                             ...
76                       class1016
77                      item502331
78                      item273528
79                      item564533
80                      item621300
81                      item414353
82                       top5_item
83                      top5_month
84                        year2013
85                        year2014
86                        year2015
87                        year2016
88                        year2017
89                          month1
90                          month2
91                          month3
92                          month4
93                          month5
94                          month6
95                          month7
96                          month8
97                          month9
98                         month10
99                         month11
100                        month12
101                       item_per
102                      store_per
103                       Year_per
104                      kmeans_cl
105                            PCA

[106 rows x 1 columns]

## Multivariable Analysis

In [6]:
### drop na
##df = df.dropna()

In [15]:
## remove unnecessary vars
X = df.loc[:,df.columns[3:109]]
X.head()

,prev_month_sales,prev_3month_sales,avg_prev_3months_sales,min_prev_3months_sales,max_prev_3months_sales,monthly_oilprice_avg,total_month_holidays,total_month_transactions,prev_month_transactions,prev_3month_transactions,...,month8,month9,month10,month11,month12,item_per,store_per,Year_per,kmeans_cl,PCA
0,0.345911,0.254901,0.306831,0.346063,0.297293,0.920859,0.166667,0.410867,0.381241,0.410748,...,0,0,1,0,0,0.001345,0.022525,0.142962,2,-0.014302
1,0.388910,0.419162,0.363857,0.350456,0.362066,0.989791,0.500000,0.403633,0.406597,0.377261,...,0,0,0,0,0,0.001345,0.022525,0.196628,2,-0.019425
2,0.694539,0.329388,0.534752,0.341551,0.663942,0.221588,0.000000,0.419405,0.466159,0.398164,...,0,0,0,0,0,0.001345,0.022525,0.237730,2,0.033640
3,0.386167,0.321642,0.398612,0.431088,0.377000,0.316458,0.666667,0.408096,0.411971,0.405372,...,0,0,0,0,0,0.001345,0.022525,0.237730,2,0.015091
4,0.323644,0.438425,0.325812,0.370816,0.300962,0.198775,0.000000,0.408514,0.382337,0.410710,...,0,1,0,0,0,0.001345,0.022525,0.237730,2,-0.010832

In [16]:
 y = df.loc[:,df.columns[109]]
print([X.shape,y.shape])

[(1734047, 106), (1734047,)]

In [17]:
y

0          0.318578
1          0.322870
2          0.342801
3          0.435264
4          0.367194
5          0.339002
6          0.424171
7          0.309644
8          0.268120
9          0.353699
10         0.535219
11         0.441579
12         0.412279
13         0.426450
14         0.379670
15         0.531666
16         0.524321
17         0.153594
18         0.570912
19         0.587089
20         0.711582
21         0.532859
22         0.535219
23         0.543225
24         0.402108
25         0.531666
26         0.480093
27         0.453529
28         0.388445
29         0.488076
             ...
1734017    0.419516
1734018    0.279520
1734019    0.414727
1734020    0.309644
1734021    0.417139
1734022    0.402108
1734023    0.494197
1734024    0.262112
1734025    0.426450
1734026    0.421860
1734027    0.304990
1734028    0.412279
1734029    0.462866
1734030    0.443632
1734031    0.604925
1734032    0.599456
1734033    0.501541
1734034    0.511304
1734035    0.367194
1734036    0.388445
1734037    0.412279
1734038    0.539841
1734039    0.536387
1734040    0.597859
1734041    0.523064
1734042    0.421860
1734043    0.457327
1734044    0.536387
1734045    0.414727
1734046    0.350145
Name: total_unit_sales, Length: 1734047, dtype: float64

### Variable Selection using LASSO (L1 penalization)

In [18]:
from sklearn.linear_model import Lasso
from sklearn.feature_selection import SelectFromModel

lassomod = Lasso(alpha=0.05).fit(X, y)

In [19]:
model = SelectFromModel(lassomod, prefit=True)
model.get_support()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False])

In [20]:
varSel['Lasso'] = model.get_support().astype('int64')
varSel

                          Variable  Lasso
0                 prev_month_sales      0
1                prev_3month_sales      0
2           avg_prev_3months_sales      0
3           min_prev_3months_sales      0
4           max_prev_3months_sales      0
5             monthly_oilprice_avg      0
6             total_month_holidays      0
7         total_month_transactions      0
8          prev_month_transactions      0
9         prev_3month_transactions      0
10   avg_prev_3months_transactions      0
11   min_prev_3months_transactions      0
12   max_prev_3months_transactions      0
13                    BREAD.BAKERY      0
14                       BEVERAGES      0
15                           DAIRY      0
16                   PERSONAL.CARE      0
17                       HOME.CARE      0
18                    FROZEN.FOODS      0
19                         POULTRY      0
20                      GROCERY.II      0
21                        X.LIQUOR      0
22                            EGGS      0
23                       GROCERY.I      0
24                        CLEANING      0
25                            DELI      0
26                     store_typeA      0
27                     store_typeB      0
28                     store_typeC      0
29                     store_typeD      0
..                             ...    ...
76                       class1016      0
77                      item502331      0
78                      item273528      0
79                      item564533      0
80                      item621300      0
81                      item414353      0
82                       top5_item      0
83                      top5_month      0
84                        year2013      0
85                        year2014      0
86                        year2015      0
87                        year2016      0
88                        year2017      0
89                          month1      0
90                          month2      0
91                          month3      0
92                          month4      0
93                          month5      0
94                          month6      0
95                          month7      0
96                          month8      0
97                          month9      0
98                         month10      0
99                         month11      0
100                        month12      0
101                       item_per      0
102                      store_per      0
103                       Year_per      0
104                      kmeans_cl      0
105                            PCA      0

[106 rows x 2 columns]

## Ridge

In [21]:
from sklearn.linear_model import Ridge

rdgmod = Ridge(alpha=0.5,normalize=True).fit(X,y)

In [22]:
model = SelectFromModel(rdgmod, prefit=True)
model.get_support()

array([ True,  True,  True,  True,  True, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True, False, False, False,  True])

In [23]:
varSel['Ridge'] = model.get_support().astype('int64')
varSel

                          Variable  Lasso  Ridge
0                 prev_month_sales      0      1
1                prev_3month_sales      0      1
2           avg_prev_3months_sales      0      1
3           min_prev_3months_sales      0      1
4           max_prev_3months_sales      0      1
5             monthly_oilprice_avg      0      0
6             total_month_holidays      0      0
7         total_month_transactions      0      0
8          prev_month_transactions      0      0
9         prev_3month_transactions      0      0
10   avg_prev_3months_transactions      0      0
11   min_prev_3months_transactions      0      0
12   max_prev_3months_transactions      0      0
13                    BREAD.BAKERY      0      0
14                       BEVERAGES      0      0
15                           DAIRY      0      0
16                   PERSONAL.CARE      0      0
17                       HOME.CARE      0      0
18                    FROZEN.FOODS      0      0
19                         POULTRY      0      0
20                      GROCERY.II      0      0
21                        X.LIQUOR      0      0
22                            EGGS      0      0
23                       GROCERY.I      0      0
24                        CLEANING      0      0
25                            DELI      0      0
26                     store_typeA      0      0
27                     store_typeB      0      0
28                     store_typeC      0      0
29                     store_typeD      0      0
..                             ...    ...    ...
76                       class1016      0      0
77                      item502331      0      0
78                      item273528      0      0
79                      item564533      0      0
80                      item621300      0      0
81                      item414353      0      0
82                       top5_item      0      0
83                      top5_month      0      0
84                        year2013      0      0
85                        year2014      0      0
86                        year2015      0      0
87                        year2016      0      0
88                        year2017      0      0
89                          month1      0      0
90                          month2      0      0
91                          month3      0      0
92                          month4      0      0
93                          month5      0      0
94                          month6      0      0
95                          month7      0      0
96                          month8      0      0
97                          month9      0      0
98                         month10      0      0
99                         month11      0      0
100                        month12      0      0
101                       item_per      0      1
102                      store_per      0      0
103                       Year_per      0      0
104                      kmeans_cl      0      0
105                            PCA      0      1

[106 rows x 3 columns]

### Variable Selection using Random Forest

In [24]:
from sklearn.ensemble import RandomForestRegressor

rfmod = RandomForestRegressor().fit(X, y)
#rfmod.feature_importances_

C:\Users\Guy\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [25]:
model = SelectFromModel(rfmod, prefit=True)
model.get_support()

array([ True, False,  True,  True, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False])

In [26]:
varSel['RandomForest'] = model.get_support().astype('int64')
varSel

                          Variable  Lasso  Ridge  RandomForest
0                 prev_month_sales      0      1             1
1                prev_3month_sales      0      1             0
2           avg_prev_3months_sales      0      1             1
3           min_prev_3months_sales      0      1             1
4           max_prev_3months_sales      0      1             0
5             monthly_oilprice_avg      0      0             0
6             total_month_holidays      0      0             0
7         total_month_transactions      0      0             0
8          prev_month_transactions      0      0             0
9         prev_3month_transactions      0      0             0
10   avg_prev_3months_transactions      0      0             0
11   min_prev_3months_transactions      0      0             0
12   max_prev_3months_transactions      0      0             0
13                    BREAD.BAKERY      0      0             0
14                       BEVERAGES      0      0             0
15                           DAIRY      0      0             0
16                   PERSONAL.CARE      0      0             0
17                       HOME.CARE      0      0             0
18                    FROZEN.FOODS      0      0             0
19                         POULTRY      0      0             0
20                      GROCERY.II      0      0             0
21                        X.LIQUOR      0      0             0
22                            EGGS      0      0             0
23                       GROCERY.I      0      0             0
24                        CLEANING      0      0             0
25                            DELI      0      0             0
26                     store_typeA      0      0             0
27                     store_typeB      0      0             0
28                     store_typeC      0      0             0
29                     store_typeD      0      0             0
..                             ...    ...    ...           ...
76                       class1016      0      0             0
77                      item502331      0      0             0
78                      item273528      0      0             0
79                      item564533      0      0             0
80                      item621300      0      0             0
81                      item414353      0      0             0
82                       top5_item      0      0             0
83                      top5_month      0      0             0
84                        year2013      0      0             0
85                        year2014      0      0             0
86                        year2015      0      0             0
87                        year2016      0      0             0
88                        year2017      0      0             0
89                          month1      0      0             0
90                          month2      0      0             0
91                          month3      0      0             0
92                          month4      0      0             0
93                          month5      0      0             0
94                          month6      0      0             0
95                          month7      0      0             0
96                          month8      0      0             0
97                          month9      0      0             0
98                         month10      0      0             0
99                         month11      0      0             0
100                        month12      0      0             0
101                       item_per      0      1             0
102                      store_per      0      0             0
103                       Year_per      0      0             0
104                      kmeans_cl      0      0             0
105                            PCA      0      1             0

[106 rows x 4 columns]

### Variable Selection using Gradient Boosting classification

In [27]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.feature_selection import SelectFromModel

gbmod = GradientBoostingRegressor().fit(X,y)

In [28]:
model = SelectFromModel(gbmod, prefit=True)
model.get_support()

array([False, False,  True,  True, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False])

In [29]:
varSel['GradientBoost'] = model.get_support().astype('int64')
varSel

                          Variable  Lasso  Ridge  RandomForest  GradientBoost
0                 prev_month_sales      0      1             1              0
1                prev_3month_sales      0      1             0              0
2           avg_prev_3months_sales      0      1             1              1
3           min_prev_3months_sales      0      1             1              1
4           max_prev_3months_sales      0      1             0              0
5             monthly_oilprice_avg      0      0             0              0
6             total_month_holidays      0      0             0              0
7         total_month_transactions      0      0             0              0
8          prev_month_transactions      0      0             0              0
9         prev_3month_transactions      0      0             0              0
10   avg_prev_3months_transactions      0      0             0              0
11   min_prev_3months_transactions      0      0             0              0
12   max_prev_3months_transactions      0      0             0              0
13                    BREAD.BAKERY      0      0             0              0
14                       BEVERAGES      0      0             0              0
15                           DAIRY      0      0             0              0
16                   PERSONAL.CARE      0      0             0              0
17                       HOME.CARE      0      0             0              0
18                    FROZEN.FOODS      0      0             0              0
19                         POULTRY      0      0             0              0
20                      GROCERY.II      0      0             0              0
21                        X.LIQUOR      0      0             0              0
22                            EGGS      0      0             0              0
23                       GROCERY.I      0      0             0              0
24                        CLEANING      0      0             0              0
25                            DELI      0      0             0              0
26                     store_typeA      0      0             0              0
27                     store_typeB      0      0             0              0
28                     store_typeC      0      0             0              0
29                     store_typeD      0      0             0              0
..                             ...    ...    ...           ...            ...
76                       class1016      0      0             0              0
77                      item502331      0      0             0              0
78                      item273528      0      0             0              0
79                      item564533      0      0             0              0
80                      item621300      0      0             0              0
81                      item414353      0      0             0              0
82                       top5_item      0      0             0              0
83                      top5_month      0      0             0              0
84                        year2013      0      0             0              0
85                        year2014      0      0             0              0
86                        year2015      0      0             0              0
87                        year2016      0      0             0              0
88                        year2017      0      0             0              0
89                          month1      0      0             0              0
90                          month2      0      0             0              0
91                          month3      0      0             0              0
92                          month4      0      0             0              0
93                          month5      0      0             0              0
94                          month6      0      0             0              0
95                          month7      0      0             0              0
96                          month8      0      0             0              0
97                          month9      0      0             0              0
98                         month10      0      0             0              0
99                         month11      0      0             0              0
100                        month12      0      0             0              0
101                       item_per      0      1             0              0
102                      store_per      0      0             0              0
103                       Year_per      0      0             0              0
104                      kmeans_cl      0      0             0              0
105                            PCA      0      1             0              0

[106 rows x 5 columns]

### Variable Selection using Linear Regression

In [30]:
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import SelectFromModel

lrmod = LinearRegression().fit(X,y)

In [31]:
model = SelectFromModel(lrmod, prefit=True)
model.get_support()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True, False,
       False, False, False,  True, False, False,  True,  True, False,
       False, False,  True,  True, False,  True,  True,  True,  True,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False, False, False, False, False])

In [32]:
varSel['Linear Regression'] = model.get_support().astype('int64')
varSel

,Variable,Lasso,Ridge,RandomForest,GradientBoost,Linear Regression
0,prev_month_sales,0,1,1,0,0
1,prev_3month_sales,0,1,0,0,0
2,avg_prev_3months_sales,0,1,1,1,0
3,min_prev_3months_sales,0,1,1,1,0
4,max_prev_3months_sales,0,1,0,0,0
5,monthly_oilprice_avg,0,0,0,0,0
6,total_month_holidays,0,0,0,0,0
7,total_month_transactions,0,0,0,0,0
8,prev_month_transactions,0,0,0,0,0
9,prev_3month_transactions,0,0,0,0,0
10,avg_prev_3months_transactions,0,0,0,0,0
11,min_prev_3months_transactions,0,0,0,0,0
12,max_prev_3months_transactions,0,0,0,0,0
13,BREAD.BAKERY,0,0,0,0,0
14,BEVERAGES,0,0,0,0,0
15,DAIRY,0,0,0,0,0
16,PERSONAL.CARE,0,0,0,0,0
17,HOME.CARE,0,0,0,0,0
18,FROZEN.FOODS,0,0,0,0,0
19,POULTRY,0,0,0,0,0
20,GROCERY.II,0,0,0,0,0
21,X.LIQUOR,0,0,0,0,0
22,EGGS,0,0,0,0,0
23,GROCERY.I,0,0,0,0,0
24,CLEANING,0,0,0,0,0
25,DELI,0,0,0,0,0
26,store_typeA,0,0,0,0,1
27,store_typeB,0,0,0,0,1
28,store_typeC,0,0,0,0,1
29,store_typeD,0,0,0,0,1
...,...,...,...,...,...,...
76,class1016,0,0,0,0,0
77,item502331,0,0,0,0,0
78,item273528,0,0,0,0,0
79,item564533,0,0,0,0,0
80,item621300,0,0,0,0,0
81,item414353,0,0,0,0,0
82,top5_item,0,0,0,0,0
83,top5_month,0,0,0,0,0
84,year2013,0,0,0,0,0
85,year2014,0,0,0,0,0
86,year2015,0,0,0,0,0
87,year2016,0,0,0,0,0
88,year2017,0,0,0,0,0
89,month1,0,0,0,0,1
90,month2,0,0,0,0,1
91,month3,0,0,0,0,1
92,month4,0,0,0,0,1
93,month5,0,0,0,0,1
94,month6,0,0,0,0,1
95,month7,0,0,0,0,1
96,month8,0,0,0,0,1
97,month9,0,0,0,0,1
98,month10,0,0,0,0,1
99,month11,0,0,0,0,1
100,month12,0,0,0,0,1
101,item_per,0,1,0,0,0
102,store_per,0,0,0,0,0
103,Year_per,0,0,0,0,0
104,kmeans_cl,0,0,0,0,0
105,PCA,0,1,0,0,0

# Ada Boost

In [33]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.feature_selection import SelectFromModel

ABRmod = AdaBoostRegressor(random_state=1).fit(X,y)

In [34]:
model = SelectFromModel(ABRmod, prefit=True)
model.get_support()

array([ True,  True,  True,  True,  True, False, False,  True, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False])

In [35]:
varSel['Ada Boost'] = model.get_support().astype('int64')
varSel

,Variable,Lasso,Ridge,RandomForest,GradientBoost,Linear Regression,Ada Boost
0,prev_month_sales,0,1,1,0,0,1
1,prev_3month_sales,0,1,0,0,0,1
2,avg_prev_3months_sales,0,1,1,1,0,1
3,min_prev_3months_sales,0,1,1,1,0,1
4,max_prev_3months_sales,0,1,0,0,0,1
5,monthly_oilprice_avg,0,0,0,0,0,0
6,total_month_holidays,0,0,0,0,0,0
7,total_month_transactions,0,0,0,0,0,1
8,prev_month_transactions,0,0,0,0,0,0
9,prev_3month_transactions,0,0,0,0,0,0
10,avg_prev_3months_transactions,0,0,0,0,0,0
11,min_prev_3months_transactions,0,0,0,0,0,0
12,max_prev_3months_transactions,0,0,0,0,0,0
13,BREAD.BAKERY,0,0,0,0,0,0
14,BEVERAGES,0,0,0,0,0,0
15,DAIRY,0,0,0,0,0,0
16,PERSONAL.CARE,0,0,0,0,0,0
17,HOME.CARE,0,0,0,0,0,0
18,FROZEN.FOODS,0,0,0,0,0,0
19,POULTRY,0,0,0,0,0,0
20,GROCERY.II,0,0,0,0,0,0
21,X.LIQUOR,0,0,0,0,0,0
22,EGGS,0,0,0,0,0,0
23,GROCERY.I,0,0,0,0,0,0
24,CLEANING,0,0,0,0,0,0
25,DELI,0,0,0,0,0,0
26,store_typeA,0,0,0,0,1,0
27,store_typeB,0,0,0,0,1,0
28,store_typeC,0,0,0,0,1,0
29,store_typeD,0,0,0,0,1,0
...,...,...,...,...,...,...,...
76,class1016,0,0,0,0,0,0
77,item502331,0,0,0,0,0,0
78,item273528,0,0,0,0,0,0
79,item564533,0,0,0,0,0,0
80,item621300,0,0,0,0,0,0
81,item414353,0,0,0,0,0,0
82,top5_item,0,0,0,0,0,0
83,top5_month,0,0,0,0,0,0
84,year2013,0,0,0,0,0,0
85,year2014,0,0,0,0,0,0
86,year2015,0,0,0,0,0,0
87,year2016,0,0,0,0,0,0
88,year2017,0,0,0,0,0,0
89,month1,0,0,0,0,1,0
90,month2,0,0,0,0,1,0
91,month3,0,0,0,0,1,0
92,month4,0,0,0,0,1,0
93,month5,0,0,0,0,1,0
94,month6,0,0,0,0,1,0
95,month7,0,0,0,0,1,0
96,month8,0,0,0,0,1,0
97,month9,0,0,0,0,1,0
98,month10,0,0,0,0,1,0
99,month11,0,0,0,0,1,0
100,month12,0,0,0,0,1,0
101,item_per,0,1,0,0,0,0
102,store_per,0,0,0,0,0,0
103,Year_per,0,0,0,0,0,0
104,kmeans_cl,0,0,0,0,0,0
105,PCA,0,1,0,0,0,0

## Decision tree

In [36]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.feature_selection import SelectFromModel
dtree= DecisionTreeRegressor(random_state=2).fit(X,y)

In [37]:
model = SelectFromModel(dtree, prefit=True)
model.get_support()

array([ True, False,  True,  True, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False])

In [38]:
varSel['dtree'] = model.get_support().astype('int64')
varSel

,Variable,Lasso,Ridge,RandomForest,GradientBoost,Linear Regression,Ada Boost,dtree
0,prev_month_sales,0,1,1,0,0,1,1
1,prev_3month_sales,0,1,0,0,0,1,0
2,avg_prev_3months_sales,0,1,1,1,0,1,1
3,min_prev_3months_sales,0,1,1,1,0,1,1
4,max_prev_3months_sales,0,1,0,0,0,1,0
5,monthly_oilprice_avg,0,0,0,0,0,0,0
6,total_month_holidays,0,0,0,0,0,0,0
7,total_month_transactions,0,0,0,0,0,1,0
8,prev_month_transactions,0,0,0,0,0,0,0
9,prev_3month_transactions,0,0,0,0,0,0,0
10,avg_prev_3months_transactions,0,0,0,0,0,0,0
11,min_prev_3months_transactions,0,0,0,0,0,0,0
12,max_prev_3months_transactions,0,0,0,0,0,0,0
13,BREAD.BAKERY,0,0,0,0,0,0,0
14,BEVERAGES,0,0,0,0,0,0,0
15,DAIRY,0,0,0,0,0,0,0
16,PERSONAL.CARE,0,0,0,0,0,0,0
17,HOME.CARE,0,0,0,0,0,0,0
18,FROZEN.FOODS,0,0,0,0,0,0,0
19,POULTRY,0,0,0,0,0,0,0
20,GROCERY.II,0,0,0,0,0,0,0
21,X.LIQUOR,0,0,0,0,0,0,0
22,EGGS,0,0,0,0,0,0,0
23,GROCERY.I,0,0,0,0,0,0,0
24,CLEANING,0,0,0,0,0,0,0
25,DELI,0,0,0,0,0,0,0
26,store_typeA,0,0,0,0,1,0,0
27,store_typeB,0,0,0,0,1,0,0
28,store_typeC,0,0,0,0,1,0,0
29,store_typeD,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...
76,class1016,0,0,0,0,0,0,0
77,item502331,0,0,0,0,0,0,0
78,item273528,0,0,0,0,0,0,0
79,item564533,0,0,0,0,0,0,0
80,item621300,0,0,0,0,0,0,0
81,item414353,0,0,0,0,0,0,0
82,top5_item,0,0,0,0,0,0,0
83,top5_month,0,0,0,0,0,0,0
84,year2013,0,0,0,0,0,0,0
85,year2014,0,0,0,0,0,0,0
86,year2015,0,0,0,0,0,0,0
87,year2016,0,0,0,0,0,0,0
88,year2017,0,0,0,0,0,0,0
89,month1,0,0,0,0,1,0,0
90,month2,0,0,0,0,1,0,0
91,month3,0,0,0,0,1,0,0
92,month4,0,0,0,0,1,0,0
93,month5,0,0,0,0,1,0,0
94,month6,0,0,0,0,1,0,0
95,month7,0,0,0,0,1,0,0
96,month8,0,0,0,0,1,0,0
97,month9,0,0,0,0,1,0,0
98,month10,0,0,0,0,1,0,0
99,month11,0,0,0,0,1,0,0
100,month12,0,0,0,0,1,0,0
101,item_per,0,1,0,0,0,0,0
102,store_per,0,0,0,0,0,0,0
103,Year_per,0,0,0,0,0,0,0
104,kmeans_cl,0,0,0,0,0,0,0
105,PCA,0,1,0,0,0,0,0

## SVM

In [46]:
from sklearn.svm import SVR

In [ ]:
svm_lin = SVR(kernel='linear',C=1e3).fit(X,y)

### Summarization and Selection of Variables

In [39]:
varSel['Sum'] =  np.sum(varSel,axis=1)
varSel

,Variable,Lasso,Ridge,RandomForest,GradientBoost,Linear Regression,Ada Boost,dtree,Sum
0,prev_month_sales,0,1,1,0,0,1,1,4
1,prev_3month_sales,0,1,0,0,0,1,0,2
2,avg_prev_3months_sales,0,1,1,1,0,1,1,5
3,min_prev_3months_sales,0,1,1,1,0,1,1,5
4,max_prev_3months_sales,0,1,0,0,0,1,0,2
5,monthly_oilprice_avg,0,0,0,0,0,0,0,0
6,total_month_holidays,0,0,0,0,0,0,0,0
7,total_month_transactions,0,0,0,0,0,1,0,1
8,prev_month_transactions,0,0,0,0,0,0,0,0
9,prev_3month_transactions,0,0,0,0,0,0,0,0
10,avg_prev_3months_transactions,0,0,0,0,0,0,0,0
11,min_prev_3months_transactions,0,0,0,0,0,0,0,0
12,max_prev_3months_transactions,0,0,0,0,0,0,0,0
13,BREAD.BAKERY,0,0,0,0,0,0,0,0
14,BEVERAGES,0,0,0,0,0,0,0,0
15,DAIRY,0,0,0,0,0,0,0,0
16,PERSONAL.CARE,0,0,0,0,0,0,0,0
17,HOME.CARE,0,0,0,0,0,0,0,0
18,FROZEN.FOODS,0,0,0,0,0,0,0,0
19,POULTRY,0,0,0,0,0,0,0,0
20,GROCERY.II,0,0,0,0,0,0,0,0
21,X.LIQUOR,0,0,0,0,0,0,0,0
22,EGGS,0,0,0,0,0,0,0,0
23,GROCERY.I,0,0,0,0,0,0,0,0
24,CLEANING,0,0,0,0,0,0,0,0
25,DELI,0,0,0,0,0,0,0,0
26,store_typeA,0,0,0,0,1,0,0,1
27,store_typeB,0,0,0,0,1,0,0,1
28,store_typeC,0,0,0,0,1,0,0,1
29,store_typeD,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...
76,class1016,0,0,0,0,0,0,0,0
77,item502331,0,0,0,0,0,0,0,0
78,item273528,0,0,0,0,0,0,0,0
79,item564533,0,0,0,0,0,0,0,0
80,item621300,0,0,0,0,0,0,0,0
81,item414353,0,0,0,0,0,0,0,0
82,top5_item,0,0,0,0,0,0,0,0
83,top5_month,0,0,0,0,0,0,0,0
84,year2013,0,0,0,0,0,0,0,0
85,year2014,0,0,0,0,0,0,0,0
86,year2015,0,0,0,0,0,0,0,0
87,year2016,0,0,0,0,0,0,0,0
88,year2017,0,0,0,0,0,0,0,0
89,month1,0,0,0,0,1,0,0,1
90,month2,0,0,0,0,1,0,0,1
91,month3,0,0,0,0,1,0,0,1
92,month4,0,0,0,0,1,0,0,1
93,month5,0,0,0,0,1,0,0,1
94,month6,0,0,0,0,1,0,0,1
95,month7,0,0,0,0,1,0,0,1
96,month8,0,0,0,0,1,0,0,1
97,month9,0,0,0,0,1,0,0,1
98,month10,0,0,0,0,1,0,0,1
99,month11,0,0,0,0,1,0,0,1
100,month12,0,0,0,0,1,0,0,1
101,item_per,0,1,0,0,0,0,0,1
102,store_per,0,0,0,0,0,0,0,0
103,Year_per,0,0,0,0,0,0,0,0
104,kmeans_cl,0,0,0,0,0,0,0,0
105,PCA,0,1,0,0,0,0,0,1

In [40]:
varSel.groupby('Sum')['Variable'].count()

Sum
0    50
1    51
2     2
4     1
5     2
Name: Variable, dtype: int64

In [41]:
varSel.loc[(varSel['Sum']>=2)]

,Variable,Lasso,Ridge,RandomForest,GradientBoost,Linear Regression,Ada Boost,dtree,Sum
0,prev_month_sales,0,1,1,0,0,1,1,4
1,prev_3month_sales,0,1,0,0,0,1,0,2
2,avg_prev_3months_sales,0,1,1,1,0,1,1,5
3,min_prev_3months_sales,0,1,1,1,0,1,1,5
4,max_prev_3months_sales,0,1,0,0,0,1,0,2

In [ ]:
varSel.loc[(varSel['Sum']>=3)]

In [ ]:
l=list()
varSel.loc[(varSel['Sum']>=3)]

In [74]:
l=varSel.loc[(varSel['Sum']>=3)]['Variable'].tolist()

In [69]:
l

0                          item_nbr
1                         store_nbr
2                              Year
4                     store_cluster
8            min_prev_3months_sales
9            max_prev_3months_sales
12         total_month_transactions
16    min_prev_3months_transactions
19                        BEVERAGES
29                         CLEANING
34                      store_typeD
80                        class1072
87                        top5_item
Name: Variable, dtype: object

In [49]:
varSel.to_csv("c:/Users/Guy/Documents/DataScience/Data/varSel.csv")

We can now decide a threshold for selecting our variables!