# Feature Selection Strategy

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

In [13]:
train = pd.read_csv("../data/trainp.csv")
dev = pd.read_csv("../data/devp.csv")
test= pd.read_csv("../data/test.csv")

In [5]:
train.head()

,id,prev_month_sales,prev_3month_sales,avg_prev_3months_sales,min_prev_3months_sales,max_prev_3months_sales,monthly_oilprice_avg,total_month_transactions,prev_3month_transactions,avg_prev_3months_transactions,...,store_typeD,city_Quito,total_city_sales,class1040,class1072,top5_item,item_per,store_per,PCA,total_unit_sales
0,519224,8.129492e-07,8.389754e-07,8.738996e-07,8.101476e-07,9.526175e-07,0.000019,0.007285,0.007365,0.007352,...,0,0,0.044328,0,0,0,0.001133,0.021055,0.999753,4.976734
1,1097354,6.996160e-07,5.987211e-07,6.471361e-07,6.145306e-07,6.946154e-07,0.000019,0.003795,0.003795,0.003596,...,0,0,0.196764,0,0,0,0.001323,0.019276,0.999734,3.332205
2,1536836,1.081832e-06,1.092248e-06,1.069575e-06,1.047666e-06,1.081117e-06,0.000020,0.012775,0.012059,0.012460,...,0,1,0.841636,0,0,0,0.001323,0.022967,0.999746,5.609472
3,373700,7.228797e-07,7.763811e-07,7.423686e-07,6.946154e-07,7.985258e-07,0.000009,0.006217,0.005715,0.005913,...,0,0,0.069840,0,0,0,0.001116,0.010486,0.999480,4.204693
4,1018748,7.660737e-07,7.314686e-07,7.463059e-07,7.356269e-07,7.625148e-07,0.000010,0.012257,0.011179,0.012210,...,0,1,0.808752,0,0,0,0.001091,0.022967,0.999020,3.891820

In [10]:
train.loc[:, 'prev_month_sales':'PCA'].head

<bound method NDFrame.head of          prev_month_sales  prev_3month_sales  avg_prev_3months_sales  \
0            8.129492e-07       8.389754e-07            8.738996e-07
1            6.996160e-07       5.987211e-07            6.471361e-07
2            1.081832e-06       1.092248e-06            1.069575e-06
3            7.228797e-07       7.763811e-07            7.423686e-07
4            7.660737e-07       7.314686e-07            7.463059e-07
5            1.158802e-06       9.442114e-07            1.092698e-06
6            5.627102e-07       6.616200e-07            6.859890e-07
7            7.893375e-07       6.894849e-07            8.110859e-07
8            1.012501e-06       9.398703e-07            1.067541e-06
9            1.218762e-06       1.262068e-06            1.187753e-06
10           1.059989e-06       1.023340e-06            1.049634e-06
11           1.160245e-06       1.024296e-06            1.081594e-06
12           8.825609e-07       7.829655e-07            8.220110e-07
13           7.356269e-07       7.184410e-07            7.108141e-07
14           1.075308e-06       1.126901e-06            1.063671e-06
15           9.278046e-07       9.149537e-07            9.303798e-07
16           8.211233e-07       7.588906e-07            7.975257e-07
17           4.776248e-07       4.258044e-07            5.102302e-07
18           9.149537e-07       9.116060e-07            8.445847e-07
19           6.946154e-07       7.861772e-07            8.263907e-07
20           8.864339e-07       9.166066e-07            9.006141e-07
21           1.101497e-06       1.096265e-06            1.150585e-06
22           9.246694e-07       9.758812e-07            9.730157e-07
23           7.044931e-07       5.987211e-07            6.492714e-07
24           7.625148e-07       8.044221e-07            7.410386e-07
25           6.360989e-07       5.903150e-07            6.094001e-07
26           1.032702e-06       1.077506e-06            1.036027e-06
27           1.070835e-06       1.073084e-06            1.069068e-06
28           9.012081e-07       9.734276e-07            9.557923e-07
29           7.625148e-07       8.597855e-07            7.944948e-07
...                   ...                ...                     ...
1404547      9.198713e-07       9.339296e-07            1.073332e-06
1404548      8.662619e-07       9.132869e-07            8.676728e-07
1404549      8.745795e-07       8.237746e-07            8.752571e-07
1404550      9.278046e-07       7.551987e-07            8.779444e-07
1404551      9.369223e-07       9.082005e-07            9.324161e-07
1404552      4.446294e-07       5.306105e-07            4.875025e-07
1404553      7.396995e-07       7.514364e-07            7.328644e-07
1404554      1.175907e-06       1.141660e-06            1.181439e-06
1404555      8.883422e-07       9.047352e-07            9.058971e-07
1404556      1.041641e-06       1.160245e-06            1.073332e-06
1404557      1.170520e-06       1.055151e-06            1.223898e-06
1404558      1.048512e-06       1.101497e-06            1.070080e-06
1404559      8.883422e-07       9.166066e-07            8.896043e-07
1404560      1.243501e-06       1.278566e-06            1.247239e-06
1404561      7.228797e-07       6.616200e-07            6.145306e-07
1404562      1.041641e-06       5.723469e-07            9.701080e-07
1404563      8.530895e-07       7.139003e-07            8.272551e-07
1404564      1.225053e-06       1.253317e-06            1.247650e-06
1404565      6.360989e-07       6.427949e-07            6.824301e-07
1404566      7.396995e-07       7.695696e-07            7.199317e-07
1404567      1.281182e-06       1.230502e-06            1.277774e-06
1404568      8.365218e-07       8.340373e-07            8.590526e-07
1404569      1.116411e-06       1.149912e-06            1.105333e-06
1404570      1.144276e-06       1.137938e-06            1.122694e-06
1404571      8.044221e-07       7.139003e-07            7.882896e-07
1404572      9.684270e-07       1.016511e-06            9.650215e-07
1404573      1.007370e-06       9.456375e-07            9.907506e-07
1404574      9.818851e-07       1.016511e-06            1.024614e-06
1404575      9.132869e-07       8.413989e-07            8.766053e-07
1404576      7.625148e-07       8.014960e-07            7.637083e-07

         min_prev_3months_sales  max_prev_3months_sales  monthly_oilprice_avg  \
0                  8.101476e-07            9.526175e-07              0.000019
1                  6.145306e-07            6.946154e-07              0.000019
2                  1.047666e-06            1.081117e-06              0.000020
3                  6.946154e-07            7.985258e-07              0.000009
4                  7.356269e-07            7.625148e-07              0.000010
5                  1.002103e-06            1.158319e-06              0.000009
6                  5.525791e-07            7.660737e-07              0.000009
7                  7.861772e-07            8.437930e-07              0.000020
8                  1.011485e-06            1.095601e-06              0.000010
9                  1.155161e-06            1.218406e-06              0.000009
10                 1.010465e-06            1.073828e-06              0.000009
11                 1.008407e-06            1.159766e-06              0.000010
12                 7.314686e-07            8.805956e-07              0.000020
13                 6.946154e-07            7.314686e-07              0.000009
14                 1.021413e-06            1.088836e-06              0.000009
15                 8.745795e-07            9.770967e-07              0.000018
16                 7.396995e-07            8.237746e-07              0.000009
17                 4.618153e-07            5.419001e-07              0.000009
18                 7.924480e-07            9.132869e-07              0.000008
19                 6.616200e-07            9.696891e-07              0.000010
20                 8.845069e-07            9.132869e-07              0.000010
21                 1.100851e-06            1.190829e-06              0.000012
22                 9.230830e-07            1.002103e-06              0.000020
23                 5.419001e-07            6.996160e-07              0.000020
24                 7.228797e-07            7.588906e-07              0.000009
25                 5.903150e-07            6.291679e-07              0.000020
26                 9.758812e-07            1.085365e-06              0.000020
27                 1.039002e-06            1.094267e-06              0.000018
28                 8.994206e-07            9.999561e-07              0.000006
29                 7.588906e-07            8.184360e-07              0.000007
...                         ...                     ...                   ...
1404547            9.082005e-07            1.220865e-06              0.000011
1404548            8.641266e-07            8.704645e-07              0.000020
1404549            8.619680e-07            8.902323e-07              0.000019
1404550            8.237746e-07            9.262433e-07              0.000010
1404551            8.263907e-07            9.988738e-07              0.000009
1404552            4.258044e-07            5.419001e-07              0.000010
1404553            7.139003e-07            7.476011e-07              0.000020
1404554            1.175464e-06            1.186680e-06              0.000007
1404555            8.864339e-07            9.198713e-07              0.000020
1404556            1.018487e-06            1.139009e-06              0.000018
1404557            1.033615e-06            1.346149e-06              0.000009
1404558            1.047666e-06            1.099552e-06              0.000009
1404559            8.864339e-07            8.957964e-07              0.000019
1404560            1.241287e-06            1.256876e-06              0.000009
1404561            5.058891e-07            7.184410e-07              0.000009
1404562            6.675163e-07            1.040765e-06              0.000010
1404563            7.695696e-07            8.508061e-07              0.000010
1404564            1.221569e-06            1.289078e-06              0.000021
1404565            6.291679e-07            7.228797e-07              0.000012
1404566            6.946154e-07            7.356269e-07              0.000009
1404567            1.262954e-06            1.288578e-06              0.000018
1404568            8.340373e-07            8.845069e-07              0.000020
1404569            1.060784e-06            1.132497e-06              0.000017
1404570            1.108473e-06            1.143756e-06              0.000010
1404571            7.763811e-07            8.014960e-07              0.000009
1404572            9.442114e-07            9.818851e-07              0.000017
1404573            9.632965e-07            1.006328e-06              0.000006
1404574            9.806989e-07            1.049354e-06              0.000019
1404575            8.461585e-07            9.116060e-07              0.000018
1404576            7.396995e-07            7.893375e-07              0.000012

         total_month_transactions  prev_3month_transactions  \
0                        0.007285                  0.007365
1                        0.003795                  0.003795
2                        0.012775                  0.012059
3                        0.006217                  0.005715
4                        0.012257                  0.011179
5                        0.006569                  0.006821
6                        0.005181                  0.005747
7                        0.006758                  0.006495
8                        0.007889                  0.007931
9                        0.007995                  0.010092
10                       0.018515                  0.018743
11                       0.008442                  0.006540
12                       0.006482                  0.005720
13                       0.006266                  0.005738
14                       0.017022                  0.017574
15                       0.007798                  0.007747
16                       0.005695                  0.005894
17                       0.004380                  0.003828
18                       0.007526                  0.008196
19                       0.004578                  0.003861
20                       0.009400                  0.009987
21                       0.006639                  0.005905
22                       0.008273                  0.007599
23                       0.006568                  0.006910
24                       0.007979                  0.008532
25                       0.008315                  0.008066
26                       0.011158                  0.010816
27                       0.010536                  0.010449
28                       0.010887                  0.011212
29                       0.005902                  0.005343
...                           ...                       ...
1404547                  0.006938                  0.007213
1404548                  0.008254                  0.008882
1404549                  0.007135                  0.007026
1404550                  0.009190                  0.009306
1404551                  0.005060                  0.010860
1404552                  0.005168                  0.006336
1404553                  0.008320                  0.007626
1404554                  0.007690                  0.008781
1404555                  0.008090                  0.009188
1404556                  0.006982                  0.007089
1404557                  0.010092                  0.005082
1404558                  0.008054                  0.008577
1404559                  0.008402                  0.008273
1404560                  0.009107                  0.009342
1404561                  0.003439                  0.007157
1404562                  0.007574                  0.007650
1404563                  0.012211                  0.014919
1404564                  0.007587                  0.007474
1404565                  0.009052                  0.007921
1404566                  0.004104                  0.008597
1404567                  0.014043                  0.013956
1404568                  0.008442                  0.008848
1404569                  0.016964                  0.016786
1404570                  0.009915                  0.006421
1404571                  0.016034                  0.016520
1404572                  0.009191                  0.009531
1404573                  0.015221                  0.016196
1404574                  0.010910                  0.009069
1404575                  0.011795                  0.011271
1404576                  0.004298                  0.003482

         avg_prev_3months_transactions  min_prev_3months_transactions  ...  \
0                             0.007352                       0.007285  ...
1                             0.003596                       0.003472  ...
2                             0.012460                       0.011696  ...
3                             0.005913                       0.005422  ...
4                             0.012210                       0.012161  ...
5                             0.006777                       0.006569  ...
6                             0.005305                       0.005149  ...
7                             0.006850                       0.006758  ...
8                             0.007869                       0.007580  ...
9                             0.008612                       0.007995  ...
10                            0.018763                       0.018485  ...
11                            0.007249                       0.006648  ...
12                            0.006444                       0.005282  ...
13                            0.006183                       0.006070  ...
14                            0.016746                       0.015951  ...
15                            0.008020                       0.007798  ...
16                            0.005892                       0.005695  ...
17                            0.004434                       0.004380  ...
18                            0.007670                       0.007526  ...
19                            0.004179                       0.003923  ...
20                            0.009548                       0.009400  ...
21                            0.006541                       0.006250  ...
22                            0.008308                       0.008016  ...
23                            0.006656                       0.006472  ...
24                            0.008003                       0.007811  ...
25                            0.008134                       0.007985  ...
26                            0.010854                       0.010168  ...
27                            0.010406                       0.009502  ...
28                            0.011724                       0.010349  ...
29                            0.005433                       0.005049  ...
...                                ...                            ...  ...
1404547                       0.007878                       0.006938  ...
1404548                       0.007825                       0.007559  ...
1404549                       0.006886                       0.006758  ...
1404550                       0.009207                       0.008917  ...
1404551                       0.008863                       0.005060  ...
1404552                       0.004959                       0.004703  ...
1404553                       0.008151                       0.007441  ...
1404554                       0.007051                       0.006662  ...
1404555                       0.007726                       0.007185  ...
1404556                       0.007090                       0.006982  ...
1404557                       0.007128                       0.005246  ...
1404558                       0.008371                       0.008054  ...
1404559                       0.008150                       0.007903  ...
1404560                       0.009457                       0.009107  ...
1404561                       0.005852                       0.003439  ...
1404562                       0.007918                       0.007270  ...
1404563                       0.011803                       0.011179  ...
1404564                       0.007495                       0.007435  ...
1404565                       0.008656                       0.008176  ...
1404566                       0.007128                       0.004104  ...
1404567                       0.013897                       0.012980  ...
1404568                       0.008214                       0.008059  ...
1404569                       0.016973                       0.016876  ...
1404570                       0.007972                       0.006934  ...
1404571                       0.015964                       0.015537  ...
1404572                       0.009152                       0.009099  ...
1404573                       0.016637                       0.014527  ...
1404574                       0.010256                       0.009836  ...
1404575                       0.011478                       0.010420  ...
1404576                       0.003798                       0.003515  ...

         store_typeC  store_typeD  city_Quito  total_city_sales  class1040  \
0                  1            0           0          0.044328          0
1                  1            0           0          0.196764          0
2                  0            0           1          0.841636          0
3                  0            0           0          0.069840          0
4                  0            0           1          0.808752          0
5                  0            1           0          0.057605          0
6                  1            0           1          0.780705          0
7                  0            0           0          0.178392          0
8                  1            0           0          0.031132          0
9                  0            1           0          0.031712          0
10                 0            0           1          0.781402          0
11                 0            1           0          0.030979          0
12                 0            1           0          0.022342          0
13                 0            1           0          0.060594          0
14                 0            0           1          0.742833          0
15                 1            0           0          0.063869          0
16                 0            1           0          0.054627          0
17                 1            0           0          0.016198          0
18                 0            1           0          0.071588          0
19                 1            0           0          0.018606          0
20                 0            0           0          0.189467          0
21                 1            0           0          0.030981          1
22                 0            0           0          0.031371          0
23                 1            0           0          0.045775          0
24                 0            0           0          0.030198          0
25                 0            0           1          0.755348          0
26                 0            1           1          0.841636          0
27                 0            1           1          0.736430          0
28                 0            1           1          0.777922          0
29                 1            0           0          0.050903          0
...              ...          ...         ...               ...        ...

In [16]:
X= train.loc[:, 'prev_month_sales':'PCA']
y = train.loc[:,'total_unit_sales']

In [17]:
from sklearn.ensemble import RandomForestRegressor
rfmod = RandomForestRegressor().fit(X, y)

C:\Users\Guy\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [27]:
rfmod.predict(X)

array([4.77743548, 3.42389188, 5.6326598 , ..., 5.34510067, 4.59055041,
       4.21395175])

In [29]:
np.sqrt(np.mean(rfmod.predict(X)-y)**2)

0.00019046822217488914

In [43]:
df.loc[:, ['id', 'total_unit_sales']]

              id  total_unit_sales
0              1          3.637586
1              2          3.663562
2              3          3.784190
3              4          4.343805
4              5          3.931826
5              6          3.761200
6              7          4.276666
7              8          3.583519
8              9          3.332205
9             10          3.850148
10            11          4.948760
11            12          4.382027
12            13          4.204693
13            14          4.290459
14            15          4.007333
15            16          4.927254
16            17          4.882802
17            18          2.639057
18            19          5.164786
19            20          5.262690
20            21          6.016157
21            22          4.934474
22            23          4.948760
23            24          4.997212
24            25          4.143135
25            26          4.927254
26            27          4.615121
27            28          4.454347
28            29          4.060443
29            30          4.663439
...          ...               ...
1734017  1975213          4.248495
1734018  1975214          3.401197
1734019  1975215          4.219508
1734020  1975216          3.583519
1734021  1975217          4.234107
1734022  1975218          4.143135
1734023  1975219          4.700480
1734024  1975220          3.295837
1734025  1975221          4.290459
1734026  1975222          4.262680
1734027  1975223          3.555348
1734028  1975224          4.204693
1734029  1975225          4.510860
1734030  1975226          4.394449
1734031  1975227          5.370638
1734032  1975228          5.337538
1734033  1975229          4.744932
1734034  1975230          4.804021
1734035  1975231          3.931826
1734036  1975232          4.060443
1734037  1975233          4.204693
1734038  1975234          4.976734
1734039  1975235          4.955827
1734040  1975236          5.327876
1734041  1975237          4.875197
1734042  1975238          4.262680
1734043  1975239          4.477337
1734044  1975240          4.955827
1734045  1975241          4.219508
1734046  1975242          3.828641

[1734047 rows x 2 columns]

In [3]:
#df['rejected'] = df['rejected'].astype('category')
#df['condition'] = df['condition'].astype('category')

df.dtypes

id                                 int64
month                              int64
store_cluster                      int64
prev_month_sales                 float64
prev_3month_sales                float64
avg_prev_3months_sales           float64
min_prev_3months_sales           float64
max_prev_3months_sales           float64
monthly_oilprice_avg             float64
total_month_holidays             float64
total_month_transactions         float64
prev_month_transactions          float64
prev_3month_transactions         float64
avg_prev_3months_transactions    float64
min_prev_3months_transactions    float64
max_prev_3months_transactions    float64
BREAD.BAKERY                       int64
BEVERAGES                          int64
DAIRY                              int64
PERSONAL.CARE                      int64
HOME.CARE                          int64
FROZEN.FOODS                       int64
POULTRY                            int64
GROCERY.II                         int64
X.LIQUOR                           int64
EGGS                               int64
GROCERY.I                          int64
CLEANING                           int64
DELI                               int64
store_typeA                        int64
                                  ...
cluster16                          int64
cluster17                          int64
class1040                          int64
class1122                          int64
class3020                          int64
class1072                          int64
class1016                          int64
item502331                         int64
item273528                         int64
item564533                         int64
item621300                         int64
item414353                         int64
top5_item                          int64
year2016                           int64
month7                             int64
month5                             int64
month6                             int64
month4                             int64
month8                             int64
top5_month                         int64
year2013                           int64
year2014                           int64
year2015                           int64
year2017                           int64
item_per                         float64
store_per                        float64
Year_per                         float64
kmeans_cl                          int64
PCA                              float64
total_unit_sales                 float64
Length: 103, dtype: object

In [4]:
df.shape

(1734047, 103)

In [5]:
varSel = pd.DataFrame({'Variable': df.columns[3:102]})
varSel

                         Variable
0                prev_month_sales
1               prev_3month_sales
2          avg_prev_3months_sales
3          min_prev_3months_sales
4          max_prev_3months_sales
5            monthly_oilprice_avg
6            total_month_holidays
7        total_month_transactions
8         prev_month_transactions
9        prev_3month_transactions
10  avg_prev_3months_transactions
11  min_prev_3months_transactions
12  max_prev_3months_transactions
13                   BREAD.BAKERY
14                      BEVERAGES
15                          DAIRY
16                  PERSONAL.CARE
17                      HOME.CARE
18                   FROZEN.FOODS
19                        POULTRY
20                     GROCERY.II
21                       X.LIQUOR
22                           EGGS
23                      GROCERY.I
24                       CLEANING
25                           DELI
26                    store_typeA
27                    store_typeB
28                    store_typeC
29                    store_typeD
..                            ...
69                      cluster15
70                      cluster16
71                      cluster17
72                      class1040
73                      class1122
74                      class3020
75                      class1072
76                      class1016
77                     item502331
78                     item273528
79                     item564533
80                     item621300
81                     item414353
82                      top5_item
83                       year2016
84                         month7
85                         month5
86                         month6
87                         month4
88                         month8
89                     top5_month
90                       year2013
91                       year2014
92                       year2015
93                       year2017
94                       item_per
95                      store_per
96                       Year_per
97                      kmeans_cl
98                            PCA

[99 rows x 1 columns]

## Multivariable Analysis

In [6]:
### drop na
##df = df.dropna()

In [7]:
## remove unnecessary vars
X = df.loc[:,df.columns[3:102]]
X.head()

,prev_month_sales,prev_3month_sales,avg_prev_3months_sales,min_prev_3months_sales,max_prev_3months_sales,monthly_oilprice_avg,total_month_holidays,total_month_transactions,prev_month_transactions,prev_3month_transactions,...,top5_month,year2013,year2014,year2015,year2017,item_per,store_per,Year_per,kmeans_cl,PCA
0,7.436898e-07,6.427949e-07,7.060924e-07,6.842175e-07,7.396995e-07,0.000020,3.660398e-07,0.009169,0.008797,0.009456,...,0,1,0,0,0,0.001345,0.022525,0.142962,1,-0.000222
1,7.924480e-07,8.289726e-07,7.695696e-07,6.894849e-07,8.101476e-07,0.000021,7.610664e-07,0.009022,0.009328,0.008752,...,1,0,1,0,0,0.001345,0.022525,0.196628,1,-0.000366
2,1.139009e-06,7.272208e-07,9.598006e-07,6.788059e-07,1.138474e-06,0.000009,1.685264e-07,0.009343,0.010573,0.009191,...,0,0,0,1,0,0.001345,0.022525,0.237730,1,0.000597
3,7.893375e-07,7.184410e-07,8.082575e-07,7.861772e-07,8.263907e-07,0.000011,9.585798e-07,0.009113,0.009440,0.009343,...,1,0,0,1,0,0.001345,0.022525,0.237730,1,0.000312
4,7.184410e-07,8.508061e-07,7.272208e-07,7.139003e-07,7.436898e-07,0.000009,1.685264e-07,0.009122,0.008820,0.009455,...,0,0,0,1,0,0.001345,0.022525,0.237730,1,-0.000162

In [8]:
 y = df.loc[:,df.columns[102]]
print([X.shape,y.shape])

[(1734047, 99), (1734047,)]

In [9]:
y

0          3.637586
1          3.663562
2          3.784190
3          4.343805
4          3.931826
5          3.761200
6          4.276666
7          3.583519
8          3.332205
9          3.850148
10         4.948760
11         4.382027
12         4.204693
13         4.290459
14         4.007333
15         4.927254
16         4.882802
17         2.639057
18         5.164786
19         5.262690
20         6.016157
21         4.934474
22         4.948760
23         4.997212
24         4.143135
25         4.927254
26         4.615121
27         4.454347
28         4.060443
29         4.663439
             ...
1734017    4.248495
1734018    3.401197
1734019    4.219508
1734020    3.583519
1734021    4.234107
1734022    4.143135
1734023    4.700480
1734024    3.295837
1734025    4.290459
1734026    4.262680
1734027    3.555348
1734028    4.204693
1734029    4.510860
1734030    4.394449
1734031    5.370638
1734032    5.337538
1734033    4.744932
1734034    4.804021
1734035    3.931826
1734036    4.060443
1734037    4.204693
1734038    4.976734
1734039    4.955827
1734040    5.327876
1734041    4.875197
1734042    4.262680
1734043    4.477337
1734044    4.955827
1734045    4.219508
1734046    3.828641
Name: total_unit_sales, Length: 1734047, dtype: float64

### Variable Selection using LASSO (L1 penalization)

In [10]:
from sklearn.linear_model import Lasso
from sklearn.feature_selection import SelectFromModel

lassomod = Lasso(alpha=0.05).fit(X, y)

In [11]:
model = SelectFromModel(lassomod, prefit=True)
model.get_support()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False,  True, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False])

In [12]:
varSel['Lasso'] = model.get_support().astype('int64')
varSel

                         Variable  Lasso
0                prev_month_sales      0
1               prev_3month_sales      0
2          avg_prev_3months_sales      0
3          min_prev_3months_sales      0
4          max_prev_3months_sales      0
5            monthly_oilprice_avg      0
6            total_month_holidays      0
7        total_month_transactions      0
8         prev_month_transactions      0
9        prev_3month_transactions      0
10  avg_prev_3months_transactions      0
11  min_prev_3months_transactions      0
12  max_prev_3months_transactions      0
13                   BREAD.BAKERY      0
14                      BEVERAGES      0
15                          DAIRY      0
16                  PERSONAL.CARE      0
17                      HOME.CARE      0
18                   FROZEN.FOODS      0
19                        POULTRY      0
20                     GROCERY.II      0
21                       X.LIQUOR      0
22                           EGGS      0
23                      GROCERY.I      0
24                       CLEANING      0
25                           DELI      0
26                    store_typeA      0
27                    store_typeB      0
28                    store_typeC      1
29                    store_typeD      0
..                            ...    ...
69                      cluster15      0
70                      cluster16      0
71                      cluster17      0
72                      class1040      0
73                      class1122      0
74                      class3020      0
75                      class1072      0
76                      class1016      0
77                     item502331      0
78                     item273528      0
79                     item564533      0
80                     item621300      0
81                     item414353      0
82                      top5_item      0
83                       year2016      0
84                         month7      0
85                         month5      0
86                         month6      0
87                         month4      0
88                         month8      0
89                     top5_month      0
90                       year2013      0
91                       year2014      0
92                       year2015      0
93                       year2017      0
94                       item_per      0
95                      store_per      0
96                       Year_per      0
97                      kmeans_cl      0
98                            PCA      0

[99 rows x 2 columns]

## Ridge

In [13]:
from sklearn.linear_model import Ridge

rdgmod = Ridge(alpha=0.5,normalize=True).fit(X,y)

In [14]:
model = SelectFromModel(rdgmod, prefit=True)
model.get_support()

array([ True,  True,  True,  True,  True, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False])

In [15]:
varSel['Ridge'] = model.get_support().astype('int64')
varSel

                         Variable  Lasso  Ridge
0                prev_month_sales      0      1
1               prev_3month_sales      0      1
2          avg_prev_3months_sales      0      1
3          min_prev_3months_sales      0      1
4          max_prev_3months_sales      0      1
5            monthly_oilprice_avg      0      0
6            total_month_holidays      0      0
7        total_month_transactions      0      0
8         prev_month_transactions      0      0
9        prev_3month_transactions      0      0
10  avg_prev_3months_transactions      0      0
11  min_prev_3months_transactions      0      0
12  max_prev_3months_transactions      0      0
13                   BREAD.BAKERY      0      0
14                      BEVERAGES      0      0
15                          DAIRY      0      0
16                  PERSONAL.CARE      0      0
17                      HOME.CARE      0      0
18                   FROZEN.FOODS      0      0
19                        POULTRY      0      0
20                     GROCERY.II      0      0
21                       X.LIQUOR      0      0
22                           EGGS      0      0
23                      GROCERY.I      0      0
24                       CLEANING      0      0
25                           DELI      0      0
26                    store_typeA      0      0
27                    store_typeB      0      0
28                    store_typeC      1      0
29                    store_typeD      0      0
..                            ...    ...    ...
69                      cluster15      0      0
70                      cluster16      0      0
71                      cluster17      0      0
72                      class1040      0      0
73                      class1122      0      0
74                      class3020      0      0
75                      class1072      0      0
76                      class1016      0      0
77                     item502331      0      0
78                     item273528      0      0
79                     item564533      0      0
80                     item621300      0      0
81                     item414353      0      0
82                      top5_item      0      0
83                       year2016      0      0
84                         month7      0      0
85                         month5      0      0
86                         month6      0      0
87                         month4      0      0
88                         month8      0      0
89                     top5_month      0      0
90                       year2013      0      0
91                       year2014      0      0
92                       year2015      0      0
93                       year2017      0      0
94                       item_per      0      0
95                      store_per      0      0
96                       Year_per      0      0
97                      kmeans_cl      0      0
98                            PCA      0      0

[99 rows x 3 columns]

### Variable Selection using Random Forest

In [16]:
from sklearn.ensemble import RandomForestRegressor
rfmod = RandomForestRegressor().fit(X, y)
#rfmod.feature_importances_

C:\Users\Guy\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [17]:
model = SelectFromModel(rfmod, prefit=True)
model.get_support()

array([ True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True, False, False,  True, False, False, False,
       False, False, False, False, False,  True,  True, False, False,
       False, False,  True, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False,  True,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True, False, False,  True, False, False, False, False, False,
       False,  True, False, False, False, False, False, False, False,
       False, False, False, False,  True,  True, False, False,  True])

In [18]:
varSel['RandomForest'] = model.get_support().astype('int64')
varSel

                         Variable  Lasso  Ridge  RandomForest
0                prev_month_sales      0      1             1
1               prev_3month_sales      0      1             1
2          avg_prev_3months_sales      0      1             1
3          min_prev_3months_sales      0      1             1
4          max_prev_3months_sales      0      1             1
5            monthly_oilprice_avg      0      0             1
6            total_month_holidays      0      0             0
7        total_month_transactions      0      0             1
8         prev_month_transactions      0      0             1
9        prev_3month_transactions      0      0             1
10  avg_prev_3months_transactions      0      0             1
11  min_prev_3months_transactions      0      0             1
12  max_prev_3months_transactions      0      0             0
13                   BREAD.BAKERY      0      0             0
14                      BEVERAGES      0      0             1
15                          DAIRY      0      0             0
16                  PERSONAL.CARE      0      0             0
17                      HOME.CARE      0      0             0
18                   FROZEN.FOODS      0      0             0
19                        POULTRY      0      0             0
20                     GROCERY.II      0      0             0
21                       X.LIQUOR      0      0             0
22                           EGGS      0      0             0
23                      GROCERY.I      0      0             1
24                       CLEANING      0      0             1
25                           DELI      0      0             0
26                    store_typeA      0      0             0
27                    store_typeB      0      0             0
28                    store_typeC      1      0             0
29                    store_typeD      0      0             1
..                            ...    ...    ...           ...
69                      cluster15      0      0             0
70                      cluster16      0      0             0
71                      cluster17      0      0             0
72                      class1040      0      0             1
73                      class1122      0      0             0
74                      class3020      0      0             0
75                      class1072      0      0             1
76                      class1016      0      0             0
77                     item502331      0      0             0
78                     item273528      0      0             0
79                     item564533      0      0             0
80                     item621300      0      0             0
81                     item414353      0      0             0
82                      top5_item      0      0             1
83                       year2016      0      0             0
84                         month7      0      0             0
85                         month5      0      0             0
86                         month6      0      0             0
87                         month4      0      0             0
88                         month8      0      0             0
89                     top5_month      0      0             0
90                       year2013      0      0             0
91                       year2014      0      0             0
92                       year2015      0      0             0
93                       year2017      0      0             0
94                       item_per      0      0             1
95                      store_per      0      0             1
96                       Year_per      0      0             0
97                      kmeans_cl      0      0             0
98                            PCA      0      0             1

[99 rows x 4 columns]

### Variable Selection using Gradient Boosting classification

In [19]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.feature_selection import SelectFromModel

gbmod = GradientBoostingRegressor().fit(X,y)

In [20]:
model = SelectFromModel(gbmod, prefit=True)
model.get_support()

array([False, False, False, False, False, False, False,  True, False,
       False, False,  True, False, False,  True, False, False, False,
        True,  True, False, False, False, False,  True, False, False,
       False, False,  True, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True,  True, False,  True, False, False, False, False, False,
       False,  True, False, False, False, False, False, False, False,
       False, False, False, False,  True,  True, False, False, False])

In [21]:
varSel['GradientBoost'] = model.get_support().astype('int64')
varSel

                         Variable  Lasso  Ridge  RandomForest  GradientBoost
0                prev_month_sales      0      1             1              0
1               prev_3month_sales      0      1             1              0
2          avg_prev_3months_sales      0      1             1              0
3          min_prev_3months_sales      0      1             1              0
4          max_prev_3months_sales      0      1             1              0
5            monthly_oilprice_avg      0      0             1              0
6            total_month_holidays      0      0             0              0
7        total_month_transactions      0      0             1              1
8         prev_month_transactions      0      0             1              0
9        prev_3month_transactions      0      0             1              0
10  avg_prev_3months_transactions      0      0             1              0
11  min_prev_3months_transactions      0      0             1              1
12  max_prev_3months_transactions      0      0             0              0
13                   BREAD.BAKERY      0      0             0              0
14                      BEVERAGES      0      0             1              1
15                          DAIRY      0      0             0              0
16                  PERSONAL.CARE      0      0             0              0
17                      HOME.CARE      0      0             0              0
18                   FROZEN.FOODS      0      0             0              1
19                        POULTRY      0      0             0              1
20                     GROCERY.II      0      0             0              0
21                       X.LIQUOR      0      0             0              0
22                           EGGS      0      0             0              0
23                      GROCERY.I      0      0             1              0
24                       CLEANING      0      0             1              1
25                           DELI      0      0             0              0
26                    store_typeA      0      0             0              0
27                    store_typeB      0      0             0              0
28                    store_typeC      1      0             0              0
29                    store_typeD      0      0             1              1
..                            ...    ...    ...           ...            ...
69                      cluster15      0      0             0              0
70                      cluster16      0      0             0              0
71                      cluster17      0      0             0              0
72                      class1040      0      0             1              1
73                      class1122      0      0             0              1
74                      class3020      0      0             0              0
75                      class1072      0      0             1              1
76                      class1016      0      0             0              0
77                     item502331      0      0             0              0
78                     item273528      0      0             0              0
79                     item564533      0      0             0              0
80                     item621300      0      0             0              0
81                     item414353      0      0             0              0
82                      top5_item      0      0             1              1
83                       year2016      0      0             0              0
84                         month7      0      0             0              0
85                         month5      0      0             0              0
86                         month6      0      0             0              0
87                         month4      0      0             0              0
88                         month8      0      0             0              0
89                     top5_month      0      0             0              0
90                       year2013      0      0             0              0
91                       year2014      0      0             0              0
92                       year2015      0      0             0              0
93                       year2017      0      0             0              0
94                       item_per      0      0             1              1
95                      store_per      0      0             1              1
96                       Year_per      0      0             0              0
97                      kmeans_cl      0      0             0              0
98                            PCA      0      0             1              0

[99 rows x 5 columns]

### Variable Selection using Linear Regression

In [22]:
from sklearn.linear_model import LinearRegression


lrmod = LinearRegression().fit(X,y)

In [23]:
model = SelectFromModel(lrmod, prefit=True)
model.get_support()

array([False, False, False, False, False, False, False,  True, False,
        True, False,  True, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False,  True,
        True, False, False, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True, False,
       False, False, False,  True, False,  True, False,  True, False,
       False, False,  True,  True, False,  True,  True, False,  True,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False,  True, False,  True])

In [24]:
varSel['Linear Regression'] = model.get_support().astype('int64')
varSel

,Variable,Lasso,Ridge,RandomForest,GradientBoost,Linear Regression
0,prev_month_sales,0,1,1,0,0
1,prev_3month_sales,0,1,1,0,0
2,avg_prev_3months_sales,0,1,1,0,0
3,min_prev_3months_sales,0,1,1,0,0
4,max_prev_3months_sales,0,1,1,0,0
5,monthly_oilprice_avg,0,0,1,0,0
6,total_month_holidays,0,0,0,0,0
7,total_month_transactions,0,0,1,1,1
8,prev_month_transactions,0,0,1,0,0
9,prev_3month_transactions,0,0,1,0,1
10,avg_prev_3months_transactions,0,0,1,0,0
11,min_prev_3months_transactions,0,0,1,1,1
12,max_prev_3months_transactions,0,0,0,0,0
13,BREAD.BAKERY,0,0,0,0,0
14,BEVERAGES,0,0,1,1,0
15,DAIRY,0,0,0,0,0
16,PERSONAL.CARE,0,0,0,0,0
17,HOME.CARE,0,0,0,0,0
18,FROZEN.FOODS,0,0,0,1,0
19,POULTRY,0,0,0,1,0
20,GROCERY.II,0,0,0,0,0
21,X.LIQUOR,0,0,0,0,0
22,EGGS,0,0,0,0,0
23,GROCERY.I,0,0,1,0,0
24,CLEANING,0,0,1,1,0
25,DELI,0,0,0,0,0
26,store_typeA,0,0,0,0,1
27,store_typeB,0,0,0,0,1
28,store_typeC,1,0,0,0,0
29,store_typeD,0,0,1,1,0
...,...,...,...,...,...,...
69,cluster15,0,0,0,0,1
70,cluster16,0,0,0,0,0
71,cluster17,0,0,0,0,1
72,class1040,0,0,1,1,0
73,class1122,0,0,0,1,0
74,class3020,0,0,0,0,0
75,class1072,0,0,1,1,0
76,class1016,0,0,0,0,0
77,item502331,0,0,0,0,0
78,item273528,0,0,0,0,0
79,item564533,0,0,0,0,0
80,item621300,0,0,0,0,0
81,item414353,0,0,0,0,0
82,top5_item,0,0,1,1,0
83,year2016,0,0,0,0,0
84,month7,0,0,0,0,0
85,month5,0,0,0,0,0
86,month6,0,0,0,0,0
87,month4,0,0,0,0,0
88,month8,0,0,0,0,0
89,top5_month,0,0,0,0,0
90,year2013,0,0,0,0,0
91,year2014,0,0,0,0,0
92,year2015,0,0,0,0,0
93,year2017,0,0,0,0,0
94,item_per,0,0,1,1,0
95,store_per,0,0,1,1,0
96,Year_per,0,0,0,0,1
97,kmeans_cl,0,0,0,0,0
98,PCA,0,0,1,0,1

# Ada Boost

In [25]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.feature_selection import SelectFromModel

ABRmod = AdaBoostRegressor(random_state=1).fit(X,y)

In [26]:
model = SelectFromModel(ABRmod, prefit=True)
model.get_support()

array([False, False, False, False, False, False, False,  True, False,
       False, False,  True, False, False,  True, False,  True, False,
        True,  True, False, False, False, False,  True, False, False,
       False, False,  True, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True, False, False,  True, False, False, False, False, False,
       False,  True, False, False, False, False, False, False, False,
       False, False, False, False,  True, False, False, False, False])

In [27]:
varSel['Ada Boost'] = model.get_support().astype('int64')
varSel

,Variable,Lasso,Ridge,RandomForest,GradientBoost,Linear Regression,Ada Boost
0,prev_month_sales,0,1,1,0,0,0
1,prev_3month_sales,0,1,1,0,0,0
2,avg_prev_3months_sales,0,1,1,0,0,0
3,min_prev_3months_sales,0,1,1,0,0,0
4,max_prev_3months_sales,0,1,1,0,0,0
5,monthly_oilprice_avg,0,0,1,0,0,0
6,total_month_holidays,0,0,0,0,0,0
7,total_month_transactions,0,0,1,1,1,1
8,prev_month_transactions,0,0,1,0,0,0
9,prev_3month_transactions,0,0,1,0,1,0
10,avg_prev_3months_transactions,0,0,1,0,0,0
11,min_prev_3months_transactions,0,0,1,1,1,1
12,max_prev_3months_transactions,0,0,0,0,0,0
13,BREAD.BAKERY,0,0,0,0,0,0
14,BEVERAGES,0,0,1,1,0,1
15,DAIRY,0,0,0,0,0,0
16,PERSONAL.CARE,0,0,0,0,0,1
17,HOME.CARE,0,0,0,0,0,0
18,FROZEN.FOODS,0,0,0,1,0,1
19,POULTRY,0,0,0,1,0,1
20,GROCERY.II,0,0,0,0,0,0
21,X.LIQUOR,0,0,0,0,0,0
22,EGGS,0,0,0,0,0,0
23,GROCERY.I,0,0,1,0,0,0
24,CLEANING,0,0,1,1,0,1
25,DELI,0,0,0,0,0,0
26,store_typeA,0,0,0,0,1,0
27,store_typeB,0,0,0,0,1,0
28,store_typeC,1,0,0,0,0,0
29,store_typeD,0,0,1,1,0,1
...,...,...,...,...,...,...,...
69,cluster15,0,0,0,0,1,0
70,cluster16,0,0,0,0,0,0
71,cluster17,0,0,0,0,1,0
72,class1040,0,0,1,1,0,1
73,class1122,0,0,0,1,0,0
74,class3020,0,0,0,0,0,0
75,class1072,0,0,1,1,0,1
76,class1016,0,0,0,0,0,0
77,item502331,0,0,0,0,0,0
78,item273528,0,0,0,0,0,0
79,item564533,0,0,0,0,0,0
80,item621300,0,0,0,0,0,0
81,item414353,0,0,0,0,0,0
82,top5_item,0,0,1,1,0,1
83,year2016,0,0,0,0,0,0
84,month7,0,0,0,0,0,0
85,month5,0,0,0,0,0,0
86,month6,0,0,0,0,0,0
87,month4,0,0,0,0,0,0
88,month8,0,0,0,0,0,0
89,top5_month,0,0,0,0,0,0
90,year2013,0,0,0,0,0,0
91,year2014,0,0,0,0,0,0
92,year2015,0,0,0,0,0,0
93,year2017,0,0,0,0,0,0
94,item_per,0,0,1,1,0,1
95,store_per,0,0,1,1,0,0
96,Year_per,0,0,0,0,1,0
97,kmeans_cl,0,0,0,0,0,0
98,PCA,0,0,1,0,1,0

## Decision tree

In [28]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.feature_selection import SelectFromModel
dtree= DecisionTreeRegressor(random_state=2).fit(X,y)

In [29]:
model = SelectFromModel(dtree, prefit=True)
model.get_support()

array([ True,  True,  True,  True,  True,  True, False,  True, False,
        True,  True,  True, False, False,  True, False, False, False,
       False, False, False, False, False,  True,  True, False, False,
       False, False,  True, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False,  True,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True, False, False,  True, False, False, False, False, False,
       False,  True, False, False, False, False, False, False, False,
       False, False, False, False,  True,  True, False, False, False])

In [30]:
varSel['dtree'] = model.get_support().astype('int64')
varSel

,Variable,Lasso,Ridge,RandomForest,GradientBoost,Linear Regression,Ada Boost,dtree
0,prev_month_sales,0,1,1,0,0,0,1
1,prev_3month_sales,0,1,1,0,0,0,1
2,avg_prev_3months_sales,0,1,1,0,0,0,1
3,min_prev_3months_sales,0,1,1,0,0,0,1
4,max_prev_3months_sales,0,1,1,0,0,0,1
5,monthly_oilprice_avg,0,0,1,0,0,0,1
6,total_month_holidays,0,0,0,0,0,0,0
7,total_month_transactions,0,0,1,1,1,1,1
8,prev_month_transactions,0,0,1,0,0,0,0
9,prev_3month_transactions,0,0,1,0,1,0,1
10,avg_prev_3months_transactions,0,0,1,0,0,0,1
11,min_prev_3months_transactions,0,0,1,1,1,1,1
12,max_prev_3months_transactions,0,0,0,0,0,0,0
13,BREAD.BAKERY,0,0,0,0,0,0,0
14,BEVERAGES,0,0,1,1,0,1,1
15,DAIRY,0,0,0,0,0,0,0
16,PERSONAL.CARE,0,0,0,0,0,1,0
17,HOME.CARE,0,0,0,0,0,0,0
18,FROZEN.FOODS,0,0,0,1,0,1,0
19,POULTRY,0,0,0,1,0,1,0
20,GROCERY.II,0,0,0,0,0,0,0
21,X.LIQUOR,0,0,0,0,0,0,0
22,EGGS,0,0,0,0,0,0,0
23,GROCERY.I,0,0,1,0,0,0,1
24,CLEANING,0,0,1,1,0,1,1
25,DELI,0,0,0,0,0,0,0
26,store_typeA,0,0,0,0,1,0,0
27,store_typeB,0,0,0,0,1,0,0
28,store_typeC,1,0,0,0,0,0,0
29,store_typeD,0,0,1,1,0,1,1
...,...,...,...,...,...,...,...,...
69,cluster15,0,0,0,0,1,0,0
70,cluster16,0,0,0,0,0,0,0
71,cluster17,0,0,0,0,1,0,0
72,class1040,0,0,1,1,0,1,1
73,class1122,0,0,0,1,0,0,0
74,class3020,0,0,0,0,0,0,0
75,class1072,0,0,1,1,0,1,1
76,class1016,0,0,0,0,0,0,0
77,item502331,0,0,0,0,0,0,0
78,item273528,0,0,0,0,0,0,0
79,item564533,0,0,0,0,0,0,0
80,item621300,0,0,0,0,0,0,0
81,item414353,0,0,0,0,0,0,0
82,top5_item,0,0,1,1,0,1,1
83,year2016,0,0,0,0,0,0,0
84,month7,0,0,0,0,0,0,0
85,month5,0,0,0,0,0,0,0
86,month6,0,0,0,0,0,0,0
87,month4,0,0,0,0,0,0,0
88,month8,0,0,0,0,0,0,0
89,top5_month,0,0,0,0,0,0,0
90,year2013,0,0,0,0,0,0,0
91,year2014,0,0,0,0,0,0,0
92,year2015,0,0,0,0,0,0,0
93,year2017,0,0,0,0,0,0,0
94,item_per,0,0,1,1,0,1,1
95,store_per,0,0,1,1,0,0,1
96,Year_per,0,0,0,0,1,0,0
97,kmeans_cl,0,0,0,0,0,0,0
98,PCA,0,0,1,0,1,0,0

## Knn

In [ ]:
from sklearn.neighbors import KNeighborsRegressor
def get_weights(weights):
    return{0:0.5,1:5}
knmod= KNeighborsRegressor(weights=get_weights).fit(X,y)

## SVM

In [60]:
from sklearn.svm import LinearSVR
from sklearn.feature_selection import SelectFromModel
svmmod = LinearSVR(C=0.01, penalty="l1",dual=False).fit(X, y)

TypeError: __init__() got an unexpected keyword argument 'penalty'

### Summarization and Selection of Variables

In [ ]:
varSel['Sum'] =  np.sum(varSel,axis=1)
varSel

In [ ]:
varSel.groupby('Sum')['Variable'].count()

In [ ]:
varSel.loc[(varSel['Sum']>=2)]

In [ ]:
varSel.loc[(varSel['Sum']>=3)]

In [ ]:
l=list()
varSel.loc[(varSel['Sum']>=3)]

In [74]:
l=varSel.loc[(varSel['Sum']>=3)]['Variable'].tolist()

In [69]:
l

0                          item_nbr
1                         store_nbr
2                              Year
4                     store_cluster
8            min_prev_3months_sales
9            max_prev_3months_sales
12         total_month_transactions
16    min_prev_3months_transactions
19                        BEVERAGES
29                         CLEANING
34                      store_typeD
80                        class1072
87                        top5_item
Name: Variable, dtype: object

In [49]:
varSel.to_csv("c:/Users/Guy/Documents/DataScience/Data/varSel.csv")

We can now decide a threshold for selecting our variables!