# Exercises for part I - Try it at home

## List
 
1. Create a list of numbers from 1 to 10

In [17]:
a=[1,2,3,4,5,6,7,8,9,10]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Append to the list the number 20

In [18]:
a.append(20)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20]

3. Insert two zeros after the fourth place of the list

In [19]:
a.insert(4,0)

In [20]:
a.insert(4,0)
a

[1, 2, 3, 4, 0, 0, 5, 6, 7, 8, 9, 10, 20]

4. Sort the list in reverse order

In [21]:
b = a
b.sort(reverse=True)
b

[20, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, 0]

5. Remove the last two items from the list

In [22]:
a.pop(len(a)-1)
a.pop(len(a)-1)
a

[20, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

6. Invert the order of the list

In [25]:
a.reverse()
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20]

7. How many items has the list?

In [26]:
len(a)

11

8. Give the minimum, maximum and the sum of all the items in the list

In [29]:
min(a)

1

In [30]:
max(a)

20

In [31]:
sum(a)

75

sum(a)

9. What will happen if you multiply the list by 2?

In [32]:
a*2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20]

10. Can you divide the list by 3?

In [34]:
#no i cant

TypeError: unsupported operand type(s) for /: 'list' and 'int'

# Tupples
 
1. Create a tupple with three characters and four numbers

In [36]:
b=(1,2,3,4,'c','d','e')
=b

(1, 2, 3, 4, 'c', 'd', 'e')

2. Append two booleans (false, true) to the tupple

In [37]:
b=b+(False,)+(True,)
b

(1, 2, 3, 4, 'c', 'd', 'e', False, True)

3. Retrieve the third to sixth items from the tupple

In [41]:
b[3:6]

(4, 'c', 'd')

4. Divide the tupple by data type and create a list for each, then create a muttable tupple using these lists

In [45]:
l=([],[],[])
for w in b:
    if(isinstance(w,bool)):
       l[0].append(w)
    elif(isinstance(w,int)):
       l[1].append(w)
    else:
       l[2].append(w)
l

([False, True], [1, 2, 3, 4], ['c', 'd', 'e'])

# Sets
 
1. Create a set using the following paragraph:
 
<quote>
"Shallow copy is a bit-wise copy of an object. A new object is created that has an exact copy of the values in the original object"
<quote>
 
Note: Each part of the set must be a word, not a character!

In [62]:
txt="Shallow copy is a bit-wise copy of an object. A new object is created that has an exact copy of the values in the original object"
a=set(txt.split(" ") )
a

{'A',
 'Shallow',
 'a',
 'an',
 'bit-wise',
 'copy',
 'created',
 'exact',
 'has',
 'in',
 'is',
 'new',
 'object',
 'object.',
 'of',
 'original',
 'that',
 'the',
 'values'}

2. Do you see something wierd in this set? What? How can you prevent that?

In [63]:
set(txt.replace('.', '').split(" "))

{'A',
 'Shallow',
 'a',
 'an',
 'bit-wise',
 'copy',
 'created',
 'exact',
 'has',
 'in',
 'is',
 'new',
 'object',
 'of',
 'original',
 'that',
 'the',
 'values'}

# Dictionary
 
1. Generate a dictionary from the following table:

<table>
    <tr> <th> EmployeeID </th> <th> Name </th> <th> Position </th> <th> Phone </th> </tr>
    <tr> <td> 1020 </td> <td> Harry Smith </td> <td> Sales Manager </td> <td> 030-223.65.44 </td> </tr>
    <tr> <td> 2201 </td><td> Margaret Holsum </td> <td> Sales Representative </td> <td> 030-223.64.12 </td> </tr>
    <tr> <td> 3320 </td><td> Lasly Howard </td> <td> Human Resources </td> <td> 030-223.83.33 </td> </tr>
    <tr> <td> 8111 </td><td> Larry Johnson </td> <td> Project Manager </td> <td> 030-224.22.00 </td> </tr>
    <tr> <td> 2733 </td><td> Hellen Young </td> <td> Customer Service </td> <td> 030-223.03.20 </td> </tr>
</table>

In [69]:
d={1020:{'name':'Harry smith','position': 'sales manager','phone':'030-223.65.44'},
  2201:{'name':'Margaret Holsum','position': 'Sales Representative','phone':'030-223.64.12'}}
d

{1020: {'name': 'Harry smith',
  'position': 'sales manager',
  'phone': '030-223.65.44'},
 2201: {'name': 'Margaret Holsum',
  'position': 'Sales Representative',
  'phone': '030-223.64.12'}}

1. Get all the keys of the dictionary

In [71]:
d.keys()

dict_keys([1020, 2201])

2. Get all the values of the dictionary

In [72]:
d.values()

dict_values([{'name': 'Harry smith', 'position': 'sales manager', 'phone': '030-223.65.44'}, {'name': 'Margaret Holsum', 'position': 'Sales Representative', 'phone': '030-223.64.12'}])

3. Show the third row of the table by calling the dictionary using the respective EmployeeID

In [74]:
print(d[2201])

{'name': 'Margaret Holsum', 'position': 'Sales Representative', 'phone': '030-223.64.12'}

# Loop programming in python
 
1. Write a script that shows all the primary numbers from 1 to 100. Use for.. loop and if..else

In [37]:
print(2)
for x in range(3,100):
    c=0
    for y in range(2,x):
        if (x % y==0):
            c=c+1
    if(c==0):
        print(x)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [38]:
for x in range(2,100):
    c=0
    if (x==2):
        print(x)
    else:
        for y in range(2,x):
             if (x % y==0):
                c=c+1
        if(c==0):
            print(x)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

2. Write a different solution to the problem in the last question, but using while.. in place of for..

In [55]:
a=list(range(2,100))
x=1
while(x<100):
    x=x+1    
    j=1
    while(j<x):
        j=j+1
        if(x%j==0):
            a.remove(x)
            break
print(a)

SyntaxError: invalid syntax (<ipython-input-55-aa2393e9a712>, line 10)