# Python Intro - Part 3

# Working with Pandas Data Frames

In [6]:
import pandas as pd
 
iris = pd.read_csv("iris.csv")
iris.head()

   Unnamed: 0  sepal_length  sepal_width  petal_length  petal_width species
0           1           5.1          3.5           1.4          0.2  setosa
1           2           4.9          3.0           1.4          0.2  setosa
2           3           4.7          3.2           1.3          0.2  setosa
3           4           4.6          3.1           1.5          0.2  setosa
4           5           5.0          3.6           1.4          0.2  setosa

In [74]:
## add new colums to the df
iris['sepal_ratio'] = iris.sepal_length / iris.sepal_width
iris.head()

,Unnamed: 0,sepal_length,sepal_width,petal_length,petal_width,species,sepal_ratio
0,1,5.1,3.5,1.4,0.2,setosa,1.457143
1,2,4.9,3.0,1.4,0.2,setosa,1.633333
2,3,4.7,3.2,1.3,0.2,setosa,1.468750
3,4,4.6,3.1,1.5,0.2,setosa,1.483871
4,5,5.0,3.6,1.4,0.2,setosa,1.388889

In [75]:
iris['petal_ratio'] = iris.petal_length / iris['petal_width']
iris.head()

,Unnamed: 0,sepal_length,sepal_width,petal_length,petal_width,species,sepal_ratio,petal_ratio
0,1,5.1,3.5,1.4,0.2,setosa,1.457143,7.0
1,2,4.9,3.0,1.4,0.2,setosa,1.633333,7.0
2,3,4.7,3.2,1.3,0.2,setosa,1.468750,6.5
3,4,4.6,3.1,1.5,0.2,setosa,1.483871,7.5
4,5,5.0,3.6,1.4,0.2,setosa,1.388889,7.0

In [76]:
## now proceed with checking the values of the df
iris.describe()

,Unnamed: 0,sepal_length,sepal_width,petal_length,petal_width,sepal_ratio,petal_ratio
count,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000
mean,75.500000,5.843333,3.057333,3.758000,1.199333,1.953681,4.310500
std,43.445368,0.828066,0.435866,1.765298,0.762238,0.400480,2.489648
min,1.000000,4.300000,2.000000,1.000000,0.100000,1.268293,2.125000
25%,38.250000,5.100000,2.800000,1.600000,0.300000,1.546188,2.802381
50%,75.500000,5.800000,3.000000,4.350000,1.300000,2.032292,3.300000
75%,112.750000,6.400000,3.300000,5.100000,1.800000,2.224910,4.666667
max,150.000000,7.900000,4.400000,6.900000,2.500000,2.961538,15.000000

In [77]:
## create categorical variables for the sepal and petal width
iris['petalw_cat'] = pd.np.floor(iris.petal_width)
iris['sepalw_cat'] = pd.np.floor(iris.sepal_width)
iris.describe()

,Unnamed: 0,sepal_length,sepal_width,petal_length,petal_width,sepal_ratio,petal_ratio,petalw_cat,sepalw_cat
count,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000
mean,75.500000,5.843333,3.057333,3.758000,1.199333,1.953681,4.310500,0.860000,2.646667
std,43.445368,0.828066,0.435866,1.765298,0.762238,0.400480,2.489648,0.714472,0.532648
min,1.000000,4.300000,2.000000,1.000000,0.100000,1.268293,2.125000,0.000000,2.000000
25%,38.250000,5.100000,2.800000,1.600000,0.300000,1.546188,2.802381,0.000000,2.000000
50%,75.500000,5.800000,3.000000,4.350000,1.300000,2.032292,3.300000,1.000000,3.000000
75%,112.750000,6.400000,3.300000,5.100000,1.800000,2.224910,4.666667,1.000000,3.000000
max,150.000000,7.900000,4.400000,6.900000,2.500000,2.961538,15.000000,2.000000,4.000000

In [13]:
## subsetting
iris[iris.petalw_cat==2]

,Unnamed: 0,sepal_length,sepal_width,petal_length,petal_width,species,sepal_ratio,petal_ratio,petalw_cat,sepalw_cat
100,101,6.3,3.3,6.0,2.5,virginica,1.909091,2.400000,2.0,3.0
102,103,7.1,3.0,5.9,2.1,virginica,2.366667,2.809524,2.0,3.0
104,105,6.5,3.0,5.8,2.2,virginica,2.166667,2.636364,2.0,3.0
105,106,7.6,3.0,6.6,2.1,virginica,2.533333,3.142857,2.0,3.0
109,110,7.2,3.6,6.1,2.5,virginica,2.000000,2.440000,2.0,3.0
110,111,6.5,3.2,5.1,2.0,virginica,2.031250,2.550000,2.0,3.0
112,113,6.8,3.0,5.5,2.1,virginica,2.266667,2.619048,2.0,3.0
113,114,5.7,2.5,5.0,2.0,virginica,2.280000,2.500000,2.0,2.0
114,115,5.8,2.8,5.1,2.4,virginica,2.071429,2.125000,2.0,2.0
115,116,6.4,3.2,5.3,2.3,virginica,2.000000,2.304348,2.0,3.0
117,118,7.7,3.8,6.7,2.2,virginica,2.026316,3.045455,2.0,3.0
118,119,7.7,2.6,6.9,2.3,virginica,2.961538,3.000000,2.0,2.0
120,121,6.9,3.2,5.7,2.3,virginica,2.156250,2.478261,2.0,3.0
121,122,5.6,2.8,4.9,2.0,virginica,2.000000,2.450000,2.0,2.0
122,123,7.7,2.8,6.7,2.0,virginica,2.750000,3.350000,2.0,2.0
124,125,6.7,3.3,5.7,2.1,virginica,2.030303,2.714286,2.0,3.0
128,129,6.4,2.8,5.6,2.1,virginica,2.285714,2.666667,2.0,2.0
131,132,7.9,3.8,6.4,2.0,virginica,2.078947,3.200000,2.0,3.0
132,133,6.4,2.8,5.6,2.2,virginica,2.285714,2.545455,2.0,2.0
135,136,7.7,3.0,6.1,2.3,virginica,2.566667,2.652174,2.0,3.0
136,137,6.3,3.4,5.6,2.4,virginica,1.852941,2.333333,2.0,3.0
139,140,6.9,3.1,5.4,2.1,virginica,2.225806,2.571429,2.0,3.0
140,141,6.7,3.1,5.6,2.4,virginica,2.161290,2.333333,2.0,3.0
141,142,6.9,3.1,5.1,2.3,virginica,2.225806,2.217391,2.0,3.0
143,144,6.8,3.2,5.9,2.3,virginica,2.125000,2.565217,2.0,3.0
144,145,6.7,3.3,5.7,2.5,virginica,2.030303,2.280000,2.0,3.0
145,146,6.7,3.0,5.2,2.3,virginica,2.233333,2.260870,2.0,3.0
147,148,6.5,3.0,5.2,2.0,virginica,2.166667,2.600000,2.0,3.0
148,149,6.2,3.4,5.4,2.3,virginica,1.823529,2.347826,2.0,3.0

In [78]:
iris.describe()

,Unnamed: 0,sepal_length,sepal_width,petal_length,petal_width,sepal_ratio,petal_ratio,petalw_cat,sepalw_cat
count,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000
mean,75.500000,5.843333,3.057333,3.758000,1.199333,1.953681,4.310500,0.860000,2.646667
std,43.445368,0.828066,0.435866,1.765298,0.762238,0.400480,2.489648,0.714472,0.532648
min,1.000000,4.300000,2.000000,1.000000,0.100000,1.268293,2.125000,0.000000,2.000000
25%,38.250000,5.100000,2.800000,1.600000,0.300000,1.546188,2.802381,0.000000,2.000000
50%,75.500000,5.800000,3.000000,4.350000,1.300000,2.032292,3.300000,1.000000,3.000000
75%,112.750000,6.400000,3.300000,5.100000,1.800000,2.224910,4.666667,1.000000,3.000000
max,150.000000,7.900000,4.400000,6.900000,2.500000,2.961538,15.000000,2.000000,4.000000

In [79]:
### subsetting for given values
iris[iris.species.isin(['virginica','versicolor'])]

,Unnamed: 0,sepal_length,sepal_width,petal_length,petal_width,species,sepal_ratio,petal_ratio,petalw_cat,sepalw_cat
50,51,7.0,3.2,4.7,1.4,versicolor,2.187500,3.357143,1.0,3.0
51,52,6.4,3.2,4.5,1.5,versicolor,2.000000,3.000000,1.0,3.0
52,53,6.9,3.1,4.9,1.5,versicolor,2.225806,3.266667,1.0,3.0
53,54,5.5,2.3,4.0,1.3,versicolor,2.391304,3.076923,1.0,2.0
54,55,6.5,2.8,4.6,1.5,versicolor,2.321429,3.066667,1.0,2.0
55,56,5.7,2.8,4.5,1.3,versicolor,2.035714,3.461538,1.0,2.0
56,57,6.3,3.3,4.7,1.6,versicolor,1.909091,2.937500,1.0,3.0
57,58,4.9,2.4,3.3,1.0,versicolor,2.041667,3.300000,1.0,2.0
58,59,6.6,2.9,4.6,1.3,versicolor,2.275862,3.538462,1.0,2.0
59,60,5.2,2.7,3.9,1.4,versicolor,1.925926,2.785714,1.0,2.0
60,61,5.0,2.0,3.5,1.0,versicolor,2.500000,3.500000,1.0,2.0
61,62,5.9,3.0,4.2,1.5,versicolor,1.966667,2.800000,1.0,3.0
62,63,6.0,2.2,4.0,1.0,versicolor,2.727273,4.000000,1.0,2.0
63,64,6.1,2.9,4.7,1.4,versicolor,2.103448,3.357143,1.0,2.0
64,65,5.6,2.9,3.6,1.3,versicolor,1.931034,2.769231,1.0,2.0
65,66,6.7,3.1,4.4,1.4,versicolor,2.161290,3.142857,1.0,3.0
66,67,5.6,3.0,4.5,1.5,versicolor,1.866667,3.000000,1.0,3.0
67,68,5.8,2.7,4.1,1.0,versicolor,2.148148,4.100000,1.0,2.0
68,69,6.2,2.2,4.5,1.5,versicolor,2.818182,3.000000,1.0,2.0
69,70,5.6,2.5,3.9,1.1,versicolor,2.240000,3.545455,1.0,2.0
70,71,5.9,3.2,4.8,1.8,versicolor,1.843750,2.666667,1.0,3.0
71,72,6.1,2.8,4.0,1.3,versicolor,2.178571,3.076923,1.0,2.0
72,73,6.3,2.5,4.9,1.5,versicolor,2.520000,3.266667,1.0,2.0
73,74,6.1,2.8,4.7,1.2,versicolor,2.178571,3.916667,1.0,2.0
74,75,6.4,2.9,4.3,1.3,versicolor,2.206897,3.307692,1.0,2.0
75,76,6.6,3.0,4.4,1.4,versicolor,2.200000,3.142857,1.0,3.0
76,77,6.8,2.8,4.8,1.4,versicolor,2.428571,3.428571,1.0,2.0
77,78,6.7,3.0,5.0,1.7,versicolor,2.233333,2.941176,1.0,3.0
78,79,6.0,2.9,4.5,1.5,versicolor,2.068966,3.000000,1.0,2.0
79,80,5.7,2.6,3.5,1.0,versicolor,2.192308,3.500000,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...
120,121,6.9,3.2,5.7,2.3,virginica,2.156250,2.478261,2.0,3.0
121,122,5.6,2.8,4.9,2.0,virginica,2.000000,2.450000,2.0,2.0
122,123,7.7,2.8,6.7,2.0,virginica,2.750000,3.350000,2.0,2.0
123,124,6.3,2.7,4.9,1.8,virginica,2.333333,2.722222,1.0,2.0
124,125,6.7,3.3,5.7,2.1,virginica,2.030303,2.714286,2.0,3.0
125,126,7.2,3.2,6.0,1.8,virginica,2.250000,3.333333,1.0,3.0
126,127,6.2,2.8,4.8,1.8,virginica,2.214286,2.666667,1.0,2.0
127,128,6.1,3.0,4.9,1.8,virginica,2.033333,2.722222,1.0,3.0
128,129,6.4,2.8,5.6,2.1,virginica,2.285714,2.666667,2.0,2.0
129,130,7.2,3.0,5.8,1.6,virginica,2.400000,3.625000,1.0,3.0
130,131,7.4,2.8,6.1,1.9,virginica,2.642857,3.210526,1.0,2.0
131,132,7.9,3.8,6.4,2.0,virginica,2.078947,3.200000,2.0,3.0
132,133,6.4,2.8,5.6,2.2,virginica,2.285714,2.545455,2.0,2.0
133,134,6.3,2.8,5.1,1.5,virginica,2.250000,3.400000,1.0,2.0
134,135,6.1,2.6,5.6,1.4,virginica,2.346154,4.000000,1.0,2.0
135,136,7.7,3.0,6.1,2.3,virginica,2.566667,2.652174,2.0,3.0
136,137,6.3,3.4,5.6,2.4,virginica,1.852941,2.333333,2.0,3.0
137,138,6.4,3.1,5.5,1.8,virginica,2.064516,3.055556,1.0,3.0
138,139,6.0,3.0,4.8,1.8,virginica,2.000000,2.666667,1.0,3.0
139,140,6.9,3.1,5.4,2.1,virginica,2.225806,2.571429,2.0,3.0
140,141,6.7,3.1,5.6,2.4,virginica,2.161290,2.333333,2.0,3.0
141,142,6.9,3.1,5.1,2.3,virginica,2.225806,2.217391,2.0,3.0
142,143,5.8,2.7,5.1,1.9,virginica,2.148148,2.684211,1.0,2.0
143,144,6.8,3.2,5.9,2.3,virginica,2.125000,2.565217,2.0,3.0
144,145,6.7,3.3,5.7,2.5,virginica,2.030303,2.280000,2.0,3.0
145,146,6.7,3.0,5.2,2.3,virginica,2.233333,2.260870,2.0,3.0
146,147,6.3,2.5,5.0,1.9,virginica,2.520000,2.631579,1.0,2.0
147,148,6.5,3.0,5.2,2.0,virginica,2.166667,2.600000,2.0,3.0
148,149,6.2,3.4,5.4,2.3,virginica,1.823529,2.347826,2.0,3.0
149,150,5.9,3.0,5.1,1.8,virginica,1.966667,2.833333,1.0,3.0

In [84]:
# subsetting between values

iris2 = iris.copy()
iris2 = iris2[iris2['petal_length'].between(5,6)]
iris2.describe()

,Unnamed: 0,sepal_length,sepal_width,petal_length,petal_width,sepal_ratio,petal_ratio,petalw_cat,sepalw_cat
count,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000
mean,124.513514,6.454054,2.954054,5.432432,2.016216,2.198928,2.749890,1.567568,2.621622
std,18.703270,0.395527,0.280470,0.318899,0.297689,0.193236,0.426338,0.502247,0.491672
min,78.000000,5.700000,2.200000,5.000000,1.400000,1.823529,2.125000,1.000000,2.000000
25%,112.000000,6.300000,2.800000,5.100000,1.800000,2.071429,2.478261,1.000000,2.000000
50%,126.000000,6.400000,3.000000,5.500000,2.000000,2.172414,2.636364,2.000000,3.000000
75%,141.000000,6.700000,3.200000,5.700000,2.300000,2.280000,3.055556,2.000000,3.000000
max,150.000000,7.200000,3.400000,6.000000,2.500000,2.727273,4.000000,2.000000,3.000000

In [85]:
iris.describe()

,Unnamed: 0,sepal_length,sepal_width,petal_length,petal_width,sepal_ratio,petal_ratio,petalw_cat,sepalw_cat
count,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000
mean,75.500000,5.843333,3.057333,3.758000,1.199333,1.953681,4.310500,0.860000,2.646667
std,43.445368,0.828066,0.435866,1.765298,0.762238,0.400480,2.489648,0.714472,0.532648
min,1.000000,4.300000,2.000000,1.000000,0.100000,1.268293,2.125000,0.000000,2.000000
25%,38.250000,5.100000,2.800000,1.600000,0.300000,1.546188,2.802381,0.000000,2.000000
50%,75.500000,5.800000,3.000000,4.350000,1.300000,2.032292,3.300000,1.000000,3.000000
75%,112.750000,6.400000,3.300000,5.100000,1.800000,2.224910,4.666667,1.000000,3.000000
max,150.000000,7.900000,4.400000,6.900000,2.500000,2.961538,15.000000,2.000000,4.000000

In [86]:
pd.__version__

'0.23.0'

In [89]:
### aggregate - added to pandas version 0.20.0 !!!
iris.agg({'petal_ratio':[min,max,"mean","median",len],'sepal_ratio':[min,max,"mean","median",len]})

        petal_ratio  sepal_ratio
min          2.1250     1.268293
max         15.0000     2.961538
mean         4.3105     1.953681
median       3.3000     2.032292
len        150.0000   150.000000

In [17]:
iris.groupby('species').agg({'sepal_length':[min,max,len]})

           sepal_length
                    min  max   len
species
setosa              4.3  5.8  50.0
versicolor          4.9  7.0  50.0
virginica           4.9  7.9  50.0

 iris %>% filter() %>% group_by() %>% summarise()

In [90]:
### getting all together (like with dplyr in R)
# 1. filter
# 2. group
# 3. summarise
iris[(iris.sepalw_cat.isin([0,2,3])) & (iris['petal_length'].between(1,4))].\
    groupby('species').\
    agg({'sepal_ratio':[min,"mean","median",max,len], 'petal_ratio':[min,"mean","median",max,len]})

           sepal_ratio                                     petal_ratio  \
                   min      mean    median       max   len         min
species
setosa        1.277778  1.482307  1.468750  1.956522  46.0    2.666667
versicolor    1.925926  2.219015  2.196154  2.727273  16.0    2.727273


                mean median   max   len
species
setosa      6.818478    7.0  15.0  46.0
versicolor  3.274770    3.3   4.0  16.0

# Working with Files (I/O)

#### Read, write and append data

In [98]:
f = open("iris.csv",'r')
### read the first line
f.readline()

'"","sepal_length","sepal_width","petal_length","petal_width","species"\n'

In [20]:
### read the next line
f.readline()

'"1",5.1,3.5,1.4,0.2,"setosa"\n'

In [21]:
### read the next line
f.readline()

'"2",4.9,3,1.4,0.2,"setosa"\n'

In [94]:
### read the next lines after the actual cursor
f.readlines()

['"1",5.1,3.5,1.4,0.2,"setosa"\n',
 '"2",4.9,3,1.4,0.2,"setosa"\n',
 '"3",4.7,3.2,1.3,0.2,"setosa"\n',
 '"4",4.6,3.1,1.5,0.2,"setosa"\n',
 '"5",5,3.6,1.4,0.2,"setosa"\n',
 '"6",5.4,3.9,1.7,0.4,"setosa"\n',
 '"7",4.6,3.4,1.4,0.3,"setosa"\n',
 '"8",5,3.4,1.5,0.2,"setosa"\n',
 '"9",4.4,2.9,1.4,0.2,"setosa"\n',
 '"10",4.9,3.1,1.5,0.1,"setosa"\n',
 '"11",5.4,3.7,1.5,0.2,"setosa"\n',
 '"12",4.8,3.4,1.6,0.2,"setosa"\n',
 '"13",4.8,3,1.4,0.1,"setosa"\n',
 '"14",4.3,3,1.1,0.1,"setosa"\n',
 '"15",5.8,4,1.2,0.2,"setosa"\n',
 '"16",5.7,4.4,1.5,0.4,"setosa"\n',
 '"17",5.4,3.9,1.3,0.4,"setosa"\n',
 '"18",5.1,3.5,1.4,0.3,"setosa"\n',
 '"19",5.7,3.8,1.7,0.3,"setosa"\n',
 '"20",5.1,3.8,1.5,0.3,"setosa"\n',
 '"21",5.4,3.4,1.7,0.2,"setosa"\n',
 '"22",5.1,3.7,1.5,0.4,"setosa"\n',
 '"23",4.6,3.6,1,0.2,"setosa"\n',
 '"24",5.1,3.3,1.7,0.5,"setosa"\n',
 '"25",4.8,3.4,1.9,0.2,"setosa"\n',
 '"26",5,3,1.6,0.2,"setosa"\n',
 '"27",5,3.4,1.6,0.4,"setosa"\n',
 '"28",5.2,3.5,1.5,0.2,"setosa"\n',
 '"29",5.2,3.4,1.4,0.2,"setosa"\n',
 '"30",4.7,3.2,1.6,0.2,"setosa"\n',
 '"31",4.8,3.1,1.6,0.2,"setosa"\n',
 '"32",5.4,3.4,1.5,0.4,"setosa"\n',
 '"33",5.2,4.1,1.5,0.1,"setosa"\n',
 '"34",5.5,4.2,1.4,0.2,"setosa"\n',
 '"35",4.9,3.1,1.5,0.2,"setosa"\n',
 '"36",5,3.2,1.2,0.2,"setosa"\n',
 '"37",5.5,3.5,1.3,0.2,"setosa"\n',
 '"38",4.9,3.6,1.4,0.1,"setosa"\n',
 '"39",4.4,3,1.3,0.2,"setosa"\n',
 '"40",5.1,3.4,1.5,0.2,"setosa"\n',
 '"41",5,3.5,1.3,0.3,"setosa"\n',
 '"42",4.5,2.3,1.3,0.3,"setosa"\n',
 '"43",4.4,3.2,1.3,0.2,"setosa"\n',
 '"44",5,3.5,1.6,0.6,"setosa"\n',
 '"45",5.1,3.8,1.9,0.4,"setosa"\n',
 '"46",4.8,3,1.4,0.3,"setosa"\n',
 '"47",5.1,3.8,1.6,0.2,"setosa"\n',
 '"48",4.6,3.2,1.4,0.2,"setosa"\n',
 '"49",5.3,3.7,1.5,0.2,"setosa"\n',
 '"50",5,3.3,1.4,0.2,"setosa"\n',
 '"51",7,3.2,4.7,1.4,"versicolor"\n',
 '"52",6.4,3.2,4.5,1.5,"versicolor"\n',
 '"53",6.9,3.1,4.9,1.5,"versicolor"\n',
 '"54",5.5,2.3,4,1.3,"versicolor"\n',
 '"55",6.5,2.8,4.6,1.5,"versicolor"\n',
 '"56",5.7,2.8,4.5,1.3,"versicolor"\n',
 '"57",6.3,3.3,4.7,1.6,"versicolor"\n',
 '"58",4.9,2.4,3.3,1,"versicolor"\n',
 '"59",6.6,2.9,4.6,1.3,"versicolor"\n',
 '"60",5.2,2.7,3.9,1.4,"versicolor"\n',
 '"61",5,2,3.5,1,"versicolor"\n',
 '"62",5.9,3,4.2,1.5,"versicolor"\n',
 '"63",6,2.2,4,1,"versicolor"\n',
 '"64",6.1,2.9,4.7,1.4,"versicolor"\n',
 '"65",5.6,2.9,3.6,1.3,"versicolor"\n',
 '"66",6.7,3.1,4.4,1.4,"versicolor"\n',
 '"67",5.6,3,4.5,1.5,"versicolor"\n',
 '"68",5.8,2.7,4.1,1,"versicolor"\n',
 '"69",6.2,2.2,4.5,1.5,"versicolor"\n',
 '"70",5.6,2.5,3.9,1.1,"versicolor"\n',
 '"71",5.9,3.2,4.8,1.8,"versicolor"\n',
 '"72",6.1,2.8,4,1.3,"versicolor"\n',
 '"73",6.3,2.5,4.9,1.5,"versicolor"\n',
 '"74",6.1,2.8,4.7,1.2,"versicolor"\n',
 '"75",6.4,2.9,4.3,1.3,"versicolor"\n',
 '"76",6.6,3,4.4,1.4,"versicolor"\n',
 '"77",6.8,2.8,4.8,1.4,"versicolor"\n',
 '"78",6.7,3,5,1.7,"versicolor"\n',
 '"79",6,2.9,4.5,1.5,"versicolor"\n',
 '"80",5.7,2.6,3.5,1,"versicolor"\n',
 '"81",5.5,2.4,3.8,1.1,"versicolor"\n',
 '"82",5.5,2.4,3.7,1,"versicolor"\n',
 '"83",5.8,2.7,3.9,1.2,"versicolor"\n',
 '"84",6,2.7,5.1,1.6,"versicolor"\n',
 '"85",5.4,3,4.5,1.5,"versicolor"\n',
 '"86",6,3.4,4.5,1.6,"versicolor"\n',
 '"87",6.7,3.1,4.7,1.5,"versicolor"\n',
 '"88",6.3,2.3,4.4,1.3,"versicolor"\n',
 '"89",5.6,3,4.1,1.3,"versicolor"\n',
 '"90",5.5,2.5,4,1.3,"versicolor"\n',
 '"91",5.5,2.6,4.4,1.2,"versicolor"\n',
 '"92",6.1,3,4.6,1.4,"versicolor"\n',
 '"93",5.8,2.6,4,1.2,"versicolor"\n',
 '"94",5,2.3,3.3,1,"versicolor"\n',
 '"95",5.6,2.7,4.2,1.3,"versicolor"\n',
 '"96",5.7,3,4.2,1.2,"versicolor"\n',
 '"97",5.7,2.9,4.2,1.3,"versicolor"\n',
 '"98",6.2,2.9,4.3,1.3,"versicolor"\n',
 '"99",5.1,2.5,3,1.1,"versicolor"\n',
 '"100",5.7,2.8,4.1,1.3,"versicolor"\n',
 '"101",6.3,3.3,6,2.5,"virginica"\n',
 '"102",5.8,2.7,5.1,1.9,"virginica"\n',
 '"103",7.1,3,5.9,2.1,"virginica"\n',
 '"104",6.3,2.9,5.6,1.8,"virginica"\n',
 '"105",6.5,3,5.8,2.2,"virginica"\n',
 '"106",7.6,3,6.6,2.1,"virginica"\n',
 '"107",4.9,2.5,4.5,1.7,"virginica"\n',
 '"108",7.3,2.9,6.3,1.8,"virginica"\n',
 '"109",6.7,2.5,5.8,1.8,"virginica"\n',
 '"110",7.2,3.6,6.1,2.5,"virginica"\n',
 '"111",6.5,3.2,5.1,2,"virginica"\n',
 '"112",6.4,2.7,5.3,1.9,"virginica"\n',
 '"113",6.8,3,5.5,2.1,"virginica"\n',
 '"114",5.7,2.5,5,2,"virginica"\n',
 '"115",5.8,2.8,5.1,2.4,"virginica"\n',
 '"116",6.4,3.2,5.3,2.3,"virginica"\n',
 '"117",6.5,3,5.5,1.8,"virginica"\n',
 '"118",7.7,3.8,6.7,2.2,"virginica"\n',
 '"119",7.7,2.6,6.9,2.3,"virginica"\n',
 '"120",6,2.2,5,1.5,"virginica"\n',
 '"121",6.9,3.2,5.7,2.3,"virginica"\n',
 '"122",5.6,2.8,4.9,2,"virginica"\n',
 '"123",7.7,2.8,6.7,2,"virginica"\n',
 '"124",6.3,2.7,4.9,1.8,"virginica"\n',
 '"125",6.7,3.3,5.7,2.1,"virginica"\n',
 '"126",7.2,3.2,6,1.8,"virginica"\n',
 '"127",6.2,2.8,4.8,1.8,"virginica"\n',
 '"128",6.1,3,4.9,1.8,"virginica"\n',
 '"129",6.4,2.8,5.6,2.1,"virginica"\n',
 '"130",7.2,3,5.8,1.6,"virginica"\n',
 '"131",7.4,2.8,6.1,1.9,"virginica"\n',
 '"132",7.9,3.8,6.4,2,"virginica"\n',
 '"133",6.4,2.8,5.6,2.2,"virginica"\n',
 '"134",6.3,2.8,5.1,1.5,"virginica"\n',
 '"135",6.1,2.6,5.6,1.4,"virginica"\n',
 '"136",7.7,3,6.1,2.3,"virginica"\n',
 '"137",6.3,3.4,5.6,2.4,"virginica"\n',
 '"138",6.4,3.1,5.5,1.8,"virginica"\n',
 '"139",6,3,4.8,1.8,"virginica"\n',
 '"140",6.9,3.1,5.4,2.1,"virginica"\n',
 '"141",6.7,3.1,5.6,2.4,"virginica"\n',
 '"142",6.9,3.1,5.1,2.3,"virginica"\n',
 '"143",5.8,2.7,5.1,1.9,"virginica"\n',
 '"144",6.8,3.2,5.9,2.3,"virginica"\n',
 '"145",6.7,3.3,5.7,2.5,"virginica"\n',
 '"146",6.7,3,5.2,2.3,"virginica"\n',
 '"147",6.3,2.5,5,1.9,"virginica"\n',
 '"148",6.5,3,5.2,2,"virginica"\n',
 '"149",6.2,3.4,5.4,2.3,"virginica"\n',
 '"150",5.9,3,5.1,1.8,"virginica"\n']

We can interact through the lines of the file and make some operations.
Lets divide the dataset into three independent datasets: one for each type of flower.

We will:
- Opend the files for read/write/append
- Iterate though lines
- Check the content of the line for the name of the flower
- Append the new data to the respective file
- Close the files

In [9]:
### input file
f = open("iris.csv",'r')

In [10]:
### output file
setosa = open("setosa.csv","a")
versicolor = open("versicolor.csv","a")
virginica = open("virginica.csv","a")

In [11]:
### read the first line that has the column names
names = f.readline()
print(names)

"","sepal_length","sepal_width","petal_length","petal_width","species"

In [13]:
### write the column names into each of the three files
setosa.write(names)
versicolor.write(names)
virginica.write(names)

71

In [14]:
iris = f.readlines()
for line in iris:
    if "setosa" in line:
        print("Setosa is in %s" % line)
        setosa.write(line)
    elif "versicolor" in line:
        print("Versicolor is in %s" % line)
        versicolor.write(line)
    else:
        print("Virginica is in %s" % line)
        virginica.write(line)

Setosa is in "1",5.1,3.5,1.4,0.2,"setosa"

Setosa is in "2",4.9,3,1.4,0.2,"setosa"

Setosa is in "3",4.7,3.2,1.3,0.2,"setosa"

Setosa is in "4",4.6,3.1,1.5,0.2,"setosa"

Setosa is in "5",5,3.6,1.4,0.2,"setosa"

Setosa is in "6",5.4,3.9,1.7,0.4,"setosa"

Setosa is in "7",4.6,3.4,1.4,0.3,"setosa"

Setosa is in "8",5,3.4,1.5,0.2,"setosa"

Setosa is in "9",4.4,2.9,1.4,0.2,"setosa"

Setosa is in "10",4.9,3.1,1.5,0.1,"setosa"

Setosa is in "11",5.4,3.7,1.5,0.2,"setosa"

Setosa is in "12",4.8,3.4,1.6,0.2,"setosa"

Setosa is in "13",4.8,3,1.4,0.1,"setosa"

Setosa is in "14",4.3,3,1.1,0.1,"setosa"

Setosa is in "15",5.8,4,1.2,0.2,"setosa"

Setosa is in "16",5.7,4.4,1.5,0.4,"setosa"

Setosa is in "17",5.4,3.9,1.3,0.4,"setosa"

Setosa is in "18",5.1,3.5,1.4,0.3,"setosa"

Setosa is in "19",5.7,3.8,1.7,0.3,"setosa"

Setosa is in "20",5.1,3.8,1.5,0.3,"setosa"

Setosa is in "21",5.4,3.4,1.7,0.2,"setosa"

Setosa is in "22",5.1,3.7,1.5,0.4,"setosa"

Setosa is in "23",4.6,3.6,1,0.2,"setosa"

Setosa is in "24",5.1,3.3,1.7,0.5,"setosa"

Setosa is in "25",4.8,3.4,1.9,0.2,"setosa"

Setosa is in "26",5,3,1.6,0.2,"setosa"

Setosa is in "27",5,3.4,1.6,0.4,"setosa"

Setosa is in "28",5.2,3.5,1.5,0.2,"setosa"

Setosa is in "29",5.2,3.4,1.4,0.2,"setosa"

Setosa is in "30",4.7,3.2,1.6,0.2,"setosa"

Setosa is in "31",4.8,3.1,1.6,0.2,"setosa"

Setosa is in "32",5.4,3.4,1.5,0.4,"setosa"

Setosa is in "33",5.2,4.1,1.5,0.1,"setosa"

Setosa is in "34",5.5,4.2,1.4,0.2,"setosa"

Setosa is in "35",4.9,3.1,1.5,0.2,"setosa"

Setosa is in "36",5,3.2,1.2,0.2,"setosa"

Setosa is in "37",5.5,3.5,1.3,0.2,"setosa"

Setosa is in "38",4.9,3.6,1.4,0.1,"setosa"

Setosa is in "39",4.4,3,1.3,0.2,"setosa"

Setosa is in "40",5.1,3.4,1.5,0.2,"setosa"

Setosa is in "41",5,3.5,1.3,0.3,"setosa"

Setosa is in "42",4.5,2.3,1.3,0.3,"setosa"

Setosa is in "43",4.4,3.2,1.3,0.2,"setosa"

Setosa is in "44",5,3.5,1.6,0.6,"setosa"

Setosa is in "45",5.1,3.8,1.9,0.4,"setosa"

Setosa is in "46",4.8,3,1.4,0.3,"setosa"

Setosa is in "47",5.1,3.8,1.6,0.2,"setosa"

Setosa is in "48",4.6,3.2,1.4,0.2,"setosa"

Setosa is in "49",5.3,3.7,1.5,0.2,"setosa"

Setosa is in "50",5,3.3,1.4,0.2,"setosa"

Versicolor is in "51",7,3.2,4.7,1.4,"versicolor"

Versicolor is in "52",6.4,3.2,4.5,1.5,"versicolor"

Versicolor is in "53",6.9,3.1,4.9,1.5,"versicolor"

Versicolor is in "54",5.5,2.3,4,1.3,"versicolor"

Versicolor is in "55",6.5,2.8,4.6,1.5,"versicolor"

Versicolor is in "56",5.7,2.8,4.5,1.3,"versicolor"

Versicolor is in "57",6.3,3.3,4.7,1.6,"versicolor"

Versicolor is in "58",4.9,2.4,3.3,1,"versicolor"

Versicolor is in "59",6.6,2.9,4.6,1.3,"versicolor"

Versicolor is in "60",5.2,2.7,3.9,1.4,"versicolor"

Versicolor is in "61",5,2,3.5,1,"versicolor"

Versicolor is in "62",5.9,3,4.2,1.5,"versicolor"

Versicolor is in "63",6,2.2,4,1,"versicolor"

Versicolor is in "64",6.1,2.9,4.7,1.4,"versicolor"

Versicolor is in "65",5.6,2.9,3.6,1.3,"versicolor"

Versicolor is in "66",6.7,3.1,4.4,1.4,"versicolor"

Versicolor is in "67",5.6,3,4.5,1.5,"versicolor"

Versicolor is in "68",5.8,2.7,4.1,1,"versicolor"

Versicolor is in "69",6.2,2.2,4.5,1.5,"versicolor"

Versicolor is in "70",5.6,2.5,3.9,1.1,"versicolor"

Versicolor is in "71",5.9,3.2,4.8,1.8,"versicolor"

Versicolor is in "72",6.1,2.8,4,1.3,"versicolor"

Versicolor is in "73",6.3,2.5,4.9,1.5,"versicolor"

Versicolor is in "74",6.1,2.8,4.7,1.2,"versicolor"

Versicolor is in "75",6.4,2.9,4.3,1.3,"versicolor"

Versicolor is in "76",6.6,3,4.4,1.4,"versicolor"

Versicolor is in "77",6.8,2.8,4.8,1.4,"versicolor"

Versicolor is in "78",6.7,3,5,1.7,"versicolor"

Versicolor is in "79",6,2.9,4.5,1.5,"versicolor"

Versicolor is in "80",5.7,2.6,3.5,1,"versicolor"

Versicolor is in "81",5.5,2.4,3.8,1.1,"versicolor"

Versicolor is in "82",5.5,2.4,3.7,1,"versicolor"

Versicolor is in "83",5.8,2.7,3.9,1.2,"versicolor"

Versicolor is in "84",6,2.7,5.1,1.6,"versicolor"

Versicolor is in "85",5.4,3,4.5,1.5,"versicolor"

Versicolor is in "86",6,3.4,4.5,1.6,"versicolor"

Versicolor is in "87",6.7,3.1,4.7,1.5,"versicolor"

Versicolor is in "88",6.3,2.3,4.4,1.3,"versicolor"

Versicolor is in "89",5.6,3,4.1,1.3,"versicolor"

Versicolor is in "90",5.5,2.5,4,1.3,"versicolor"

Versicolor is in "91",5.5,2.6,4.4,1.2,"versicolor"

Versicolor is in "92",6.1,3,4.6,1.4,"versicolor"

Versicolor is in "93",5.8,2.6,4,1.2,"versicolor"

Versicolor is in "94",5,2.3,3.3,1,"versicolor"

Versicolor is in "95",5.6,2.7,4.2,1.3,"versicolor"

Versicolor is in "96",5.7,3,4.2,1.2,"versicolor"

Versicolor is in "97",5.7,2.9,4.2,1.3,"versicolor"

Versicolor is in "98",6.2,2.9,4.3,1.3,"versicolor"

Versicolor is in "99",5.1,2.5,3,1.1,"versicolor"

Versicolor is in "100",5.7,2.8,4.1,1.3,"versicolor"

Virginica is in "101",6.3,3.3,6,2.5,"virginica"

Virginica is in "102",5.8,2.7,5.1,1.9,"virginica"

Virginica is in "103",7.1,3,5.9,2.1,"virginica"

Virginica is in "104",6.3,2.9,5.6,1.8,"virginica"

Virginica is in "105",6.5,3,5.8,2.2,"virginica"

Virginica is in "106",7.6,3,6.6,2.1,"virginica"

Virginica is in "107",4.9,2.5,4.5,1.7,"virginica"

Virginica is in "108",7.3,2.9,6.3,1.8,"virginica"

Virginica is in "109",6.7,2.5,5.8,1.8,"virginica"

Virginica is in "110",7.2,3.6,6.1,2.5,"virginica"

Virginica is in "111",6.5,3.2,5.1,2,"virginica"

Virginica is in "112",6.4,2.7,5.3,1.9,"virginica"

Virginica is in "113",6.8,3,5.5,2.1,"virginica"

Virginica is in "114",5.7,2.5,5,2,"virginica"

Virginica is in "115",5.8,2.8,5.1,2.4,"virginica"

Virginica is in "116",6.4,3.2,5.3,2.3,"virginica"

Virginica is in "117",6.5,3,5.5,1.8,"virginica"

Virginica is in "118",7.7,3.8,6.7,2.2,"virginica"

Virginica is in "119",7.7,2.6,6.9,2.3,"virginica"

Virginica is in "120",6,2.2,5,1.5,"virginica"

Virginica is in "121",6.9,3.2,5.7,2.3,"virginica"

Virginica is in "122",5.6,2.8,4.9,2,"virginica"

Virginica is in "123",7.7,2.8,6.7,2,"virginica"

Virginica is in "124",6.3,2.7,4.9,1.8,"virginica"

Virginica is in "125",6.7,3.3,5.7,2.1,"virginica"

Virginica is in "126",7.2,3.2,6,1.8,"virginica"

Virginica is in "127",6.2,2.8,4.8,1.8,"virginica"

Virginica is in "128",6.1,3,4.9,1.8,"virginica"

Virginica is in "129",6.4,2.8,5.6,2.1,"virginica"

Virginica is in "130",7.2,3,5.8,1.6,"virginica"

Virginica is in "131",7.4,2.8,6.1,1.9,"virginica"

Virginica is in "132",7.9,3.8,6.4,2,"virginica"

Virginica is in "133",6.4,2.8,5.6,2.2,"virginica"

Virginica is in "134",6.3,2.8,5.1,1.5,"virginica"

Virginica is in "135",6.1,2.6,5.6,1.4,"virginica"

Virginica is in "136",7.7,3,6.1,2.3,"virginica"

Virginica is in "137",6.3,3.4,5.6,2.4,"virginica"

Virginica is in "138",6.4,3.1,5.5,1.8,"virginica"

Virginica is in "139",6,3,4.8,1.8,"virginica"

Virginica is in "140",6.9,3.1,5.4,2.1,"virginica"

Virginica is in "141",6.7,3.1,5.6,2.4,"virginica"

Virginica is in "142",6.9,3.1,5.1,2.3,"virginica"

Virginica is in "143",5.8,2.7,5.1,1.9,"virginica"

Virginica is in "144",6.8,3.2,5.9,2.3,"virginica"

Virginica is in "145",6.7,3.3,5.7,2.5,"virginica"

Virginica is in "146",6.7,3,5.2,2.3,"virginica"

Virginica is in "147",6.3,2.5,5,1.9,"virginica"

Virginica is in "148",6.5,3,5.2,2,"virginica"

Virginica is in "149",6.2,3.4,5.4,2.3,"virginica"

Virginica is in "150",5.9,3,5.1,1.8,"virginica"

In [15]:
### close the connection of the files
setosa.close()
versicolor.close()
virginica.close()

Another way to read the content of a file is as follows:

In [19]:
with open('iris.csv','r') as f:
    data = f.read()
    
data

'"","sepal_length","sepal_width","petal_length","petal_width","species"\n"1",5.1,3.5,1.4,0.2,"setosa"\n"2",4.9,3,1.4,0.2,"setosa"\n"3",4.7,3.2,1.3,0.2,"setosa"\n"4",4.6,3.1,1.5,0.2,"setosa"\n"5",5,3.6,1.4,0.2,"setosa"\n"6",5.4,3.9,1.7,0.4,"setosa"\n"7",4.6,3.4,1.4,0.3,"setosa"\n"8",5,3.4,1.5,0.2,"setosa"\n"9",4.4,2.9,1.4,0.2,"setosa"\n"10",4.9,3.1,1.5,0.1,"setosa"\n"11",5.4,3.7,1.5,0.2,"setosa"\n"12",4.8,3.4,1.6,0.2,"setosa"\n"13",4.8,3,1.4,0.1,"setosa"\n"14",4.3,3,1.1,0.1,"setosa"\n"15",5.8,4,1.2,0.2,"setosa"\n"16",5.7,4.4,1.5,0.4,"setosa"\n"17",5.4,3.9,1.3,0.4,"setosa"\n"18",5.1,3.5,1.4,0.3,"setosa"\n"19",5.7,3.8,1.7,0.3,"setosa"\n"20",5.1,3.8,1.5,0.3,"setosa"\n"21",5.4,3.4,1.7,0.2,"setosa"\n"22",5.1,3.7,1.5,0.4,"setosa"\n"23",4.6,3.6,1,0.2,"setosa"\n"24",5.1,3.3,1.7,0.5,"setosa"\n"25",4.8,3.4,1.9,0.2,"setosa"\n"26",5,3,1.6,0.2,"setosa"\n"27",5,3.4,1.6,0.4,"setosa"\n"28",5.2,3.5,1.5,0.2,"setosa"\n"29",5.2,3.4,1.4,0.2,"setosa"\n"30",4.7,3.2,1.6,0.2,"setosa"\n"31",4.8,3.1,1.6,0.2,"setosa"\n"32",5.4,3.4,1.5,0.4,"setosa"\n"33",5.2,4.1,1.5,0.1,"setosa"\n"34",5.5,4.2,1.4,0.2,"setosa"\n"35",4.9,3.1,1.5,0.2,"setosa"\n"36",5,3.2,1.2,0.2,"setosa"\n"37",5.5,3.5,1.3,0.2,"setosa"\n"38",4.9,3.6,1.4,0.1,"setosa"\n"39",4.4,3,1.3,0.2,"setosa"\n"40",5.1,3.4,1.5,0.2,"setosa"\n"41",5,3.5,1.3,0.3,"setosa"\n"42",4.5,2.3,1.3,0.3,"setosa"\n"43",4.4,3.2,1.3,0.2,"setosa"\n"44",5,3.5,1.6,0.6,"setosa"\n"45",5.1,3.8,1.9,0.4,"setosa"\n"46",4.8,3,1.4,0.3,"setosa"\n"47",5.1,3.8,1.6,0.2,"setosa"\n"48",4.6,3.2,1.4,0.2,"setosa"\n"49",5.3,3.7,1.5,0.2,"setosa"\n"50",5,3.3,1.4,0.2,"setosa"\n"51",7,3.2,4.7,1.4,"versicolor"\n"52",6.4,3.2,4.5,1.5,"versicolor"\n"53",6.9,3.1,4.9,1.5,"versicolor"\n"54",5.5,2.3,4,1.3,"versicolor"\n"55",6.5,2.8,4.6,1.5,"versicolor"\n"56",5.7,2.8,4.5,1.3,"versicolor"\n"57",6.3,3.3,4.7,1.6,"versicolor"\n"58",4.9,2.4,3.3,1,"versicolor"\n"59",6.6,2.9,4.6,1.3,"versicolor"\n"60",5.2,2.7,3.9,1.4,"versicolor"\n"61",5,2,3.5,1,"versicolor"\n"62",5.9,3,4.2,1.5,"versicolor"\n"63",6,2.2,4,1,"versicolor"\n"64",6.1,2.9,4.7,1.4,"versicolor"\n"65",5.6,2.9,3.6,1.3,"versicolor"\n"66",6.7,3.1,4.4,1.4,"versicolor"\n"67",5.6,3,4.5,1.5,"versicolor"\n"68",5.8,2.7,4.1,1,"versicolor"\n"69",6.2,2.2,4.5,1.5,"versicolor"\n"70",5.6,2.5,3.9,1.1,"versicolor"\n"71",5.9,3.2,4.8,1.8,"versicolor"\n"72",6.1,2.8,4,1.3,"versicolor"\n"73",6.3,2.5,4.9,1.5,"versicolor"\n"74",6.1,2.8,4.7,1.2,"versicolor"\n"75",6.4,2.9,4.3,1.3,"versicolor"\n"76",6.6,3,4.4,1.4,"versicolor"\n"77",6.8,2.8,4.8,1.4,"versicolor"\n"78",6.7,3,5,1.7,"versicolor"\n"79",6,2.9,4.5,1.5,"versicolor"\n"80",5.7,2.6,3.5,1,"versicolor"\n"81",5.5,2.4,3.8,1.1,"versicolor"\n"82",5.5,2.4,3.7,1,"versicolor"\n"83",5.8,2.7,3.9,1.2,"versicolor"\n"84",6,2.7,5.1,1.6,"versicolor"\n"85",5.4,3,4.5,1.5,"versicolor"\n"86",6,3.4,4.5,1.6,"versicolor"\n"87",6.7,3.1,4.7,1.5,"versicolor"\n"88",6.3,2.3,4.4,1.3,"versicolor"\n"89",5.6,3,4.1,1.3,"versicolor"\n"90",5.5,2.5,4,1.3,"versicolor"\n"91",5.5,2.6,4.4,1.2,"versicolor"\n"92",6.1,3,4.6,1.4,"versicolor"\n"93",5.8,2.6,4,1.2,"versicolor"\n"94",5,2.3,3.3,1,"versicolor"\n"95",5.6,2.7,4.2,1.3,"versicolor"\n"96",5.7,3,4.2,1.2,"versicolor"\n"97",5.7,2.9,4.2,1.3,"versicolor"\n"98",6.2,2.9,4.3,1.3,"versicolor"\n"99",5.1,2.5,3,1.1,"versicolor"\n"100",5.7,2.8,4.1,1.3,"versicolor"\n"101",6.3,3.3,6,2.5,"virginica"\n"102",5.8,2.7,5.1,1.9,"virginica"\n"103",7.1,3,5.9,2.1,"virginica"\n"104",6.3,2.9,5.6,1.8,"virginica"\n"105",6.5,3,5.8,2.2,"virginica"\n"106",7.6,3,6.6,2.1,"virginica"\n"107",4.9,2.5,4.5,1.7,"virginica"\n"108",7.3,2.9,6.3,1.8,"virginica"\n"109",6.7,2.5,5.8,1.8,"virginica"\n"110",7.2,3.6,6.1,2.5,"virginica"\n"111",6.5,3.2,5.1,2,"virginica"\n"112",6.4,2.7,5.3,1.9,"virginica"\n"113",6.8,3,5.5,2.1,"virginica"\n"114",5.7,2.5,5,2,"virginica"\n"115",5.8,2.8,5.1,2.4,"virginica"\n"116",6.4,3.2,5.3,2.3,"virginica"\n"117",6.5,3,5.5,1.8,"virginica"\n"118",7.7,3.8,6.7,2.2,"virginica"\n"119",7.7,2.6,6.9,2.3,"virginica"\n"120",6,2.2,5,1.5,"virginica"\n"121",6.9,3.2,5.7,2.3,"virginica"\n"122",5.6,2.8,4.9,2,"virginica"\n"123",7.7,2.8,6.7,2,"virginica"\n"124",6.3,2.7,4.9,1.8,"virginica"\n"125",6.7,3.3,5.7,2.1,"virginica"\n"126",7.2,3.2,6,1.8,"virginica"\n"127",6.2,2.8,4.8,1.8,"virginica"\n"128",6.1,3,4.9,1.8,"virginica"\n"129",6.4,2.8,5.6,2.1,"virginica"\n"130",7.2,3,5.8,1.6,"virginica"\n"131",7.4,2.8,6.1,1.9,"virginica"\n"132",7.9,3.8,6.4,2,"virginica"\n"133",6.4,2.8,5.6,2.2,"virginica"\n"134",6.3,2.8,5.1,1.5,"virginica"\n"135",6.1,2.6,5.6,1.4,"virginica"\n"136",7.7,3,6.1,2.3,"virginica"\n"137",6.3,3.4,5.6,2.4,"virginica"\n"138",6.4,3.1,5.5,1.8,"virginica"\n"139",6,3,4.8,1.8,"virginica"\n"140",6.9,3.1,5.4,2.1,"virginica"\n"141",6.7,3.1,5.6,2.4,"virginica"\n"142",6.9,3.1,5.1,2.3,"virginica"\n"143",5.8,2.7,5.1,1.9,"virginica"\n"144",6.8,3.2,5.9,2.3,"virginica"\n"145",6.7,3.3,5.7,2.5,"virginica"\n"146",6.7,3,5.2,2.3,"virginica"\n"147",6.3,2.5,5,1.9,"virginica"\n"148",6.5,3,5.2,2,"virginica"\n"149",6.2,3.4,5.4,2.3,"virginica"\n"150",5.9,3,5.1,1.8,"virginica"\n'

In [30]:
data.split('\n')

['"","sepal_length","sepal_width","petal_length","petal_width","species"',
 '"1",5.1,3.5,1.4,0.2,"setosa"',
 '"2",4.9,3,1.4,0.2,"setosa"',
 '"3",4.7,3.2,1.3,0.2,"setosa"',
 '"4",4.6,3.1,1.5,0.2,"setosa"',
 '"5",5,3.6,1.4,0.2,"setosa"',
 '"6",5.4,3.9,1.7,0.4,"setosa"',
 '"7",4.6,3.4,1.4,0.3,"setosa"',
 '"8",5,3.4,1.5,0.2,"setosa"',
 '"9",4.4,2.9,1.4,0.2,"setosa"',
 '"10",4.9,3.1,1.5,0.1,"setosa"',
 '"11",5.4,3.7,1.5,0.2,"setosa"',
 '"12",4.8,3.4,1.6,0.2,"setosa"',
 '"13",4.8,3,1.4,0.1,"setosa"',
 '"14",4.3,3,1.1,0.1,"setosa"',
 '"15",5.8,4,1.2,0.2,"setosa"',
 '"16",5.7,4.4,1.5,0.4,"setosa"',
 '"17",5.4,3.9,1.3,0.4,"setosa"',
 '"18",5.1,3.5,1.4,0.3,"setosa"',
 '"19",5.7,3.8,1.7,0.3,"setosa"',
 '"20",5.1,3.8,1.5,0.3,"setosa"',
 '"21",5.4,3.4,1.7,0.2,"setosa"',
 '"22",5.1,3.7,1.5,0.4,"setosa"',
 '"23",4.6,3.6,1,0.2,"setosa"',
 '"24",5.1,3.3,1.7,0.5,"setosa"',
 '"25",4.8,3.4,1.9,0.2,"setosa"',
 '"26",5,3,1.6,0.2,"setosa"',
 '"27",5,3.4,1.6,0.4,"setosa"',
 '"28",5.2,3.5,1.5,0.2,"setosa"',
 '"29",5.2,3.4,1.4,0.2,"setosa"',
 '"30",4.7,3.2,1.6,0.2,"setosa"',
 '"31",4.8,3.1,1.6,0.2,"setosa"',
 '"32",5.4,3.4,1.5,0.4,"setosa"',
 '"33",5.2,4.1,1.5,0.1,"setosa"',
 '"34",5.5,4.2,1.4,0.2,"setosa"',
 '"35",4.9,3.1,1.5,0.2,"setosa"',
 '"36",5,3.2,1.2,0.2,"setosa"',
 '"37",5.5,3.5,1.3,0.2,"setosa"',
 '"38",4.9,3.6,1.4,0.1,"setosa"',
 '"39",4.4,3,1.3,0.2,"setosa"',
 '"40",5.1,3.4,1.5,0.2,"setosa"',
 '"41",5,3.5,1.3,0.3,"setosa"',
 '"42",4.5,2.3,1.3,0.3,"setosa"',
 '"43",4.4,3.2,1.3,0.2,"setosa"',
 '"44",5,3.5,1.6,0.6,"setosa"',
 '"45",5.1,3.8,1.9,0.4,"setosa"',
 '"46",4.8,3,1.4,0.3,"setosa"',
 '"47",5.1,3.8,1.6,0.2,"setosa"',
 '"48",4.6,3.2,1.4,0.2,"setosa"',
 '"49",5.3,3.7,1.5,0.2,"setosa"',
 '"50",5,3.3,1.4,0.2,"setosa"',
 '"51",7,3.2,4.7,1.4,"versicolor"',
 '"52",6.4,3.2,4.5,1.5,"versicolor"',
 '"53",6.9,3.1,4.9,1.5,"versicolor"',
 '"54",5.5,2.3,4,1.3,"versicolor"',
 '"55",6.5,2.8,4.6,1.5,"versicolor"',
 '"56",5.7,2.8,4.5,1.3,"versicolor"',
 '"57",6.3,3.3,4.7,1.6,"versicolor"',
 '"58",4.9,2.4,3.3,1,"versicolor"',
 '"59",6.6,2.9,4.6,1.3,"versicolor"',
 '"60",5.2,2.7,3.9,1.4,"versicolor"',
 '"61",5,2,3.5,1,"versicolor"',
 '"62",5.9,3,4.2,1.5,"versicolor"',
 '"63",6,2.2,4,1,"versicolor"',
 '"64",6.1,2.9,4.7,1.4,"versicolor"',
 '"65",5.6,2.9,3.6,1.3,"versicolor"',
 '"66",6.7,3.1,4.4,1.4,"versicolor"',
 '"67",5.6,3,4.5,1.5,"versicolor"',
 '"68",5.8,2.7,4.1,1,"versicolor"',
 '"69",6.2,2.2,4.5,1.5,"versicolor"',
 '"70",5.6,2.5,3.9,1.1,"versicolor"',
 '"71",5.9,3.2,4.8,1.8,"versicolor"',
 '"72",6.1,2.8,4,1.3,"versicolor"',
 '"73",6.3,2.5,4.9,1.5,"versicolor"',
 '"74",6.1,2.8,4.7,1.2,"versicolor"',
 '"75",6.4,2.9,4.3,1.3,"versicolor"',
 '"76",6.6,3,4.4,1.4,"versicolor"',
 '"77",6.8,2.8,4.8,1.4,"versicolor"',
 '"78",6.7,3,5,1.7,"versicolor"',
 '"79",6,2.9,4.5,1.5,"versicolor"',
 '"80",5.7,2.6,3.5,1,"versicolor"',
 '"81",5.5,2.4,3.8,1.1,"versicolor"',
 '"82",5.5,2.4,3.7,1,"versicolor"',
 '"83",5.8,2.7,3.9,1.2,"versicolor"',
 '"84",6,2.7,5.1,1.6,"versicolor"',
 '"85",5.4,3,4.5,1.5,"versicolor"',
 '"86",6,3.4,4.5,1.6,"versicolor"',
 '"87",6.7,3.1,4.7,1.5,"versicolor"',
 '"88",6.3,2.3,4.4,1.3,"versicolor"',
 '"89",5.6,3,4.1,1.3,"versicolor"',
 '"90",5.5,2.5,4,1.3,"versicolor"',
 '"91",5.5,2.6,4.4,1.2,"versicolor"',
 '"92",6.1,3,4.6,1.4,"versicolor"',
 '"93",5.8,2.6,4,1.2,"versicolor"',
 '"94",5,2.3,3.3,1,"versicolor"',
 '"95",5.6,2.7,4.2,1.3,"versicolor"',
 '"96",5.7,3,4.2,1.2,"versicolor"',
 '"97",5.7,2.9,4.2,1.3,"versicolor"',
 '"98",6.2,2.9,4.3,1.3,"versicolor"',
 '"99",5.1,2.5,3,1.1,"versicolor"',
 '"100",5.7,2.8,4.1,1.3,"versicolor"',
 '"101",6.3,3.3,6,2.5,"virginica"',
 '"102",5.8,2.7,5.1,1.9,"virginica"',
 '"103",7.1,3,5.9,2.1,"virginica"',
 '"104",6.3,2.9,5.6,1.8,"virginica"',
 '"105",6.5,3,5.8,2.2,"virginica"',
 '"106",7.6,3,6.6,2.1,"virginica"',
 '"107",4.9,2.5,4.5,1.7,"virginica"',
 '"108",7.3,2.9,6.3,1.8,"virginica"',
 '"109",6.7,2.5,5.8,1.8,"virginica"',
 '"110",7.2,3.6,6.1,2.5,"virginica"',
 '"111",6.5,3.2,5.1,2,"virginica"',
 '"112",6.4,2.7,5.3,1.9,"virginica"',
 '"113",6.8,3,5.5,2.1,"virginica"',
 '"114",5.7,2.5,5,2,"virginica"',
 '"115",5.8,2.8,5.1,2.4,"virginica"',
 '"116",6.4,3.2,5.3,2.3,"virginica"',
 '"117",6.5,3,5.5,1.8,"virginica"',
 '"118",7.7,3.8,6.7,2.2,"virginica"',
 '"119",7.7,2.6,6.9,2.3,"virginica"',
 '"120",6,2.2,5,1.5,"virginica"',
 '"121",6.9,3.2,5.7,2.3,"virginica"',
 '"122",5.6,2.8,4.9,2,"virginica"',
 '"123",7.7,2.8,6.7,2,"virginica"',
 '"124",6.3,2.7,4.9,1.8,"virginica"',
 '"125",6.7,3.3,5.7,2.1,"virginica"',
 '"126",7.2,3.2,6,1.8,"virginica"',
 '"127",6.2,2.8,4.8,1.8,"virginica"',
 '"128",6.1,3,4.9,1.8,"virginica"',
 '"129",6.4,2.8,5.6,2.1,"virginica"',
 '"130",7.2,3,5.8,1.6,"virginica"',
 '"131",7.4,2.8,6.1,1.9,"virginica"',
 '"132",7.9,3.8,6.4,2,"virginica"',
 '"133",6.4,2.8,5.6,2.2,"virginica"',
 '"134",6.3,2.8,5.1,1.5,"virginica"',
 '"135",6.1,2.6,5.6,1.4,"virginica"',
 '"136",7.7,3,6.1,2.3,"virginica"',
 '"137",6.3,3.4,5.6,2.4,"virginica"',
 '"138",6.4,3.1,5.5,1.8,"virginica"',
 '"139",6,3,4.8,1.8,"virginica"',
 '"140",6.9,3.1,5.4,2.1,"virginica"',
 '"141",6.7,3.1,5.6,2.4,"virginica"',
 '"142",6.9,3.1,5.1,2.3,"virginica"',
 '"143",5.8,2.7,5.1,1.9,"virginica"',
 '"144",6.8,3.2,5.9,2.3,"virginica"',
 '"145",6.7,3.3,5.7,2.5,"virginica"',
 '"146",6.7,3,5.2,2.3,"virginica"',
 '"147",6.3,2.5,5,1.9,"virginica"',
 '"148",6.5,3,5.2,2,"virginica"',
 '"149",6.2,3.4,5.4,2.3,"virginica"',
 '"150",5.9,3,5.1,1.8,"virginica"',
 '']

# DataBase connections

## ODBC

In [9]:
import pyodbc 
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                      "Server=GUYPC\SQLEXPRESS;"
                      "Database=COLLEGE;"
                      "Trusted_Connection=yes;")

In [10]:
cursor = cnxn.cursor()
cursor.execute('SELECT * FROM Departments$ WHERE DepartmentId is not null')

for row in cursor:
    print('row = %r' % (row,))

row = (1.0, 'English')
row = (2.0, 'Science')
row = (3.0, 'Arts')
row = (4.0, 'Sport')

In [11]:
cursor = cnxn.cursor()
cursor.execute('SELECT * FROM Teachers$ WHERE TeacherId is not null')

for row in cursor:
    print('row = %r' % (row,))

row = (1.0, ' Kaylea', 'Monzingo', 'F')
row = (2.0, ' Amanda', 'Dworkin', 'F')
row = (3.0, ' Jordyn', 'Baron', 'F')
row = (4.0, ' Katherine', 'Dibari', 'F')
row = (5.0, ' Heather', 'Metcalf', 'F')
row = (6.0, ' Madison', 'Batan', 'F')
row = (7.0, ' Cortnee', 'Kinderknecht', 'F')
row = (8.0, ' Caroline', 'Knuesel', 'F')
row = (9.0, ' Katerina', 'Young', 'F')
row = (10.0, ' Mackenzie', 'Olsen', 'F')
row = (11.0, ' Kaitlin', 'Delude', 'F')
row = (12.0, ' Mikayla', 'Russell', 'F')
row = (13.0, ' Alexander', 'Watts', 'M')
row = (14.0, ' Jeffrey', 'Batzel', 'M')
row = (15.0, ' Conor', 'Mckittrick', 'M')
row = (16.0, ' Robert', 'Aivazian', 'M')
row = (17.0, ' Tanner', 'Fitzsimons', 'M')
row = (18.0, ' Daniel', 'Bland', 'M')
row = (19.0, ' Terran', 'Beaty', 'M')
row = (20.0, ' Zachary', 'Healy', 'M')
row = (21.0, ' Ernest', 'Stoyanov', 'M')
row = (22.0, ' Darick', 'Hess', 'M')
row = (23.0, ' Maxwell', 'Romkee', 'M')
row = (24.0, ' Keegan', 'Price', 'M')

In [12]:
cursor = cnxn.cursor()
cursor.execute('SELECT * FROM Students$ WHERE StudentId is not null')

for row in cursor:
    print('row = %r' % (row,))

row = (162.0, ' Elmira', 'Holston', 'F')
row = (154.0, ' Sierra', 'Van Vorst', 'F')
row = (28.0, ' Mycah', 'Bingham', 'F')
row = (54.0, ' Alia', 'Jones', 'F')
row = (31.0, ' Chanda', 'Fillmore', 'F')
row = (272.0, ' Jennifer', 'Smith', 'F')
row = (266.0, ' Maria', 'Gaddis', 'F')
row = (259.0, ' Taiahbeth', 'Gerard', 'F')
row = (101.0, ' Dakota', 'Iiams', 'F')
row = (171.0, ' Emma', 'Gellatly', 'F')
row = (94.0, ' Cydney', 'Petersen', 'F')
row = (210.0, ' Breanna', 'Lightcap', 'F')
row = (76.0, ' Caitlyn', 'Austin', 'F')
row = (92.0, ' Jenny', 'Vanmeter', 'F')
row = (80.0, ' Mckenna', 'Yoswa', 'F')
row = (265.0, ' Hannah', 'Anttila', 'F')
row = (105.0, ' Hannah', 'Wilkes', 'F')
row = (196.0, ' Rebecca', 'Bruch', 'F')
row = (177.0, ' Tamara', 'Webber', 'F')
row = (141.0, ' Marissa', 'Karsten', 'F')
row = (124.0, ' Shawna', 'East', 'F')
row = (197.0, ' Abbey', 'Singley', 'F')
row = (121.0, ' Corine', 'Hitch', 'F')
row = (2.0, ' Cassie', 'Liska', 'F')
row = (225.0, ' Megan', 'Edwards', 'F')
row = (97.0, ' Amanda', 'Thomas', 'F')
row = (79.0, ' Desiree', 'Baum', 'F')
row = (190.0, ' Krista', 'Steigerwald', 'F')
row = (110.0, ' Ashleigh', 'Conder', 'F')
row = (198.0, ' Bibiana', 'Tonkin', 'F')
row = (179.0, ' Asia', 'Roberts', 'F')
row = (251.0, ' Heather', 'Williams', 'F')
row = (11.0, ' Rachael', 'Williams', 'F')
row = (42.0, ' Melissa', 'Crespin', 'F')
row = (70.0, ' Kathryn', 'Olson', 'F')
row = (36.0, ' Sarah', 'Sampson', 'F')
row = (131.0, ' Brooke', 'Stimpson', 'F')
row = (240.0, ' Katherine', 'Reid', 'F')
row = (32.0, ' Mikaela', 'Anderson', 'F')
row = (215.0, ' Sarah', 'Lodl', 'F')
row = (56.0, ' Shelby', 'Robinson', 'F')
row = (123.0, ' Kelsi', 'Taber', 'F')
row = (194.0, ' Elizabeth', 'Collins', 'F')
row = (136.0, ' Eve', 'Wells', 'F')
row = (233.0, ' Alyssa', 'Zarazua', 'F')
row = (184.0, ' Hailey', 'Nolke', 'F')
row = (181.0, ' Samantha', 'Wright', 'F')
row = (9.0, ' Madalyn', 'Miller', 'F')
row = (113.0, ' Emily', 'Derr', 'F')
row = (156.0, ' Alexis', 'Cruse', 'F')
row = (152.0, ' Savanna', 'Crochet', 'F')
row = (23.0, ' Angela', 'Palermo', 'F')
row = (3.0, ' Hayley', 'Frank', 'F')
row = (140.0, ' Kayla', 'Beard', 'F')
row = (22.0, ' Alexandrea', 'Hannafious', 'F')
row = (176.0, ' Ceanna', 'Cimino', 'F')
row = (279.0, ' Samantha', 'Berend', 'F')
row = (234.0, ' Adrianna', 'Bean', 'F')
row = (1.0, ' Alexandria', 'Heller', 'F')
row = (200.0, ' Elizabeth', 'Nelson', 'F')
row = (39.0, ' Kayli', 'May', 'F')
row = (12.0, ' Sophiya', 'Aponte', 'F')
row = (89.0, ' Megan', 'Gerber', 'F')
row = (241.0, ' Kaitlyn', 'Tuttle', 'F')
row = (230.0, ' Heather', 'Bretz', 'F')
row = (106.0, ' Alyssa', 'Cox', 'F')
row = (59.0, ' Erika', 'Schilling', 'F')
row = (187.0, ' Sabrina', 'Mcclure', 'F')
row = (270.0, ' Brooke', 'Bishop', 'F')
row = (166.0, ' Hailey', 'Landeros', 'F')
row = (211.0, ' Heather', 'Franz', 'F')
row = (274.0, ' Samantha', 'Anderson', 'F')
row = (72.0, ' Hallie', 'Lockhart', 'F')
row = (173.0, ' Natalie', 'Pridemore', 'F')
row = (157.0, ' Cheyenne', 'Shawver', 'F')
row = (170.0, ' Tarah', 'Gunnett', 'F')
row = (41.0, ' Allison', 'Otey', 'F')
row = (189.0, ' Jean', 'Brown', 'F')
row = (16.0, ' Anina', 'Meneses', 'F')
row = (20.0, ' Darby', 'Cobb', 'F')
row = (129.0, ' Emily', 'Taylor', 'F')
row = (132.0, ' Ellen', 'Einhellig', 'F')
row = (164.0, ' Laurie', 'Kelso', 'F')
row = (168.0, ' Alyssa', 'Grounds', 'F')
row = (34.0, ' Caitlin', 'Guthrie', 'F')
row = (232.0, ' Victoria', 'Kishinevsky', 'F')
row = (100.0, ' Kelsie', 'Straus', 'F')
row = (77.0, ' Brooke', 'Sandrock', 'F')
row = (116.0, ' Kara', 'Morago', 'F')
row = (52.0, ' Estell', 'Roche', 'F')
row = (91.0, ' Natalie', 'Backlund', 'F')
row = (142.0, ' Jennifer', 'Jones', 'F')
row = (145.0, ' Kaylin', 'Jonseof', 'F')
row = (275.0, ' Elise', 'Ohler', 'F')
row = (117.0, ' Charlotte', 'Krimstock', 'F')
row = (174.0, ' Anna', 'Cain', 'F')
row = (128.0, ' Caitlyn', 'Simmons', 'F')
row = (40.0, ' Kira', 'Dowswell', 'F')
row = (153.0, ' Mercede', 'Cawthorne', 'F')
row = (21.0, ' Kayla', 'Cameron', 'F')
row = (57.0, ' Erin', 'Collins', 'F')
row = (250.0, ' Robin', 'Golbus', 'F')
row = (263.0, ' Kara', 'Sedlak', 'F')
row = (84.0, ' Alyx', 'Hufford', 'F')
row = (133.0, ' Julia', 'Lamont', 'F')
row = (254.0, ' Victoria', 'Wert', 'F')
row = (120.0, ' Alissa', 'Marsh', 'F')
row = (10.0, ' Katrina', 'Miller', 'F')
row = (45.0, ' Monica', 'Craig', 'F')
row = (256.0, ' Kristina', 'Heline', 'F')
row = (119.0, ' Raeanne', 'Mcguire', 'F')
row = (134.0, ' Jenna', 'Swindler', 'F')
row = (88.0, ' Maia', 'Kassem', 'F')
row = (278.0, ' Sydney', 'Blas', 'F')
row = (86.0, ' Alyssa', 'Fabian', 'F')
row = (51.0, ' Kiana', 'Wilson', 'F')
row = (102.0, ' Mercedes', 'Coyle', 'F')
row = (25.0, ' Morgan', 'Wikowsky', 'F')
row = (243.0, ' Haley', 'Mcguire', 'F')
row = (231.0, ' Malena', 'Wofford', 'F')
row = (96.0, ' Danielle', 'Smotherman', 'F')
row = (180.0, ' Erin', 'Johnson', 'F')
row = (95.0, ' Kaily', 'Omerigic', 'F')
row = (163.0, ' Danika', 'Gordon', 'F')
row = (229.0, ' Shelby', 'Lucio', 'F')
row = (221.0, ' Tamera', 'Engel', 'F')
row = (118.0, ' Molly', 'Galasso', 'F')
row = (144.0, ' Elizabeth', 'Maliszewski', 'F')
row = (191.0, ' Sarah', 'Bencomo', 'F')
row = (209.0, ' Ashley', 'Cannon', 'F')
row = (220.0, ' Rachel', 'Halbert', 'F')
row = (182.0, ' Madison', 'Rutherford', 'F')
row = (245.0, ' Mariah', 'Fox', 'F')
row = (207.0, ' Samantha', 'Trice', 'F')
row = (175.0, ' Macey', 'Wilson', 'F')
row = (114.0, ' Nichole', 'Fisher', 'F')
row = (247.0, ' Michaela', 'Anderson', 'F')
row = (271.0, ' Mckayla', 'Greaser', 'F')
row = (104.0, ' Jaquelyn', 'Borcic', 'F')
row = (208.0, ' Alicia', 'Schlichting', 'F')
row = (126.0, ' Jane', 'Breidt', 'F')
row = (202.0, ' Autumn', 'Major', 'F')
row = (260.0, ' Samantha', 'Untiedt', 'F')
row = (224.0, ' Becka', 'Kitchen', 'F')
row = (147.0, ' Melissa', 'Harman', 'F')
row = (7.0, ' Katrina', 'Evers', 'F')
row = (65.0, ' Julieann', 'Walker', 'F')
row = (199.0, ' Ashton', 'Dixon', 'F')
row = (14.0, ' Rossi', 'Panelli', 'F')
row = (69.0, ' Kaitlyn', 'Brown', 'F')
row = (85.0, ' Alyssa', 'Thornton', 'F')
row = (183.0, ' Ashley', 'Walkey', 'F')
row = (15.0, ' Catherine', 'Sturgeon', 'F')
row = (6.0, ' Chelsea', 'Vuolo', 'F')
row = (268.0, ' Lauren', 'Salazar', 'F')
row = (219.0, ' Ashley', 'Beziou', 'F')
row = (252.0, ' Kori', 'Roper', 'F')
row = (267.0, ' Catherine', 'Lemme', 'F')
row = (150.0, ' Emily', 'Beach', 'F')
row = (226.0, ' Kalyn', 'Schroeder', 'F')
row = (214.0, ' Katelyn', 'Miller', 'F')
row = (67.0, ' Valerie', 'Dyer', 'F')
row = (206.0, ' Rachel', 'Westcott', 'F')
row = (24.0, ' Sarah', 'Reilly-Vessey', 'F')
row = (146.0, ' Brighid', 'Hoenig', 'F')
row = (122.0, ' Fisher', 'Harper', 'M')
row = (258.0, ' Christian', 'Boucher', 'M')
row = (195.0, ' Zachary', 'Yeager', 'M')
row = (35.0, ' Wolfgang', 'Sinski', 'M')
row = (18.0, ' Austin', 'Power', 'M')
row = (127.0, ' Andrew', 'Holiday', 'M')
row = (149.0, ' Alec', 'Miller', 'M')
row = (37.0, ' Trevor', 'Cook', 'M')
row = (165.0, ' Austin', 'Norris', 'M')
row = (5.0, ' Dylan', 'Boehm', 'M')
row = (185.0, ' Christopher', 'Patzoldt', 'M')
row = (66.0, ' Bryce', 'Unger', 'M')
row = (151.0, ' Eric', 'Haggard', 'M')
row = (169.0, ' Patrick', 'Hinds', 'M')
row = (148.0, ' Cody', 'Malacarne', 'M')
row = (158.0, ' Mitchell', 'Fellhauer', 'M')
row = (75.0, ' Samuel', 'Sellers', 'M')
row = (244.0, ' Kyle', 'Albarelle', 'M')
row = (30.0, ' Kyle', 'Nibbelink', 'M')
row = (227.0, ' Shepherd', 'Gillham', 'M')
row = (238.0, ' Jesse', 'Williamson', 'M')
row = (255.0, ' Derrick', 'Mayberry', 'M')
row = (280.0, ' Matthew', 'Mcgrath', 'M')
row = (107.0, ' Gordon', 'Martensen', 'M')
row = (277.0, ' Bryan', 'Medina', 'M')
row = (249.0, ' Benjamin', 'Schott', 'M')
row = (82.0, ' Andrew', 'Porter', 'M')
row = (49.0, ' Kyle', 'Bartels', 'M')
row = (130.0, ' Cory', 'Packard', 'M')
row = (192.0, ' Gunnar', 'Abdulbaki', 'M')
row = (33.0, ' Chance', 'Bittle', 'M')
row = (186.0, ' Shaun', 'Krasovic', 'M')
row = (217.0, ' Samuel', 'Pohlman', 'M')
row = (276.0, ' Dylan', 'Bannister', 'M')
row = (74.0, ' Wyatt', 'Maus', 'M')
row = (115.0, ' Justin', 'Greenhalge', 'M')
row = (213.0, ' Clifford', 'Coon', 'M')
row = (17.0, ' Cody', 'Dawkins', 'M')
row = (235.0, ' Justin', 'Sauerland', 'M')
row = (253.0, ' Ruben', 'Mosher', 'M')
row = (60.0, ' Zachary', 'Storey', 'M')
row = (112.0, ' Dallas', 'Moyer', 'M')
row = (212.0, ' Liam', 'Degenhardt', 'M')
row = (242.0, ' Alex', 'Mandel', 'M')
row = (160.0, ' Tyler', 'Menard', 'M')
row = (53.0, ' Chase', 'Thorstensen', 'M')
row = (264.0, ' Mitchell', 'Fiore', 'M')
row = (87.0, ' David', 'Heffron', 'M')
row = (178.0, ' Kevin', 'Roman', 'M')
row = (58.0, ' Christopher', 'Buckley', 'M')
row = (111.0, ' Robert', 'Adams', 'M')
row = (125.0, ' Kevin', 'Shumate', 'M')
row = (26.0, ' Kyle', 'Shepler', 'M')
row = (43.0, ' Zachary', 'Haney', 'M')
row = (273.0, ' Kenneth', 'Lemmon', 'M')
row = (155.0, ' Erik', 'Strong', 'M')
row = (138.0, ' Aaron', 'Dejoy', 'M')
row = (78.0, ' Bryan', 'Haining', 'M')
row = (193.0, ' Mason', 'Batchler', 'M')
row = (109.0, ' Austin', 'Mottaghi', 'M')
row = (61.0, ' Cory', 'Seabolt', 'M')
row = (99.0, ' Jesse', 'Blacklock', 'M')
row = (172.0, ' Matthew', 'Dougan', 'M')
row = (27.0, ' Shawn', 'Foster', 'M')
row = (203.0, ' Trenton', 'Goter', 'M')
row = (261.0, ' Jordan', 'Tapp', 'M')
row = (83.0, ' Adam', 'Stubblefield', 'M')
row = (205.0, ' Austin', 'Jones', 'M')
row = (68.0, ' Nicholas', 'Mckinney', 'M')
row = (48.0, ' Kristian', 'Wombaker', 'M')
row = (19.0, ' Devin', 'Tolstykh', 'M')
row = (4.0, ' Maxwell', 'Kotch', 'M')
row = (139.0, ' Damion', 'Holladay', 'M')
row = (222.0, ' Courtney', 'Shannahan', 'M')
row = (81.0, ' Carter', 'Stasinos', 'M')
row = (161.0, ' Cullen', 'Brewton', 'M')
row = (103.0, ' Elias', 'Scharnikow', 'M')
row = (98.0, ' Cody', 'Negley', 'M')
row = (262.0, ' Luke', 'Van Cleave', 'M')
row = (13.0, ' Elijah', 'Hogan', 'M')
row = (143.0, ' Joshua', 'Spatafora', 'M')
row = (159.0, ' Tyler', 'Helmuth', 'M')
row = (8.0, ' Sean', 'Hasenack', 'M')
row = (237.0, ' Joshua', 'Noel', 'M')
row = (201.0, ' Levi', 'Mcpeak', 'M')
row = (62.0, ' Cody', 'Chermak', 'M')
row = (44.0, ' Edward', 'Swendson', 'M')
row = (47.0, ' Keenan', 'Willy', 'M')
row = (93.0, ' Dylan', 'Hartwig', 'M')
row = (188.0, ' Brandon', 'Volk', 'M')
row = (50.0, ' Zacary', 'Story', 'M')
row = (137.0, ' Jerod', 'Ross', 'M')
row = (257.0, ' Nicholas', 'Roth', 'M')
row = (239.0, ' Evan', 'Fossett', 'M')
row = (63.0, ' Francis', 'Hupp', 'M')
row = (64.0, ' Noah', 'Berzina', 'M')
row = (223.0, ' Edward', 'Doniger', 'M')
row = (204.0, ' Luke', 'Taylor', 'M')
row = (216.0, ' Ryan', 'Weinstein', 'M')
row = (167.0, ' Jameson', 'Kinmartin', 'M')
row = (38.0, ' Dustin', 'Mccarthy', 'M')
row = (29.0, ' Chance', 'Mcdonough', 'M')
row = (71.0, ' William', 'Listy', 'M')
row = (236.0, ' Skylar', 'Blake', 'M')
row = (90.0, ' Harrison', 'Olkowski', 'M')
row = (248.0, ' Wyatt', 'Yeros', 'M')
row = (108.0, ' Kevin', 'Clifton', 'M')
row = (46.0, ' Clayton', 'Rehm', 'M')
row = (73.0, ' Eric', 'Abeyta', 'M')
row = (135.0, ' Daniel', 'Thelen-Wade', 'M')
row = (246.0, ' Preston', 'Sprouse', 'M')
row = (55.0, ' Dmitriy', 'Gage', 'M')
row = (218.0, ' Skyler', 'Norris', 'M')
row = (269.0, ' Tyler', 'Raymond', 'M')
row = (228.0, ' Dylan', 'Davis', 'M')

In [13]:
cursor = cnxn.cursor()
cursor.execute('SELECT * FROM Courses$ WHERE CourseId is not null')

for row in cursor:
    print('row = %r' % (row,))

row = (1.0, 'English Begginers', 1.0, 15.0)
row = (2.0, 'Advanced English', 1.0, 15.0)
row = (3.0, 'Proffesional English', 1.0, 15.0)
row = (4.0, 'Mathematics 101', 2.0, 2.0)
row = (5.0, 'Matematics Advanced', 2.0, 13.0)
row = (6.0, 'Algebra', 2.0, 13.0)
row = (7.0, 'Geometry', 2.0, 13.0)
row = (8.0, 'Chemistry', 2.0, 14.0)
row = (9.0, 'Physics', 2.0, 13.0)
row = (10.0, 'Biology', 2.0, 3.0)
row = (11.0, 'Genetics', 2.0, 19.0)
row = (12.0, 'Neurobiology', 2.0, 19.0)
row = (13.0, 'Statistics', 2.0, 5.0)
row = (14.0, 'Computer Science', 2.0, 1.0)
row = (15.0, 'Data Science', 2.0, 10.0)
row = (16.0, 'SQL', 2.0, 20.0)
row = (17.0, 'Python', 2.0, 19.0)
row = (18.0, 'R', 2.0, 17.0)
row = (19.0, 'Java', 2.0, 22.0)
row = (20.0, 'History of Arts', 3.0, 8.0)
row = (21.0, 'Painting', 3.0, 9.0)
row = (22.0, 'Sculpture', 3.0, 16.0)
row = (23.0, 'Musicology', 3.0, 6.0)
row = (24.0, 'Theater', 3.0, 21.0)
row = (25.0, 'Literature', 3.0, 18.0)
row = (26.0, 'Basketball', 4.0, 4.0)
row = (27.0, 'Volleyball', 4.0, 11.0)
row = (28.0, 'Football', 4.0, 7.0)
row = (29.0, 'Tenis', 4.0, 24.0)
row = (30.0, 'Swimming', 4.0, 12.0)
row = (31.0, 'Gymnastics', 4.0, 23.0)

In [14]:
cursor = cnxn.cursor()
cursor.execute('SELECT * FROM Classrooms$ WHERE StudentId is not null')

for row in cursor:
    print('row = %r' % (row,))

row = (1.0, 202.0, 92.03107017152607)
row = (1.0, 12.0, 81.17591618963378)
row = (1.0, 232.0, 82.39658665795811)
row = (1.0, 123.0, 62.42044865624285)
row = (1.0, 274.0, 72.56990008071197)
row = (1.0, 150.0, 79.51124054883148)
row = (1.0, 161.0, 65.43802491984569)
row = (1.0, 39.0, 100.0)
row = (1.0, 251.0, 80.60335163594269)
row = (1.0, 30.0, 75.84617140547718)
row = (1.0, 191.0, 66.91044898275148)
row = (1.0, 253.0, 93.97991805342329)
row = (1.0, 235.0, 77.25631352449273)
row = (1.0, 46.0, 70.25909827202763)
row = (1.0, 4.0, 70.92980072873775)
row = (1.0, 151.0, 82.74855357274458)
row = (1.0, 187.0, 84.39656535874278)
row = (1.0, 18.0, 82.55218071810954)
row = (1.0, 3.0, 83.97224533147684)
row = (1.0, 157.0, 64.48953720216306)
row = (1.0, 42.0, 72.04824317912905)
row = (1.0, 231.0, 81.60827434780589)
row = (1.0, 107.0, 73.63925522152304)
row = (1.0, 69.0, 99.01451540117729)
row = (1.0, 104.0, 74.03952370884738)
row = (1.0, 87.0, 82.37332999463244)
row = (1.0, 160.0, 70.04406019288744)
row = (1.0, 111.0, 76.95619204878192)
row = (1.0, 196.0, 90.65603272845475)
row = (1.0, 171.0, 78.34485440064675)
row = (1.0, 275.0, 71.61745075155127)
row = (1.0, 22.0, 89.62678240214794)
row = (2.0, 45.0, 84.4295690011879)
row = (2.0, 239.0, 87.35948196417169)
row = (2.0, 61.0, 75.16060390144463)
row = (2.0, 156.0, 66.0227445547411)
row = (2.0, 135.0, 87.92356645779363)
row = (2.0, 267.0, 80.61282032600218)
row = (2.0, 40.0, 70.38013521457411)
row = (2.0, 169.0, 81.9620157864212)
row = (2.0, 191.0, 76.30086029425769)
row = (2.0, 63.0, 86.73190764237847)
row = (2.0, 206.0, 88.53569924440737)
row = (2.0, 26.0, 96.49319084955096)
row = (2.0, 34.0, 76.12764561466133)
row = (2.0, 94.0, 76.79176496465936)
row = (2.0, 227.0, 73.16304151128134)
row = (2.0, 164.0, 83.61717307825035)
row = (2.0, 109.0, 77.54216021434038)
row = (2.0, 110.0, 81.01502286121861)
row = (2.0, 12.0, 85.11564226262534)
row = (2.0, 197.0, 80.19949998620643)
row = (2.0, 86.0, 74.38893284764106)
row = (2.0, 68.0, 86.62812122397892)
row = (2.0, 43.0, 73.33201223775171)
row = (2.0, 222.0, 57.87601754275239)
row = (3.0, 251.0, 80.32482128189385)
row = (3.0, 185.0, 98.02941627639498)
row = (3.0, 64.0, 82.64761692855308)
row = (3.0, 237.0, 77.24736331530738)
row = (3.0, 167.0, 70.30277468117725)
row = (3.0, 8.0, 89.07397152891932)
row = (3.0, 82.0, 77.50823715373582)
row = (3.0, 127.0, 74.68046574438945)
row = (3.0, 74.0, 93.6219572173902)
row = (3.0, 208.0, 78.5680319077985)
row = (3.0, 204.0, 83.49249223314828)
row = (3.0, 114.0, 78.08496668698152)
row = (3.0, 222.0, 81.93696347029696)
row = (3.0, 160.0, 78.34908242248683)
row = (3.0, 195.0, 77.17141927543646)
row = (3.0, 60.0, 81.8908468936032)
row = (3.0, 101.0, 76.1795123104355)
row = (3.0, 223.0, 64.20389783473705)
row = (3.0, 97.0, 54.835800306443076)
row = (3.0, 26.0, 82.74085625032971)
row = (3.0, 146.0, 84.78509939252969)
row = (3.0, 28.0, 85.84269552490628)
row = (3.0, 109.0, 81.61398094930956)
row = (3.0, 263.0, 76.47872619354311)
row = (3.0, 45.0, 72.94142951235403)
row = (3.0, 94.0, 70.8522903107543)
row = (3.0, 233.0, 66.90944342392527)
row = (3.0, 129.0, 85.85163553689168)
row = (3.0, 234.0, 81.0633733873502)
row = (3.0, 258.0, 84.37607275618673)
row = (3.0, 51.0, 65.85501817910558)
row = (3.0, 168.0, 73.22527370956246)
row = (3.0, 192.0, 74.88285176859736)
row = (3.0, 42.0, 72.22562922438996)
row = (3.0, 189.0, 74.16352795350295)
row = (3.0, 132.0, 78.77515151751655)
row = (3.0, 100.0, 76.1623603490115)
row = (3.0, 149.0, 73.69163634499401)
row = (4.0, 140.0, 86.23260336828186)
row = (4.0, 63.0, 78.3305076327851)
row = (4.0, 254.0, 75.88497447539332)
row = (4.0, 51.0, 75.15758454699984)
row = (4.0, 37.0, 80.33117757346344)
row = (4.0, 92.0, 71.77901413631834)
row = (4.0, 187.0, 77.22618098951176)
row = (4.0, 53.0, 76.37771317336502)
row = (4.0, 86.0, 75.39478101509864)
row = (4.0, 111.0, 62.163843607777565)
row = (4.0, 168.0, 88.95557807706905)
row = (4.0, 222.0, 69.84170998300215)
row = (4.0, 84.0, 84.34171012736061)
row = (4.0, 196.0, 71.54299536691025)
row = (4.0, 202.0, 73.38732836973779)
row = (4.0, 17.0, 82.8531613888994)
row = (4.0, 252.0, 83.65392683932173)
row = (4.0, 273.0, 70.74306182384986)
row = (5.0, 222.0, 59.13010896510114)
row = (5.0, 20.0, 80.59359074086152)
row = (5.0, 53.0, 79.46823198172088)
row = (5.0, 227.0, 63.77413773438752)
row = (5.0, 275.0, 88.28336147260741)
row = (5.0, 83.0, 89.16463113208027)
row = (5.0, 60.0, 83.04907333325686)
row = (5.0, 38.0, 64.10374720138978)
row = (5.0, 237.0, 68.73700779501777)
row = (5.0, 34.0, 69.06573763482531)
row = (6.0, 154.0, 84.13736736373461)
row = (6.0, 11.0, 75.63405649739687)
row = (6.0, 46.0, 76.2968431227003)
row = (6.0, 153.0, 93.47765177921899)
row = (6.0, 229.0, 85.98634064254962)
row = (6.0, 28.0, 62.86841143804037)
row = (6.0, 65.0, 80.47106729951821)
row = (6.0, 63.0, 68.66635685204014)
row = (6.0, 207.0, 83.81873258264163)
row = (6.0, 3.0, 76.29839419961273)
row = (6.0, 258.0, 84.21607904277622)
row = (6.0, 161.0, 86.85194010369645)
row = (7.0, 104.0, 73.95389008201553)
row = (7.0, 65.0, 72.74605742701958)
row = (7.0, 28.0, 83.45896154816471)
row = (7.0, 226.0, 70.15210562157195)
row = (7.0, 66.0, 62.318615723374805)
row = (7.0, 198.0, 69.77740985465745)
row = (7.0, 130.0, 66.72033759441429)
row = (7.0, 28.0, 70.4607614807243)
row = (7.0, 134.0, 67.38885941102983)
row = (7.0, 26.0, 90.83396996978541)
row = (7.0, 246.0, 87.27345300836407)
row = (7.0, 127.0, 71.17350322976328)
row = (7.0, 270.0, 83.38343234029253)
row = (7.0, 79.0, 80.55041857814112)
row = (8.0, 7.0, 82.94265507938965)
row = (8.0, 144.0, 84.28020979076186)
row = (8.0, 186.0, 77.20043526249967)
row = (8.0, 202.0, 83.56393200222496)
row = (8.0, 66.0, 83.99463253002126)
row = (8.0, 255.0, 74.42686151573193)
row = (8.0, 110.0, 81.60645237688041)
row = (8.0, 187.0, 78.93098059613696)
row = (8.0, 162.0, 65.98705034989487)
row = (8.0, 191.0, 88.54454134764197)
row = (8.0, 128.0, 80.50841300590407)
row = (8.0, 36.0, 80.3049658785417)
row = (8.0, 263.0, 61.90314601048743)
row = (8.0, 19.0, 78.17423870854556)
row = (8.0, 62.0, 70.2017014681065)
row = (8.0, 161.0, 66.26152918953704)
row = (8.0, 153.0, 78.94117590690442)
row = (8.0, 234.0, 66.92171027446406)
row = (8.0, 174.0, 70.60112544040183)
row = (8.0, 114.0, 70.34761984498633)
row = (8.0, 213.0, 79.81693934338915)
row = (8.0, 117.0, 72.8782762260942)
row = (8.0, 61.0, 80.83236015650715)
row = (8.0, 191.0, 82.54040203713639)
row = (9.0, 253.0, 69.30828429699781)
row = (9.0, 176.0, 59.79572102623504)
row = (9.0, 39.0, 82.05393314422176)
row = (9.0, 99.0, 75.7787840393158)
row = (9.0, 140.0, 76.45158707347359)
row = (9.0, 147.0, 73.26069808302181)
row = (9.0, 203.0, 68.31184531495731)
row = (9.0, 15.0, 79.51171487557637)
row = (9.0, 100.0, 73.26727394624913)
row = (9.0, 75.0, 73.64875165036695)
row = (9.0, 30.0, 80.74306972609268)
row = (9.0, 276.0, 65.65436086896943)
row = (10.0, 233.0, 82.63793266885936)
row = (10.0, 161.0, 60.17529727117705)
row = (10.0, 5.0, 100.0)
row = (10.0, 102.0, 77.69529567108042)
row = (10.0, 59.0, 78.64376635019921)
row = (10.0, 45.0, 85.731745513607)
row = (10.0, 182.0, 80.88912508569372)
row = (10.0, 76.0, 87.40931806243876)
row = (10.0, 128.0, 82.39658334517105)
row = (10.0, 118.0, 77.92917562892735)
row = (10.0, 257.0, 85.97288152548974)
row = (10.0, 258.0, 96.67974291337676)
row = (10.0, 239.0, 72.20446186351506)
row = (10.0, 175.0, 87.64983028427459)
row = (10.0, 90.0, 78.4498375824568)
row = (10.0, 277.0, 76.98531177295332)
row = (10.0, 208.0, 81.45460405234218)
row = (10.0, 99.0, 79.26927930385311)
row = (10.0, 57.0, 76.12379464226589)
row = (10.0, 60.0, 77.13873023604204)
row = (10.0, 278.0, 72.5780169647495)
row = (10.0, 13.0, 65.11722635747508)
row = (10.0, 138.0, 57.978006570988946)
row = (10.0, 68.0, 85.57340940191719)
row = (10.0, 83.0, 74.62070029398049)
row = (10.0, 1.0, 86.41991416619473)
row = (10.0, 188.0, 89.12348842364632)
row = (10.0, 75.0, 73.46541304071006)
row = (10.0, 214.0, 74.9118067292947)
row = (10.0, 146.0, 75.88492520049014)
row = (10.0, 260.0, 77.16104581354298)
row = (10.0, 9.0, 87.717236782466)
row = (10.0, 224.0, 91.41412585058525)
row = (10.0, 109.0, 80.80688184026081)
row = (10.0, 42.0, 90.0026637408104)
row = (10.0, 66.0, 98.05019297704656)
row = (11.0, 2.0, 73.05046201284014)
row = (11.0, 1.0, 79.38112464633878)
row = (11.0, 185.0, 78.75384109016616)
row = (11.0, 267.0, 85.06028284485478)
row = (11.0, 70.0, 88.2457328649661)
row = (11.0, 96.0, 93.67115656592739)
row = (11.0, 221.0, 87.74938782787471)
row = (11.0, 86.0, 81.64979556902966)
row = (11.0, 61.0, 94.28176995850399)
row = (11.0, 21.0, 71.94353315452967)
row = (11.0, 163.0, 87.12689325533054)
row = (11.0, 192.0, 81.58895970023339)
row = (11.0, 74.0, 88.93359661865446)
row = (11.0, 209.0, 79.0147990166437)
row = (11.0, 201.0, 73.67352233475012)
row = (11.0, 56.0, 94.41972713830258)
row = (11.0, 29.0, 86.98871469436452)
row = (11.0, 252.0, 84.48539081748856)
row = (11.0, 49.0, 64.68605226080395)
row = (11.0, 131.0, 75.61064297434815)
row = (11.0, 171.0, 75.72107416412635)
row = (11.0, 190.0, 96.89657880663738)
row = (11.0, 59.0, 84.87085878698744)
row = (11.0, 224.0, 73.37953712002458)
row = (11.0, 195.0, 69.381922798875)
row = (11.0, 226.0, 67.15948502046264)
row = (11.0, 128.0, 90.25882705505475)
row = (11.0, 185.0, 80.6620799150347)
row = (11.0, 220.0, 82.16002688230952)
row = (11.0, 89.0, 83.07272369392916)
row = (11.0, 20.0, 96.48737734733339)
row = (11.0, 69.0, 71.15859696145091)
row = (11.0, 16.0, 85.20111807701544)
row = (11.0, 18.0, 84.38098824590435)
row = (11.0, 135.0, 49.2365444139225)
row = (11.0, 51.0, 62.95364662890612)
row = (11.0, 251.0, 79.4068169586331)
row = (11.0, 172.0, 75.64085092930874)
row = (12.0, 265.0, 75.8706711268327)
row = (12.0, 27.0, 69.99376029959268)
row = (12.0, 6.0, 74.35853457109695)
row = (12.0, 277.0, 77.54129979770438)
row = (12.0, 255.0, 79.74981706337233)
row = (12.0, 249.0, 81.8877257116373)
row = (12.0, 124.0, 90.55684067080709)
row = (12.0, 102.0, 76.87817968552547)
row = (12.0, 213.0, 88.12235264346461)
row = (12.0, 280.0, 72.30325787034249)
row = (12.0, 134.0, 78.83450886381343)
row = (12.0, 239.0, 75.13229508708869)
row = (12.0, 4.0, 74.15706568006738)
row = (12.0, 201.0, 80.58304966751007)
row = (12.0, 146.0, 67.37047976538297)
row = (12.0, 18.0, 83.22389253286569)
row = (12.0, 72.0, 75.60236279758324)
row = (12.0, 80.0, 75.05795820080642)
row = (12.0, 223.0, 68.25539535349499)
row = (12.0, 77.0, 79.19894421184786)
row = (12.0, 269.0, 67.85692905000003)
row = (12.0, 115.0, 78.80000562212743)
row = (12.0, 7.0, 78.86970765317751)
row = (12.0, 10.0, 74.314803229952)
row = (13.0, 280.0, 79.08989388821239)
row = (13.0, 207.0, 82.72543370801)
row = (13.0, 226.0, 69.99929234293847)
row = (13.0, 214.0, 70.10427485278744)
row = (13.0, 257.0, 83.19245833513982)
row = (13.0, 54.0, 86.51280998368108)
row = (13.0, 91.0, 77.34470146750154)
row = (13.0, 36.0, 96.57211407334994)
row = (13.0, 3.0, 76.11045989128927)
row = (13.0, 277.0, 79.80768077027176)
row = (13.0, 69.0, 90.66395237117267)
row = (13.0, 48.0, 83.52411961200761)
row = (13.0, 268.0, 78.43190801701591)
row = (13.0, 221.0, 76.14464348584673)
row = (13.0, 155.0, 90.38619153082092)
row = (13.0, 216.0, 78.21440318146426)
row = (13.0, 21.0, 72.6378182172145)
row = (13.0, 265.0, 82.63456841939885)
row = (13.0, 134.0, 84.55497226170039)
row = (13.0, 152.0, 73.78955545438642)
row = (13.0, 175.0, 81.6867785342354)
row = (13.0, 192.0, 82.33555034025412)
row = (13.0, 17.0, 81.65502443153007)
row = (13.0, 252.0, 72.44720192336854)
row = (14.0, 257.0, 90.37070298006324)
row = (14.0, 183.0, 71.0487474616922)
row = (14.0, 72.0, 84.95636650916728)
row = (14.0, 186.0, 80.74918928690143)
row = (14.0, 249.0, 69.36852866001662)
row = (14.0, 8.0, 79.30419993120725)
row = (14.0, 207.0, 92.98613756713453)
row = (14.0, 87.0, 91.31396745540013)
row = (14.0, 172.0, 81.41158465491147)
row = (14.0, 12.0, 61.48908491259216)
row = (14.0, 170.0, 86.7950127001094)
row = (14.0, 120.0, 79.64785519837766)
row = (14.0, 167.0, 98.95482918869982)
row = (14.0, 188.0, 61.69895371898027)
row = (14.0, 174.0, 78.06935987636801)
row = (14.0, 152.0, 84.63388089510093)
row = (14.0, 16.0, 79.338333701798)
row = (14.0, 26.0, 81.9513156389609)
row = (14.0, 151.0, 87.75330331988623)
row = (14.0, 48.0, 85.25272240263953)
row = (14.0, 237.0, 78.54547286412668)
row = (14.0, 116.0, 87.14861206080342)
row = (14.0, 223.0, 76.14791941925091)
row = (14.0, 28.0, 85.47056631974777)
row = (14.0, 212.0, 62.552453128366636)
row = (14.0, 191.0, 71.74084512123115)
row = (14.0, 121.0, 79.37526677077058)
row = (14.0, 112.0, 74.89916111524055)
row = (14.0, 86.0, 87.24959500159021)
row = (14.0, 216.0, 83.38160413854608)
row = (14.0, 109.0, 75.87794839840379)
row = (14.0, 226.0, 75.42423776427891)
row = (14.0, 68.0, 60.63488041526387)
row = (14.0, 267.0, 85.85547021042154)
row = (14.0, 19.0, 83.84981639168328)
row = (14.0, 127.0, 75.79178592274691)
row = (14.0, 196.0, 70.33797089458184)
row = (14.0, 45.0, 74.51270657082222)
row = (15.0, 277.0, 90.8610565389186)
row = (15.0, 193.0, 68.50069551217494)
row = (15.0, 27.0, 80.77893093367122)
row = (15.0, 236.0, 97.90365601691141)
row = (15.0, 68.0, 67.70342902855751)
row = (15.0, 93.0, 65.18374982821035)
row = (15.0, 24.0, 83.08292265590212)
row = (15.0, 9.0, 85.88842351024539)
row = (15.0, 263.0, 87.78288588098745)
row = (15.0, 150.0, 84.72141158401291)
row = (15.0, 180.0, 71.68934689829214)
row = (15.0, 238.0, 79.80760168846861)
row = (15.0, 103.0, 77.8750776644477)
row = (15.0, 216.0, 73.623155590695)
row = (15.0, 188.0, 85.56465191204197)
row = (15.0, 273.0, 80.55201365884425)
row = (15.0, 126.0, 68.29098768900798)
row = (15.0, 249.0, 82.8633784313169)
row = (15.0, 213.0, 78.51813074126711)
row = (15.0, 248.0, 76.75117226567474)
row = (15.0, 182.0, 75.8738917799722)
row = (15.0, 174.0, 92.49806045006257)
row = (15.0, 276.0, 76.26911481644984)
row = (15.0, 46.0, 80.31992478772229)
row = (15.0, 148.0, 69.34507262252927)
row = (15.0, 7.0, 64.34444712496095)
row = (15.0, 76.0, 90.0844467372256)
row = (15.0, 38.0, 71.40287280958647)
row = (15.0, 1.0, 72.87148666596647)
row = (15.0, 102.0, 70.54843788443875)
row = (16.0, 7.0, 67.14438154612876)
row = (16.0, 143.0, 88.91214961508675)
row = (16.0, 194.0, 78.61738558554222)
row = (16.0, 172.0, 71.91733242472648)
row = (16.0, 226.0, 77.48089039596437)
row = (16.0, 29.0, 77.92125473003237)
row = (16.0, 181.0, 87.33937181690392)
row = (16.0, 76.0, 74.14100139163365)
row = (16.0, 59.0, 82.52008837749831)
row = (16.0, 276.0, 88.43073013543116)
row = (16.0, 206.0, 73.78157289760962)
row = (16.0, 81.0, 63.20377035671445)
row = (16.0, 50.0, 88.76030443819783)
row = (16.0, 100.0, 57.40375588529341)
row = (16.0, 119.0, 87.13808345955493)
row = (16.0, 28.0, 78.30579789693856)
row = (16.0, 225.0, 85.26839657930145)
row = (16.0, 10.0, 82.97063648312015)
row = (16.0, 249.0, 91.91230324841041)
row = (16.0, 219.0, 67.07691791965607)
row = (16.0, 221.0, 84.32760855018705)
row = (16.0, 267.0, 79.09989658525119)
row = (16.0, 86.0, 90.54308329323875)
row = (16.0, 201.0, 80.56408395821747)
row = (17.0, 208.0, 81.21998085618766)
row = (17.0, 56.0, 69.06335059533448)
row = (17.0, 176.0, 92.30238477927583)
row = (17.0, 123.0, 65.55404880181291)
row = (17.0, 177.0, 58.17668634908466)
row = (17.0, 109.0, 75.29920781658836)
row = (17.0, 137.0, 75.14607350577486)
row = (17.0, 46.0, 71.7273582205674)
row = (17.0, 252.0, 68.59346510893369)
row = (17.0, 59.0, 83.3389805126872)
row = (17.0, 222.0, 81.25280379416851)
row = (17.0, 248.0, 76.64649371621977)
row = (17.0, 270.0, 80.9932394445453)
row = (17.0, 90.0, 82.01118498165235)
row = (17.0, 229.0, 94.3489083365221)
row = (17.0, 94.0, 72.46132956373205)
row = (17.0, 190.0, 92.6236723427361)
row = (17.0, 217.0, 68.1440335211314)
row = (17.0, 87.0, 71.6957022493839)
row = (17.0, 59.0, 84.54112107686863)
row = (17.0, 120.0, 75.17652386074654)
row = (17.0, 138.0, 69.14803258720042)
row = (17.0, 27.0, 76.00887872594895)
row = (17.0, 180.0, 82.27348442935312)
row = (18.0, 175.0, 84.54347606813425)
row = (18.0, 202.0, 66.10984901592987)
row = (18.0, 265.0, 73.9934177737103)
row = (18.0, 203.0, 83.55450050571314)
row = (18.0, 271.0, 85.88629735543606)
row = (18.0, 240.0, 64.98990252999741)
row = (18.0, 257.0, 86.30662072784999)
row = (18.0, 90.0, 72.78232432810708)
row = (18.0, 63.0, 72.80288631015647)
row = (18.0, 263.0, 82.2124284557809)
row = (18.0, 73.0, 75.9191860186583)
row = (18.0, 168.0, 80.49723498645919)
row = (18.0, 30.0, 96.87989385033327)
row = (18.0, 234.0, 83.07172828641683)
row = (18.0, 163.0, 74.0221541897902)
row = (18.0, 136.0, 89.06064103931253)
row = (18.0, 143.0, 75.50481354477526)
row = (18.0, 273.0, 68.70771774908192)
row = (18.0, 17.0, 68.32415303401065)
row = (18.0, 2.0, 82.39420207476468)
row = (18.0, 42.0, 77.07410602877145)
row = (18.0, 124.0, 65.09845405866578)
row = (18.0, 73.0, 84.93724627354152)
row = (18.0, 275.0, 73.5116296996479)
row = (18.0, 269.0, 93.61588151208404)
row = (18.0, 187.0, 86.30744801583683)
row = (18.0, 198.0, 69.75818024754587)
row = (18.0, 15.0, 79.48436756452881)
row = (18.0, 111.0, 59.13152404407184)
row = (18.0, 154.0, 81.04801948586162)
row = (18.0, 151.0, 80.47208127669965)
row = (18.0, 153.0, 94.37407509523234)
row = (18.0, 119.0, 82.37016519559997)
row = (18.0, 227.0, 72.32882465185796)
row = (19.0, 250.0, 84.06554933316778)
row = (19.0, 272.0, 89.66311624278234)
row = (19.0, 2.0, 81.15668095944037)
row = (19.0, 199.0, 86.34904392139848)
row = (19.0, 247.0, 82.39237490515829)
row = (19.0, 229.0, 80.4803338428332)
row = (19.0, 121.0, 84.19630259744473)
row = (19.0, 104.0, 81.26601600200522)
row = (19.0, 253.0, 99.40265467344592)
row = (19.0, 156.0, 71.43289303982367)
row = (19.0, 29.0, 78.44535098367496)
row = (19.0, 66.0, 68.46333258005498)
row = (19.0, 255.0, 80.16153872624871)
row = (19.0, 129.0, 71.31436841305377)
row = (19.0, 167.0, 70.2807879878643)
row = (19.0, 186.0, 93.8529100281855)
row = (20.0, 162.0, 79.47627072473809)
row = (20.0, 240.0, 70.84230827009053)
row = (20.0, 91.0, 65.65016211592139)
row = (20.0, 192.0, 69.79027795318544)
row = (20.0, 258.0, 80.37715031090174)
row = (20.0, 21.0, 84.2026805991276)
row = (20.0, 5.0, 64.49484492878268)
row = (20.0, 27.0, 96.20853491456838)
row = (20.0, 169.0, 87.95603340393687)
row = (20.0, 269.0, 76.552330529634)
row = (20.0, 157.0, 62.174348310425984)
row = (20.0, 45.0, 87.24630898078054)
row = (20.0, 119.0, 72.22964035406514)
row = (20.0, 6.0, 68.79912946173316)
row = (20.0, 55.0, 69.70888837806223)
row = (20.0, 181.0, 75.60467853006767)
row = (20.0, 29.0, 89.44863936196741)
row = (20.0, 191.0, 70.8746048403789)
row = (20.0, 115.0, 76.46257955612003)
row = (20.0, 223.0, 85.57603692639275)
row = (20.0, 82.0, 75.74663299811633)
row = (20.0, 202.0, 63.98826883597629)
row = (20.0, 217.0, 83.12307774000028)
row = (20.0, 231.0, 74.56470147285671)
row = (20.0, 233.0, 74.26776034714695)
row = (20.0, 99.0, 73.12885627782046)
row = (20.0, 104.0, 82.4962974567967)
row = (20.0, 277.0, 79.66989090967498)
row = (20.0, 86.0, 72.76502773193036)
row = (20.0, 214.0, 76.20593721010461)
row = (20.0, 227.0, 66.04767139580422)
row = (20.0, 95.0, 74.8949354793628)
row = (21.0, 129.0, 74.08880385132726)
row = (21.0, 49.0, 78.05118652794951)
row = (21.0, 130.0, 74.45788084115824)
row = (21.0, 222.0, 63.95153096918206)
row = (21.0, 140.0, 71.11550280087161)
row = (21.0, 218.0, 79.76620279486728)
row = (21.0, 145.0, 82.64220772895025)
row = (21.0, 109.0, 59.17190981634542)
row = (21.0, 112.0, 65.56071810781779)
row = (21.0, 117.0, 75.72199570496133)
row = (21.0, 277.0, 78.02876947694337)
row = (21.0, 239.0, 82.18206355293862)
row = (21.0, 200.0, 82.20289251904084)
row = (21.0, 141.0, 63.519272639590724)
row = (21.0, 270.0, 73.31742780281544)
row = (21.0, 275.0, 94.70287970713068)
row = (21.0, 11.0, 75.0107467629237)
row = (21.0, 102.0, 77.08572395776243)
row = (21.0, 64.0, 82.42140390647045)
row = (21.0, 10.0, 80.08503148855843)
row = (21.0, 16.0, 80.18324026532045)

In [3]:
# get the list one by one
cursor.execute("SELECT * FROM Teachers;") 
row = cursor.fetchone() 
while row: 
    print(row )
    row = cursor.fetchone()

(1, 'Kaylea', 'Monzingo', 'F')
(2, 'Amanda', 'Dworkin', 'F')
(3, 'Jordyn', 'Baron', 'F')
(4, 'Katherine', 'Dibari', 'F')
(5, 'Heather', 'Metcalf', 'F')
(6, 'Madison', 'Batan', 'F')
(7, 'Cortnee', 'Kinderknecht', 'F')
(8, 'Caroline', 'Knuesel', 'F')
(9, 'Katerina', 'Young', 'F')
(10, 'Mackenzie', 'Olsen', 'F')
(11, 'Kaitlin', 'Delude', 'F')
(12, 'Mikayla', 'Russell', 'F')
(13, 'Alexander', 'Watts', 'M')
(14, 'Jeffrey', 'Batzel', 'M')
(15, 'Conor', 'Mckittrick', 'M')
(16, 'Robert', 'Aivazian', 'M')
(17, 'Tanner', 'Fitzsimons', 'M')
(18, 'Daniel', 'Bland', 'M')
(19, 'Terran', 'Beaty', 'M')
(20, 'Zachary', 'Healy', 'M')
(21, 'Ernest', 'Stoyanov', 'M')
(22, 'Darick', 'Hess', 'M')
(23, 'Maxwell', 'Romkee', 'M')
(24, 'Keegan', 'Price', 'M')

In [4]:
### get the first 5 records
cursor.execute("SELECT * FROM Courses;") 
row = cursor.fetchmany(5) 
print(row)

[(1, 'English Begginers', 1, 15), (2, 'Advanced English', 1, 15), (3, 'Proffesional English', 1, 15), (4, 'Mathematics 101', 2, 2), (5, 'Matematics Advanced', 2, 13)]

In [5]:
### get all records
cursor.execute("SELECT * FROM Courses;") 
row = cursor.fetchall() 

print(row)

[(1, 'English Begginers', 1, 15), (2, 'Advanced English', 1, 15), (3, 'Proffesional English', 1, 15), (4, 'Mathematics 101', 2, 2), (5, 'Matematics Advanced', 2, 13), (6, 'Algebra', 2, 13), (7, 'Geometry', 2, 13), (8, 'Chemistry', 2, 14), (9, 'Physics', 2, 13), (10, 'Biology', 2, 3), (11, 'Genetics', 2, 19), (12, 'Neurobiology', 2, 19), (13, 'Statistics', 2, 5), (14, 'Computer Science', 2, 1), (15, 'Data Science', 2, 10), (16, 'SQL', 2, 20), (17, 'Python', 2, 19), (18, 'R', 2, 17), (19, 'Java', 2, 22), (20, 'History of Arts', 3, 8), (21, 'Painting', 3, 9), (22, 'Sculpture', 3, 16), (23, 'Musicology', 3, 6), (24, 'Theater', 3, 21), (25, 'Literature', 3, 18), (26, 'Basketball', 4, 4), (27, 'Volleyball', 4, 11), (28, 'Football', 4, 7), (29, 'Tenis', 4, 24), (30, 'Swimming', 4, 12), (31, 'Gymnastics', 4, 23)]

#### Pass a SQL Table to a Pandas DataFrame

In [12]:
import pandas as pd
import pyodbc 

cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                      "Server=WIN10\TCDS;"
                      "Database=COLLEGE;"
                      "Trusted_Connection=yes;")

df = pd.read_sql("SELECT * FROM Courses",cnxn)
df.head()

   CourseId            CourseName  DepartmentID  TeacherId
0         1     English Begginers             1         15
1         2      Advanced English             1         15
2         3  Proffesional English             1         15
3         4       Mathematics 101             2          2
4         5   Matematics Advanced             2         13

## SQLite3

In [47]:
import sqlite3
conn = sqlite3.connect("tcds_example.db")
c = conn.cursor()

In [37]:
c.execute('''CREATE TABLE Proglangs (
             LangId INT,
             LangName VARCHAR(50),
             IsObjectOriented INT);''')

In [38]:
c.execute("INSERT INTO Proglangs VALUES (1,'Perl',1);")
c.execute("INSERT INTO Proglangs VALUES (2,'C',0);")
c.execute("INSERT INTO Proglangs VALUES (3,'Basic',0);")
c.execute("INSERT INTO Proglangs VALUES (4,'C++',1);")
c.execute("INSERT INTO Proglangs VALUES (5,'Java',1);")
c.execute("INSERT INTO Proglangs VALUES (6,'Python',1);")
c.execute("INSERT INTO Proglangs VALUES (7,'Rubi',1);")
c.execute("INSERT INTO Proglangs VALUES (8,'Pascal',0);")
c.execute("INSERT INTO Proglangs VALUES (9,'Fortrant',0);")
c.execute("INSERT INTO Proglangs VALUES (10,'Scheme',0);")
c.execute("INSERT INTO Proglangs VALUES (11,'Haskell',0);")
c.execute("INSERT INTO Proglangs VALUES (12,'PHP',1);")

In [39]:
c.execute("SELECT * FROM Proglangs")

In [40]:
### get the first row
print(c.fetchone())

(1, 'Perl', 1)

In [41]:
### get the next row
print(c.fetchone())

(2, 'C', 0)

In [42]:
### get the next row
print(c.fetchone())

(3, 'Basic', 0)

In [43]:
## get all the data in the table beginind from the cursor (cursor is now on the fourth row!)
print(c.fetchall())

[(4, 'C++', 1), (5, 'Java', 1), (6, 'Python', 1), (7, 'Rubi', 1), (8, 'Pascal', 0), (9, 'Fortrant', 0), (10, 'Scheme', 0), (11, 'Haskell', 0), (12, 'PHP', 1)]

In [44]:
### print the rows obtined from a specific query
for row in c.execute("SELECT * FROM Proglangs WHERE IsObjectOriented = 1"):
    print(row)

(1, 'Perl', 1)
(4, 'C++', 1)
(5, 'Java', 1)
(6, 'Python', 1)
(7, 'Rubi', 1)
(12, 'PHP', 1)

# Regular Expressions in Python
 


<img src="https://i.pinimg.com/originals/19/44/b1/1944b14175b0136b578287c0169a5c69.png" width='318' height='450' style='float: left;'></img>

In [62]:
import re

In [63]:
str = '''
Name: Mr. Peter Johns
eMail: peter@gmail.com
Phone: (54)-333-25-22

Name: Mrs. Mary Green
eMail: mary@yahoo.com
Phone: (50)-231-00-19

Name: Mr. George Brown
eMail: gbrn@bbb.com
Phone: (49)-882-55-51
'''

In [64]:
#str='abc@example.com'
match=re.search(r'\w+@\w+.\w+',str) #return abc@example.com

match

In [65]:
#num='555-555-5555'
match_num=re.search(r'(\W\d{2}\W.\d{3}.\d{2}.\d{2})',str) 
match_num

In [66]:
### Print eMails
pattern = re.compile(r'\w+@\w+.\w+')
matches = pattern.finditer(str)

matches

for match in matches:
    print(match)

<_sre.SRE_Match object; span=(30, 45), match='peter@gmail.com'>
<_sre.SRE_Match object; span=(98, 112), match='mary@yahoo.com'>
<_sre.SRE_Match object; span=(166, 178), match='gbrn@bbb.com'>

In [67]:
### Print phone numbers
pattern = re.compile(r'(\W\d{2}\W.\d{3}.\d{2}.\d{2})')
matches = pattern.finditer(str)

for match in matches:
    print(match)

<_sre.SRE_Match object; span=(53, 67), match='(54)-333-25-22'>
<_sre.SRE_Match object; span=(120, 134), match='(50)-231-00-19'>
<_sre.SRE_Match object; span=(186, 200), match='(49)-882-55-51'>

In [68]:
### Print the names of the males (Mr.) in the list
### The ? sign indicates that the point is optional
pattern = re.compile(r'Mr\.?\s[A-Z]\w*\s[A-Z]\w*')
matches = pattern.finditer(str)

for match in matches:
    print(match)

<_sre.SRE_Match object; span=(7, 22), match='Mr. Peter Johns'>
<_sre.SRE_Match object; span=(142, 158), match='Mr. George Brown'>

In [69]:
### Print the names of the males (Mr.) in the list
### Print phone numbers
pattern = re.compile(r'(Mr|Mrs)\.?\s[A-Z]\w*\s[A-Z]\w*')
matches = pattern.finditer(str)

for match in matches:
    print(match)

<_sre.SRE_Match object; span=(7, 22), match='Mr. Peter Johns'>
<_sre.SRE_Match object; span=(75, 90), match='Mrs. Mary Green'>
<_sre.SRE_Match object; span=(142, 158), match='Mr. George Brown'>

In [70]:
urls = '''
http://www.mysite.com
https://google.com/search?q=regular+expression+in+python
https://mail.google.com/
http://rstudio.somesite.org:8787/
http://yahoo.com
'''

In [71]:
pattern = re.compile(r'https?://(\w+.)?\w+.(com|org)')
matches = pattern.finditer(urls)

for match in matches:
    print(match)

<_sre.SRE_Match object; span=(1, 22), match='http://www.mysite.com'>
<_sre.SRE_Match object; span=(23, 41), match='https://google.com'>
<_sre.SRE_Match object; span=(80, 103), match='https://mail.google.com'>
<_sre.SRE_Match object; span=(105, 132), match='http://rstudio.somesite.org'>
<_sre.SRE_Match object; span=(139, 155), match='http://yahoo.com'>

# Virtual environments (pipenv)
#### Why virtual environments
#### How to create a virtual environment
#### Using and sharing VE

<a href="https://dev.to/rosejcday/do-you-use-docker-or-virtualenv-for-python---3de4"> virtenv/pipenv </a>

#### Packrat (R)

---
 

http://www.markbetz.net/2014/01/17/python-if-you-have-docker-do-you-need-virtualenv/

# Containers (Docker)
#### What is a virtual container?
#### Differences between VE and containers
#### How to generate a virutual container
#### How to enter a container
#### Sharing containers

Ubuntu docker image: 
https://github.com/tianon/docker-brew-ubuntu-core/tree/59aa7dfef17153ecc812adbf26516675ce67e8aa/bionic

https://hub.docker.com/explore/

---
# More resources on Dockers

Using Linux dev environment inside Windows10 (no virtual machine needed!)
https://nickjanetakis.com/blog/using-wsl-and-mobaxterm-to-create-a-linux-dev-environment-on-windows

Dockers for data science
https://www.analyticsvidhya.com/blog/2017/11/reproducible-data-science-docker-for-data-science/

https://github.com/sachinruk/deepschool.io/

https://www.kdnuggets.com/2018/01/docker-data-science.html