In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
df = pd.read_csv("../data/project_flatfile.csv")
df.head()

C:\Users\Guy\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,item_nbr,store_nbr,Year,month,city,state,store_type,store_cluster,prev_month_sales,...,cluster9,cluster10,cluster11,cluster12,cluster13,cluster14,cluster15,cluster16,cluster17,total_unit_sales
0,1,1003679,1,2013,4,Quito,Pichincha,D,13,46.0,...,0,0,0,0,1,0,0,0,0,44.0
1,2,1003679,1,2013,5,Quito,Pichincha,D,13,44.0,...,0,0,0,0,1,0,0,0,0,44.0
2,3,1003679,1,2013,6,Quito,Pichincha,D,13,44.0,...,0,0,0,0,1,0,0,0,0,47.0
3,4,1003679,1,2013,7,Quito,Pichincha,D,13,47.0,...,0,0,0,0,1,0,0,0,0,29.0
4,5,1003679,1,2013,8,Quito,Pichincha,D,13,29.0,...,0,0,0,0,1,0,0,0,0,38.0

In [4]:
from importlib import reload
import pyMechkar as mechkar
reload(mechkar)

In [5]:
tab1 = mechkar.pyMechkar().Table1(data=df, y='total_unit_sales')
tab1

Factorizing... please wait
***********************************************************************************
['The variable city is not well defined. This data type is not allowed in Table1... avoided', 'The variable state is not well defined. This data type is not allowed in Table1... avoided', 'The variable family is not well defined. This data type is not allowed in Table1... avoided']

TypeError: data type "category" not understood

In [6]:
mechkar.pyMechkar().exploreData(data=df, y='species')
,,

Directory  report  already exists